{#
/**
 * @file Implementation for a branding block.
 *
 * Each branding element variable (logo, name, slogan) is only available if
 * enabled in the block configuration.
 *
 * Available variables:
 * - site_logo: Logo for site as defined in Appearance or theme settings.
 * - site_name: Name for site as defined in Site information settings.
 * - site_slogan: Slogan for site as defined in Site information settings.
 */
#}
{% if site_logo or site_name %}
  <a href="{{ path('<front>') }}" aria-label="{{ 'Go to the official City of Portland, Oregon website homepage.'|t }}" title="{{ 'Go to the official City of Portland, Oregon website homepage.'|t }}" rel="home">
    {% if site_logo %}
      <img src="{{ site_logo }}" alt="{{ "Official City of Portland seal. The image depicts Portlandia holding her trident backdropped by mountain and river, accompanied by the text 'City of Portland, Oregon 1851'"|t }}" class="img-fluid" />
    {% endif %}
    {{ site_name }}
  </a>
{% endif %}
