{#
/**
 * @file Implementation for a branding block.
 *
 * Each branding element variable (logo, name, slogan) is only available if
 * enabled in the block configuration.
 *
 * Available variables:
 * - site_logo: Logo for site as defined in Appearance or theme settings.
 * - site_name: Name for site as defined in Site information settings.
 * - site_slogan: Slogan for site as defined in Site information settings.
 */
#}
{% if site_logo or site_name %}
  <a href="{{ path('<front>') }}" class="align-self-center" aria-label="{{ 'Go to the official City of Portland, Oregon website homepage.'|t }}" title="{{ 'Go to the official City of Portland, Oregon website homepage.'|t }}" rel="home">
    {% if site_logo %}
      <picture>
        <source media="(max-width: 767.98px)" 
            srcset="/themes/custom/cloudy/images/brand/seal-logo-mobile.png, 
            /themes/custom/cloudy/images/brand/seal-logo-mobile-2x.png 2x,
            /themes/custom/cloudy/images/brand/seal-logo-mobile-3x.png 3x" />
        <source media="(min-width: 768px)" 
            srcset="/themes/custom/cloudy/images/brand/seal-logo.png, 
            /themes/custom/cloudy/images/brand/seal-logo-2x.png 2x,
            /themes/custom/cloudy/images/brand/seal-logo-3x.png 3x" />
        <img src="{{ site_logo }}" 
            alt="{{ "Official City of Portland seal. The image depicts Portlandia holding her trident backdropped by mountain and river, accompanied by the text 'City of Portland, Oregon 1851'"|t }}" 
            class="img-fluid" />
      </picture>
    {% endif %}
    {{ site_name }}
  </a>
{% endif %}
{% if site_slogan %}
  <div class="d-inline-block align-top site-name-slogan">
    {{ site_slogan }}
  </div>
{% endif %}
