{% embed 'block.html.twig' with {

} %}
  {% block block%}
    <div{{attributes.addClass(classes).addClass(block_classes)}}>
      {% block label %}
        {{ title_prefix }}
        {% if label %}
          <h2{{title_attributes}}>
            {{ label }}</h2>
        {% endif %}
        {{ title_suffix }}
      {% endblock %}
      {% block button %}
        <button aria-controls="collapseFilter" aria-expanded="false" class="btn btn-primary" data-target="#collapseFilter" data-toggle="collapse" type="button">Filters</button>
      {% endblock %}
      {% block content %}
        <div{{content_attributes.setAttribute('id','collapseFilter').addClass(['content','collapse'])}}>
          {{ content }}
        </div>
      {% endblock %}
    </div>
  {% endblock %}
{% endembed %}
