{# @TODO: How to remove bootstrap theme's default .img-responsive class on image fields, which doesn't work with .media-left, etc. For now, I'm using .pull-left as a fix. #}
<div id="{{ id }}" {{ attributes.addClass(classes) }}>
    {% for key, row in rows -%}
          <div class="media">

              {% if row.image_class == "media-left" %}
                  <div class="pull-left">
                      {{ row.image }}
                  </div>
              {% endif %}

              {% if row.image_class == "media-middle" %}
                  <div class="media-middle">
                      {{ row.image }}
                  </div>
              {% endif %}

              <div class="media-body">
                    {% if row.heading %}
                          <h4 class="media-heading">
                              {{ row.heading }}
                          </h4>
                    {% endif %}
                    {% if row.body %}
                        {{ row.body }}
                    {% endif %}

                  {% if row.image_class == "media-right" %}
                      <div class="pull-right">
                          {{ row.image }}
                      </div>
                  {% endif %}

              </div>
          </div>
    {%- endfor %}
</div>

