{{ form }}

{# NOTE: we decided to hide this title as it did not add meaning.
{% if search_title %}
  <h2>{{ search_title }}</h2>
{% endif %} #}

<p class="mt-6">
  {% if no_of_results %}
    {{ no_of_results }}.
    {{ 'To improve search results, be specific. Use quotes to search for exact text.'|t }}
  {% else %}
    {{ no_results_found }}
  {% endif %}
</p>

{{ search_help }}

{{ results }}

{{ pager }}
