{{ form }}

{% if search_title %}
  <h2>{{ search_title }}</h2>
{% endif %}

{% set pathParts = path('<current>')|split('/') %}

<p class="mt-3">
  {% if no_of_results %}
    {{ no_of_results }}.
  {% else %}
    {{ no_results_found }}
  {% endif %}
</p>
<div class="alert alert-info">If you did not find the information you need, it may not be migrated yet. <a href="https://www.portlandoregon.gov/?mode=search&search_action=SearchResults&top_category_tree_id=25777&filter_category_tree_id=25776&search_category_tree_id=25777&submit=Search&search_words={{ pathParts[pathParts|length - 1] }}">Try your search on PortlandOregon.gov</a>.</div>

{{ search_help }}

{{ results }}

{% if no_of_results > 5 %}
  <p>If you did not find the information you need, it may not be migrated yet. <a href="https://www.portlandoregon.gov/?mode=search&search_action=SearchResults&top_category_tree_id=25777&filter_category_tree_id=25776&search_category_tree_id=25777&submit=Search&search_words={{ pathParts[pathParts|length - 1] }}">Try your search on PortlandOregon.gov</a>.</p>
{% endif %}

{{ pager }}
