{{ form }}

{% if search_title %}
  <h2>{{ search_title }}</h2>
{% endif %}

{% set pathParts = path('<current>')|split('/') %}

{% if no_of_results %}
  <p>{{ no_of_results }}. </p>
  <p>The information you are looking for may not be migrated yet. <a href="https://www.portlandoregon.gov/?mode=search&search_action=SearchResults&top_category_tree_id=25777&filter_category_tree_id=25776&search_category_tree_id=25777&submit=Search&search_words={{ pathParts[pathParts|length - 1] }}">Try your search on PortlandOregon.gov</a>.</p>
{% endif %}

{{ no_results_found }}

{% if no_of_results == 0 %}
<p>The information you are looking for may not be migrated yet. <a href="https://www.portlandoregon.gov/?mode=search&search_action=SearchResults&top_category_tree_id=25777&filter_category_tree_id=25776&search_category_tree_id=25777&search_words={{ pathParts[pathParts|length - 1] }}&submit=Search">Try your search on PortlandOregon.gov</a>.
{% endif %}

{{ search_help }}

{{ results }}

{{ pager }}
