{{ form }}

{# NOTE: we decided to hide this title as it did not add meaning.
{% if search_title %}
  <h2>{{ search_title }}</h2>
{% endif %} #}

<p class="mt-6">
  {% if no_of_results %}
    {{ no_of_results }}.
  {% else %}
    {{ no_results_found }}
    {{ Not finding what you need? Try a more complex search with more than one word or with a specific text like 'Land Use Review Appeals'}}
  {% endif %}
</p>

{% if get.keys|length > 0 %}
  <div class="message mb-4">If you did not find the information you need, it may not be migrated yet. <a href="https://www.portlandoregon.gov/27312?mode=search&search_action=SearchResults&top_category_tree_id=25777&filter_category_tree_id=25776&search_category_tree_id=25777&submit=Search&search_words={{ get.keys }}">Try your search on PortlandOregon.gov</a>.</div>
{% endif %}

{{ search_help }}

{{ results }}

{{ pager }}

{% if no_of_results > 5 %}
  <div class="message">If you did not find the information you need, it may not be migrated yet. <a href="https://www.portlandoregon.gov/27312?mode=search&search_action=SearchResults&top_category_tree_id=25777&filter_category_tree_id=25776&search_category_tree_id=25777&submit=Search&search_words={{ get.keys }}">Try your search on PortlandOregon.gov</a>.</div>
{% endif %}
