<div class="max-w-sm w-full lg:max-w-full lg:flex">
 {% if image %}
    <div class="h-auto lg:w-48 flex-none bg-cover rounded-t lg:rounded-t-none lg:rounded-l text-center overflow-hidden">
        {{ image }}
    </div>
  {% endif %}
  <div class="border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 bg-white rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal">
    <div class="mb-8">  
      <h{{ heading_level }} class="text-gray-900 font-bold text-xl mb-2">{{ title }}</h{{ heading_level }}>
      <p class="text-gray-700 text-base">{{ body }}</p>
    </div>
  </div>
</div>