{% set custom_date = element['field_display_date'][0]|render|trim %}
{% set show_custom_date =
  element['field_display_date_toggle'][0]['#markup'] == 1
%}
{% set start_date = element['field_start_date'][0] %}
{% set end_date = element['field_end_date'][0] %}
{% set start_time = element['field_start_time'][0] %}
{% set end_time = element['field_end_time'][0] %}

{% embed 'field-group-html-element.html.twig'
  with {
    classes: [
      'd-flex',
      'field',
      'field-group',
    ]
  }
%}
  {% block content %}
    {% apply spaceless %}
      {% if start_date is not empty or custom_date is not empty and show_custom_date %}
        {% include '@elements/icon/fa.twig' with {
          classes: ['pt-1','pe-2'],
          name: 'calendar',
        } only %}
          <span class="pe-4">
            {% if custom_date is not empty and show_custom_date %}
              {{ custom_date }}
            {% elseif start_date is not empty and end_date is not empty %}
              {{ start_date }}
              <span class="mx-1" aria-label="{{ 'through'|t }}">&ndash;</span>
              {{ end_date }}
            {% else %}
              {{ start_date }}
            {% endif %}
          </span>
          {% if all_day is not empty or start_time is not empty %}
            <span class="pe-4">
              {% if start_time is not empty and end_time is not empty %}
                {{ start_time }}
                <span class="datetime mx-1 mb-2" aria-label="{{ 'to'|t }}">&ndash;</span>
                {{ end_time }}
              {% else %}
                {{ start_time }}
              {% endif %}
            </span>
          {% endif %}
      {% endif %}
    {% endapply %}
  {% endblock %}
{% endembed %}
