{% embed "field.html.twig" %}
  {% block label %}
    {% if label_display == "above" %}
      <h3{{title_attributes.addClass('h5', 'mb-0')}}>{{ label }}</h3>
    {% elseif label_display != "hidden" %}
      <div{{title_attributes.addClass(title_classes)}}>{{ label }}</div>
    {% endif %}
  {% endblock %}
  {% block content %}
    {% for item in items %}
      {{ item.content }}
    {% endfor %}
  {% endblock %}
{% endembed %}
