{% embed "field-group-html-element.html.twig" with {
  'margin': '2'
} %}
  {% set display_date = element["field_display_date"]|render %}
  {% set start_date = element["field_start_date"]|render %}
  {% set end_date = element["field_end_date"]|render %}
  {% block group %}
    {% if field_display_date.value|trim or field_start_date.value %}
      {{ parent() }}
    {% endif %}
  {% endblock %}
  {% block content %}
    <span class="flex items-center">
      {% if field_display_date.value|trim %}
        {{ display_date }}
      {% elseif field_start_date.value and field_end_date.value %}
        {{ start_date }}
        <span class="mx-1">{{ 'to'|t }}</span>
        {{ end_date }}
      {% else %}
        {{ start_date }}
      {% endif %}
    </span>
  {% endblock %}
{% endembed %}
