{% embed 'field.html.twig' with {
  'margin' : '0'
  } %}
  {% block content %}
    {% set icon_map = {
      'application/pdf': {
        icon: 'fa-file-pdf',
        desc: 'Download PDF file'|t,
      },
      'application/msword': {
        icon: 'fa-file-word',
        desc: 'Download Word file'|t,
      },
      'application/vnd.openxmlformats-officedocument.wordprocessingml.document': {
        icon: 'fa-file-word',
        desc: 'Download Word file'|t,
      },
      'application/vnd.ms-excel': {
        icon: 'fa-file-excel',
        desc: 'Download Excel file'|t,
      },
      'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet': {
        icon: 'fa-file-excel',
        desc: 'Download Excel file'|t,
      },
      'application/vnd.ms-powerpoint': {
        icon: 'fa-file-powerpoint',
        desc: 'Download PowerPoint'|t,
      },
      'application/vnd.openxmlformats-officedocument.presentationml.presentation': {
        icon: 'fa-file-powerpoint',
        desc: 'Download PowerPoint file'|t,
      },
    } %}

    {%- for item in items if item.content|render|striptags|trim is not empty -%}
      <div{{item.attributes.addClass(item_classes)}}>
        {% set file_url = item.content['#url'].uri %}
        {% set file_display_name = element['#object'].name.value %}
        {% set mime_type = element['#object'].field_mime_type.value %}
        {% set file_size = element['#object'].field_file_size.value %}
        {% set text = file_display_name|default(link['#title'])|spaceless %}
        {% if mime_type is empty %}
          {% set icon_name = 'archives' %}
          {% set file_desc = 'Download file'|t %}
        {% else %}
          {% set icon_name = icon_map[mime_type].icon ?? 'fa-file-alt' %}
          {% set file_desc = icon_map[mime_type].desc ?? 'Download file' %}
        {% endif %}
          {% apply spaceless %}
          <a href="{{ file_url }}">
            <span class="visually-hidden">{{- file_desc -}}</span>
            {%- if icon_name == "archives" %}
              {%- include '@elements/icon/icon.twig' with {
                name: 'archives',
              } only -%}
            {% else %}
              {%- include '@elements/icon/fa.twig' with {
                name: icon_name,
              } only -%}
            {% endif -%}
            {{- text|spaceless -}}
          </a>
          {% if file_size and file_size > 0 %}
          <span class="ms-2 text-nowrap" dir="auto">{{ file_size|render|striptags|format_size }}</span>
          {% endif %}
          {% endapply %}
      </div>
    {%- endfor -%}
  {% endblock %}
{% endembed %}
