{# Custom template to display press release images with a link to view full size image #}
{% for item in items %}
    {{ item.content }}
    {% set image_url = file_url(item.content['#item'].entity.uri.value) %}
    <a href="{{ image_url }}" class="view-image">
        <i class="fas fa-image"></i>
        {{ 'View full size image'|t }} <span class="visually-hidden">{{ 'of'|t }} {{ item.content['#item'].alt }}</span>
    </a>
{% endfor %}
