{%
  set title_classes = title_classes|default([
    'mb-8',
    label_display == 'visually_hidden' ? 'sr-only'
  ])
%}

<hr class="separator mb-8 mt-0">
{% block label %}
  {% if label_display == "above" %}
    <h2{{ title_attributes.addClass(title_classes) }}>{{ label }}</h2>
  {% elseif label_display != "hidden" %}
    <div{{ title_attributes.addClass(title_classes) }}>{{ label }}</div>
  {% endif %}
{% endblock %}
<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4 mb-2">
  {% for item in items %}
      {{ item.content }}
  {% endfor %}
</div>
