{% embed "field-group-html-element.html.twig" with {
  'margin': '2'
} %}
  {% set all_day = element["field_all_day"]|render %}
  {% set start_time = element["field_start_time"]|render %}
  {% set end_time = element["field_end_time"]|render %}
  {% block group %}
    {% if all_day|striptags|trim is not empty or start_time is not empty %}
      {{ parent() }}
    {% endif %}
  {% endblock %}
  {% block content %}
    <span class="flex items-center">
      {% if all_day|striptags|trim is not empty %}
        {{ all_day }}
      {% elseif start_time is not empty and end_time is not empty %}
        {{ start_time }}
        <span class="mx-1">{{ 'to'|t }}</span>
        {{ end_time }}
      {% else %}
        {{ start_time }}
      {% endif %}
    </span>
  {% endblock %}
{% endembed %}
