{% embed 'field.html.twig' %}
  {% block content %}
    {% if multiple %}
      <div class="field__items">
        {% for item in items %}
          <div{{ item.attributes.addClass(item_classes) }}>
            {{ icon }}
            <time class="datetime">{{ item.content }}</time>
          </div>
        {% endfor %}
      </div>
    {% else %}
      {% for item in items %}
        <div{{ item.attributes.addClass(item_classes) }}>
          {{ icon }}
          <time datetime="{{ item.content }}" class="datetime">{{ item.content }}</time>
        </div>
      {% endfor %}
    {% endif %}
  {% endblock %}
{% endembed %}

