{#
/**
 * @file
 * Theme override for a link to a file.
 *
 * Available variables:
 * - attributes: The HTML attributes for the containing element.
 * - link: A link to the file.
 * - icon: The icon image representing the file type.
 *
 * @see template_preprocess_file_link()
 */
#}
{% set url = file_url(file.uri.value) %}

{% set text = file_display_name|default(link['#title'])|default(file.filename.value) %}

{% set icon_map = {
  'application/pdf': {
    icon: 'fa-file-pdf',
    desc: 'Download PDF file',
  },
  'application/msword': {
    icon: 'fa-file-word',
    desc: 'Download Word file',
  },
  'application/vnd.openxmlformats-officedocument.wordprocessingml.document': {
    icon: 'fa-file-word',
    desc: 'Download Word file',
  },
  'application/vnd.ms-excel': {
    icon: 'fa-file-excel',
    desc: 'Download Excel file',
  },
  'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet': {
    icon: 'fa-file-excel',
    desc: 'Download Excel file',
  },
  'application/vnd.ms-powerpoint': {
    icon: 'fa-file-powerpoint',
    desc: 'Download PowerPoint',
  },
  'application/vnd.openxmlformats-officedocument.presentationml.presentation': {
    icon: 'fa-file-powerpoint',
    desc: 'Download PowerPoint file',
  },
} %}

{% set icon_name = icon_map[mime_type].icon ?? 'fa-file-alt' %}
{% set file_desc = icon_map[mime_type].desc ?? 'Download file' %}

<div class="d-flex flex-wrap align-items-baseline">
  <a download="{{ file_desc }}" href="{{ url }}">
    <span class="sr-only">{{ file_desc }}</span>
    {% include '@elements/icon/fa.twig' with {
      name: icon_name,
    } only %}
    {{ text }}
  </a>
  <span class="ml-2">{{ file_size_string(file.filesize.value) }}</span>
</div>
