{#
/**
 * @file
 * Theme override for a link to a file.
 *
 * Available variables:
 * - attributes: The HTML attributes for the containing element.
 * - link: A link to the file.
 * - icon: The icon image representing the file type.
 *
 * @see template_preprocess_file_link()
 */
#}

{# if url wasn't provided by field--media--field-document.html.twig parent template, then use the file url #}
{% set url = url ? url : file_url(file.uri.value) %}

{% set text = file_display_name|default(link['#title'])|default(file.filename.value) %}

{% set icon_map = {
  'application/pdf': {
    icon: 'fa-file-pdf',
    desc: 'Download PDF file',
    ext: 'PDF',
  },
  'application/msword': {
    icon: 'fa-file-word',
    desc: 'Download Word file',
    ext: 'DOC',
  },
  'application/vnd.openxmlformats-officedocument.wordprocessingml.document': {
    icon: 'fa-file-word',
    desc: 'Download Word file',
    ext: 'DOCX',
  },
  'application/vnd.ms-excel': {
    icon: 'fa-file-excel',
    desc: 'Download Excel file',
    ext: 'XLS',
  },
  'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet': {
    icon: 'fa-file-excel',
    desc: 'Download Excel file',
    ext: 'XLSX',
  },
  'application/vnd.ms-powerpoint': {
    icon: 'fa-file-powerpoint',
    desc: 'Download PowerPoint',
    ext: 'PPT',
  },
  'application/vnd.openxmlformats-officedocument.presentationml.presentation': {
    icon: 'fa-file-powerpoint',
    desc: 'Download PowerPoint file',
    ext: 'PPTX',
  },
  'text/plain': {
    icon: 'fa-file-alt',
    desc: 'Download text file',
    ext: 'TXT',
  },
} %}

{% set icon_name = icon_map[mime_type].icon ?? 'fa-file-alt' %}
{% set file_desc = icon_map[mime_type].desc ?? 'Download file' %}
{% set file_ext = icon_map[mime_type].ext ?? '' %}

<div class="inline-flex">
  <a href="{{ url }}" {% if url != file_url(file.uri.value) %}class="document--download" data-file-ext="{{ file_ext }}"{% endif %}>
    <span class="sr-only">{{ file_desc }}</span>
    {% include '@elements/icon/fa.twig' with {
      name: icon_name,
    } only %}
    {{ text }}
  </a>
  <span class="ml-2 text-nowrap">{{ file_size_string(file.filesize.value) }}</span>
</div>
