{#
/**
 * @file
 * Theme override for a link to a file.
 *
 * Available variables:
 * - attributes: The HTML attributes for the containing element.
 * - link: A link to the file.
 * - icon: The icon image representing the file type.
 *
 * @see template_preprocess_file_link()
 */
#}
{% set url = file_url(file.uri.value) %}

{% set text = file_display_name|default(link['#title'])|default(file.filename.value)|trim %}

{% set icon_map = {
  'application/pdf': {
    icon: 'fa-file-pdf',
    desc: 'Download PDF file'|t,
  },
  'application/msword': {
    icon: 'fa-file-word',
    desc: 'Download Word file'|t,
  },
  'application/vnd.openxmlformats-officedocument.wordprocessingml.document': {
    icon: 'fa-file-word',
    desc: 'Download Word file'|t,
  },
  'application/vnd.ms-excel': {
    icon: 'fa-file-excel',
    desc: 'Download Excel file'|t,
  },
  'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet': {
    icon: 'fa-file-excel',
    desc: 'Download Excel file'|t,
  },
  'application/vnd.ms-powerpoint': {
    icon: 'fa-file-powerpoint',
    desc: 'Download PowerPoint'|t,
  },
  'application/vnd.openxmlformats-officedocument.presentationml.presentation': {
    icon: 'fa-file-powerpoint',
    desc: 'Download PowerPoint file'|t,
  },
} %}

{% set icon_name = icon_map[mime_type].icon ?? 'fa-file-alt' %}
{% set file_desc = icon_map[mime_type].desc ?? 'Download file'|t %}
{% apply spaceless %}
<div class="inline-flex">
	<a class="document--download" href="{{ (document_link is empty) ? url : document_link }}">
		<span class="sr-only">{{ file_desc }}</span>
		{%- include '@elements/icon/fa.twig' with {
      name: icon_name,
    } only -%}
		{{- text -}}
	</a>
  {% if document_size %}
	<span class="ml-2 text-nowrap">{{ document_size|render|striptags|format_size }}</span>
  {% elseif file.filesize.value|render|striptags %}
  <span class="ml-2 text-nowrap">{{ file.filesize.value|render|striptags|format_size }}</span>
  {% endif %}
</div>
{% endapply %}
