{% set classes = [
  'cloudy-tile',
] %}

<a class="{{ classes|join(' ') }}" href="{{link}}">
  {% if img %}
    <div class="cloudy-tile__frame">
      <img class="cloudy-tile__image" src="{{img.src}}" alt="{{img.alt}}"/>
    </div>
  {% endif %}
  <div class="cloudy-tile__body">
    {% if is_draft %}
      {% include "@components/badge/badge.twig" with {
        "text": "Unpublished",
        "type": "danger",
      } only %}
    {% endif %}
    <h3 class="cloudy-tile__text">
      {{text}}
    </h3>
    {% if eyebrow %}
      {# @todo replace the below eyebrow usage with the cloudy eyebrow component once available#}
      <span class="cloudy-tile__eyebrow">{{ eyebrow|upper }}</span>
    {% endif %}
    {% if date %}
      <span class="cloudy-tile__date"><b>Posted on</b> {{ date }}</span>
    {% endif %}
  </div>
</a>
