{% set item_classes =
  item_classes|default(
    [
      'tile',
      'd-flex',
      item_alignment ? 'align-items-' ~ item_alignment,
      'text-decoration-none',
      'p-4',
      image ? '' : 'flex-column',
      'flex-grow-1'
    ]
  )
%}

<a href="{{ url }}" class="{{ item_classes|join(' ')|trim }}">
  {% if image %}
    <div class="mr-4">{{ image }}</div>
    <div class="d-flex flex-column">
  {% endif %}
  <span class="h5 mb-0">{{ title }}</span>
  <span class="text-dark">{{ text }}</span>
  {% if image %}
    </div>
  {% endif %}
</a>
