{% set isColor = isColor|default(true) %}

{% set classes = [
  'cloudy-tile',
  isColor ? 'cloudy-tile--color',
] %}

<div class="{{ classes | join(' ') }}" {% if isColor == true %} onclick="location.href='{{link}}';" {% endif %}>
  {% if img %}
    <img class="cloudy-tile__image" src="{{img.src}}" alt="{{img.alt}}"/>
  {% endif %}
  <div class="cloudy-image__body">
    {% if overline %}
      <span class="cloudy-tile__overline">{{ overline|upper }}</span>
    {% endif %}
    <h3 class="cloudy-tile__text">
      <a href="{{link}}" class="cloudy-tile__link {% if isColor == true %}cloudy-tile__link--color{% endif %}">
        {{text}}
      </a>
    </h3>
    {% if date %}
      <span class="cloudy-tile__date">Posted on {{date}}</span>
    {% endif %}
  </div>
</div>
