{%
  set classes = [
    'cloudy-tile',
  ]
%}

<a class="{{ classes|join(' ') }}" href="{{ url }}">
  {% if img %}
    <div class="cloudy-tile__frame">
      <img class="cloudy-tile__image" src="{{ img.src }}" alt="{{ img.alt }}"/>
    </div>
  {% endif %}
  <div class="cloudy-tile__body">
    {% if is_draft %}
      {% include "@components/badge/badge.twig" with {
        text: 'unpublished'|capitalize,
        color: 'danger',
        mb: 2
      } only %}
    {% endif %}
    {% if overline %}
      {% include "@components/overline/overline.twig" with {
        text: "news",
        is_light: true,
      } only %}
    {% endif %}
    <h3 class="cloudy-tile__text">
      {{ heading }}
    </h3>
  </div>
</a>
