{% set isColor = isColor|default(false) %}

{% set classes = [
  'cloudy-tile',
  isColor ? 'cloudy-tile--color',
] %}

<div class="{{ classes|join(' ') }}" {% if isColor %} onclick="location.href='{{link}}';" {% endif %}>
  {% if img %}
    <div class="cloudy-tile__frame">
      <img class="cloudy-tile__image" src="{{img.src}}" alt="{{img.alt}}"/>
    </div>
  {% endif %}
  <div class="cloudy-tile__body">
    {% if is_draft %}
      {% include "@components/badge/badge.twig" with {
        "text": "Unpublished",
        "type": "danger",
      } only %}
    {% endif %}
    {% if overline %}
      <span class="cloudy-tile__overline">{{ overline|upper }}</span>
    {% endif %}
    <h3 class="cloudy-tile__text">
      <a href="{{link}}" class="cloudy-tile__link{% if isColor %} cloudy-tile__link--color{% endif %}">
        {{text}}
      </a>
    </h3>
    {% if date %}
      <span class="cloudy-tile__date"><b>Posted on&nbsp;</b>{{date}}</span>
    {% endif %}
  </div>
</div>
