<div class="row">
  <div class="cloudy-content col-lg-8 col-md-12">
    <article {{ attributes }}>
      {{ content.field_page_type }}
      {{ content.field_featured_media }}
      {{ content.field_summary }}
      {# {{ drupal_block('views_block:content_translations-block_content_language_switcher') }} #}
      {{ drupal_entity('block', 'views_block__content_translations_block_content_language_switch', check_access=false) }}
      <div {{ content_attributes.addClass('node__content', 'clearfix') }}>
        {{
          content|without(
            'field_page_type',
            'field_popular',
            'field_summary',
            'field_featured_media',
            'field_contact',
            'field_location',
            'field_related_content',
            'field_topics'
          )
        }}
      </div>

      {% set page_path = path("<current>")|render|render %}
      {% if page_path == '/police/directives-overview/first-universal-review' %}
        {{ drupal_entity('block', 'views_block__search_group_documents_block_police_directives_1ur', check_access=false) }}
      {% endif %}
      {% if page_path == '/police/directives-overview/second-universal-review' %}
        {{ drupal_entity('block', 'views_block__search_group_documents_block_police_directives_2ur', check_access=false) }}
      {% endif %}
      {% if page_path == '/police/directives-overview/directives-pending-enactment' %}
        {{ drupal_entity('block', 'views_block__search_group_documents_block_police_directives_pe', check_access=false) }}
      {% endif %}
    </article>
  </div>
  <div class="cloudy-side col-lg-4 col-md-12">
    {% set view_parent =
      drupal_view_result('page_menu', 'block_parent_to_pages_menu')|length
    %}
    {% if view_parent > 0 %}
      {{ drupal_view('page_menu', 'block_parent_to_pages_menu') }}
    {% endif %}
    {% set view_page =
      drupal_view_result('page_menu', 'block_siblings_to_parent_menu')|length
    %}
    {% if view_page > 0 %}
      {{ drupal_view('page_menu', 'block_siblings_to_parent_menu') }}
    {% endif %}
    {{ content.field_contact }}
    {{ content.field_location }}
    {{ content.field_related_content }}
    {{ content.field_topics }}
    {% set view_news =
      drupal_block('views_block:news_on_content-block_2')|length
    %}
    {% if view_news > 0 %}
      {{ drupal_block('views_block:news_on_content-block_2') }}
    {% endif %}
    {% set view_events =
      drupal_block('views_block:events_on_content-block_1')|length
    %}
    {% if view_events > 0 %}
      {{ drupal_block('views_block:events_on_content-block_1') }}
    {% endif %}
    {% set view_past_events =
      drupal_block('views_block:events_on_content-block_past_events')|length
    %}
    {% if view_past_events > 0 %}
      {{ drupal_block('views_block:events_on_content-block_past_events') }}
    {% endif %}
    {% set view_translations = drupal_block('views_block:content_translations-block_language_switcher')|length %}
    {% if view_translations > 0 %}
      {{ drupal_block('views_block:content_translations-block_language_switcher') }}
    {% endif %}
  </div>
</div>
