<div class="row">
  <div class="cloudy-content col-lg-8 col-md-12">
    <article {{ attributes }}>
      {{ content.field_page_type }}
      {{ content.field_featured_media }}
      {{ content.field_summary }}
      {{ drupal_entity('block', 'views_block__content_translations_block_content_language_switch', check_access=false) }}
      <div {{ content_attributes.addClass('node__content', 'clearfix') }}>
        {{
          content|without(
            'field_page_type',
            'field_popular',
            'field_summary',
            'field_featured_media',
            'field_contact',
            'field_location',
            'field_online_application',
            'field_address',
            'field_related_content',
            'field_topics'
          )
        }}
      </div>
    </article>
  </div>
  <div class="cloudy-side col-lg-4 col-md-12">
    {{ content.field_online_application }}
    {{ content.field_contact }}
    {{ content.field_location }}
    {{ content.field_address }}
    {{ content.field_related_content }}
    {{ content.field_topics }}
    {% set view_news = drupal_block('views_block:news_on_content-block_content_news') %}
    {% if view_news|length > 0 %}
      {{ view_news }}
    {% endif %}
    {% set view_events = drupal_block('views_block:events_on_content-block_1') %}
    {% if view_events|length > 0 %}
      {{ view_events }}
    {% endif %}
    {% set view_past_events = drupal_block('views_block:events_on_content-block_past_events') %}
    {% if view_past_events|length > 0 %}
      {{ view_past_events }}
    {% endif %}
    {% set view_translations = drupal_block('views_block:content_translations-block_language_switcher') %}
    {% if view_translations|length > 0 %}
      {{ view_translations }}
    {% endif %}
  </div>
</div>
