{% if node.field_parent.0 %}
  {{ node.field_parent.0.entity|view('service_header') }}
{% else %}
  {% include "node--page--service-header.html.twig" %}
{% endif %}

<div class="row mt-lg-12">
  <div class="cloudy-side col-lg-3 col-md-12 mb-8 mb-lg-0 border-2 border-lg-0 border-top border-bottom border-dark">
    {# show current page's menu or parent page menu #}
    {% if content.field_menu.0 %}
    {{ content.field_menu }}
    {% elseif content.field_parent.0 %}
    {{ content.field_parent }}
    {% endif %}
  </div>
  <div class="cloudy-content col-lg-9 col-md-12">
    <article {{ attributes.setAttribute('id', 'body-content') }} style="scroll-padding-top: 2rem;">
      {{ drupal_entity('block', 'views_block__content_translations_block_content_language_switch', check_access=false) }}
      {# if this is a child page, show its own title and summary in content column #}
      {% if content.field_parent.0 %}
        <h2 class="mt-0">{{ label }}</h2>
        {{ content.field_summary }}
      {% endif %}
      <div {{ content_attributes.addClass('node__content', 'clearfix') }}>
        {{ content.toc_js|add_suggestion('service') }}
        {{
          content|without(
            'toc_js',
            'field_menu',
            'field_parent',
            'field_page_type',
            'field_popular',
            'field_summary',
            'field_featured_media',
            'field_contact',
            'field_location',
            'field_online_application',
            'field_address',
            'field_related_content',
            'field_topics'
          )
        }}
      </div>
      {{ drupal_field('field_menu', 'node', node.field_parent.0.target_id ?? node.id(), { type: 'portland_entity_reference_hierarchy_nav_links', label: 'hidden' }) }}
    </article>
  </div>
</div>
