<div class="row pb-lg-12">
  <div class="col-12 col-md-6 mt-6 mt-md-0 order-1 order-md-0">
    <h1>{{ label }}</h1>
    <p class="cloudy-lead-text">{{ content.field_summary.0 }}</p>
    {% if content.field_online_application.0 %}
      <a class="btn btn-primary mb-8 mb-lg-0" href="{{ content.field_online_application.0['#url'] }}">{{ content.field_online_application.0['#title'] }} <i class="fas fa-arrow-right ms-2 me-0"></i></a>
    {% endif %}
  </div>
  <div class="col-12 col-sm-10 col-md-6">
    {% if content.field_featured_media.0 %}
    {{ content.field_featured_media.0|add_class('rounded overflow-hidden') }}
    {% endif %}
  </div>
</div>
<div class="row border-bottom border-dark d-none d-lg-block"></div>
