{% if node.field_parent.0 %}
  {{ drupal_entity('node', node.field_parent.0.target_id ?? node.id(), 'service_header') }}
{% else %}
  {% include "node--page--service-header.html.twig" %}
{% endif %}

<div class="row mt-lg-12">
  <div class="cloudy-side col-lg-3 col-md-12 mb-8 mb-lg-0 border-2 border-lg-0 border-top border-bottom border-dark">
    <button class="d-lg-none btn px-0 py-4 w-100 text-start" type="button" data-bs-toggle="collapse" data-bs-target="#collapsePageMenu" aria-expanded="true" aria-controls="collapsePageMenu">
      <h2 class="mb-0">{{ 'In this section...'|t }}</h2>
    </button>
    <div class="mb-6 mb-lg-0 d-lg-block collapse show" id="collapsePageMenu">
      {# show current page's menu or parent page menu #}
      {{ content.field_menu }}
      {{ content.field_parent }}
    </div>
  </div>
  <div class="cloudy-content col-lg-9 col-md-12">
    <article {{ attributes }}>
      {{ drupal_entity('block', 'views_block__content_translations_block_content_language_switch', check_access=false) }}
      <div {{ content_attributes.addClass('node__content', 'clearfix') }}>
        {{
          content|without(
            'field_menu',
            'field_parent',
            'field_page_type',
            'field_popular',
            'field_summary',
            'field_featured_media',
            'field_contact',
            'field_location',
            'field_online_application',
            'field_address',
            'field_related_content',
            'field_topics'
          )
        }}
      </div>
    </article>
  </div>
</div>
