<div class="row">
  <div class="col-lg-8 col-md-12">
    <article{{ attributes }}>
      <header>
        {{ title_prefix }}
        {% if not page %}
          <h2{{ title_attributes.addClass('node__title') }}>
            <a href="{{ url }}" rel="bookmark">{{ label }}</a>
          </h2>
        {% endif %}
        {{ title_suffix }}
        {% if display_submitted %}
          <div class="node__meta">
            {{ author_picture }}
            {% block submitted %}
              <span{{ author_attributes }}>
                {% trans %}Submitted by {{ author_name }} on {{ date }}{% endtrans %}
              </span>
            {% endblock %}
            {{ metadata }}
          </div>
        {% endif %}
      </header>
      <div{{ content_attributes.addClass('node__content', 'clearfix') }}>
        {{ content|without('field_contact','field_location','field_related_content','field_topics') }}
      </div>
    </article>
  </div>
  <div class="col-lg-4 col-md-12">
    {{ drupal_view('page_menu','block_parent_to_pages_menu') }}
    {{ drupal_view('page_menu','block_siblings_to_parent_menu') }}
    {{ content.field_contact }}
    {{ content.field_location }}
    {{ content.field_related_content }}
    {{ content.field_topics }}
  </div>
</div>
