{#
/**
 * @file
 * Default theme implementation to display a responsive table of contents.
 *
 * Returns HTML for a responsive table of contents.
 *
 * Available variables:
 * - entity: the entity the TOC belongs to.
 * - title: the title to display for the table of content.
 * - tag: the tag to use for the title.
 *
 * @ingroup themeable
 */
#}
{# Do not remove this anchor #}
<div id="sticky-anchor"></div>
<div {{ attributes.addClass('toc-service') }}>
  <{{ tag }} {{ title_attributes.removeClass('h2').addClass('h5') }}>{{ title }}</{{ tag }}>
  <nav aria-label="{{ title }}"></nav>
</div>
