{% set wrapper_classes = wrapper_classes|default([]) %}
{% set class = 'class=' ~ wrapper_classes|join(' ') %}
{% set inner_classes = inner_classes|default([
  'flex',
  'items-center',
  'mb-4',
]) %}
{% set icon_classes = icon_classes|default([
  'flex',
  'items-center',
  'mr-2',
])%}
<a href="{{ url }}" {{ wrapper_class_markup ? class }}>
  <div class="{{ inner_classes|join(' ') }}">
    <span class="{{ icon_classes|join(' ') }}">{{ icon }}</span>
    <span>{{ text }}</span>
  </div>
</a>
