{#
/**
 * @file
 * Profile Portland revision custom block.
 */
#}
{% if current_revision_state %}
  <div class="portland-revision--block message message-{{ alert_color }}">
    <span class="fas fa-md fa-{{ alert_icon }} fa-fw"></span>
    <span class="message__heading">{{ current_revision_state }}</span>
    {{ latest_revision_state }}
    <div class="float-right"><a href="{{ revision_link }}">{{ revision_link_text }}</a></div>
  </div>
{% endif %}
