<nav class="cloudy-language-switcher nav bg-primary px-4">
  <!-- <a class="nav-link text-white py-1 " href="#">English</a> -->
  {% for lang in languages|slice(0, 7) %}
  <a
    {% if lang.id == current_langcode %}aria-current="page"{% endif %}
    class="nav-link text-white py-1 {% if lang.id == current_langcode %}border-3 border-bottom border-white{% endif %}"
    data-langcode="{{ lang.id }}"
    href="{{ lang.id == current_langcode ? "javascript:void(0)" : lang.url }}"
    translate="no">{{ lang.label }}</a>
  {% endfor %}
  <a aria-expanded="false" class="nav-link text-white py-1" data-bs-toggle="dropdown" href="javascript:void(0)" role="button"><i class="fas fa-language text-white"></i> More</a>
  <ul class="dropdown-menu">
    {% for lang in languages|slice(7) %}
    <li><a
      class="dropdown-item"
      data-langcode="{{ lang.id }}"
      href="{{ lang.url }}"
      translate="no">{{ lang.label }}</a></li>
    {% endfor %}
  </ul>
</nav>
