{#
/**
 * @file
 * Portland legacy paths custom block.
 */
#}
{% if legacy_paths %}
{%
  set classes = [
   'legacy-path-block',
   'alert alert-success',
   'border',
   'success-border',
   'block'
  ]
%}
<div {{attributes.addClass(classes)}}>
   <div class="label">
      <p><span class="fas fa-lg fa-info-circle fa-fw"></span>
      <strong>Legacy paths from portlandoregon.gov</strong></p>
   </div>

   <div class="description">
      <p>{{ help_text }}</p>
   </div>
   <div class="legacy-paths">
      {% for path in legacy_paths %}
         <div class="legacy-path">
            <a href="{{ pog_base_url }}{{ path }}" target="_blank">{{ path }}</a>
         </div>
      {% endfor %}
   </div>
</div>
{% endif %}
