{#
/**
 * @file
 * Profile Portland revision custom block.
 */
#}
 <div class="portland-revision--block alert alert-{{ severity }} border border-{{ severity }}">
    {# <h1>{{ title }}</h1> #}
    <strong>{{ current_revision_state }}</strong> {{ description }}
    <div class="float-right"><a href="{{ revision_link }}">{{ revision_description }}</a></div>
 </div>