{#
/**
 * @file
 * Default theme implementation for displaying an alert.
 *
 * Available variables:
 * - dismissible: Whether this alert should have a close button and all associated functionality.
 * - type: What type of alert this is. Should be one of:
 *     10 - danger
 *     20 - warning
 *     30 - information
 * - nid: The id for the alert content so its dismissal can be tracked.
 * - changed_timestamp: The UNIX timestamp so dismissal can be evaluated.
 * - title: The title for the alert.
 * - text: The text to show in the alert.
 * - link_url: The URL for an associated action link.
 * - link_text: The text to show in the action link.
 * - changed: The text to show for the updated text.
 *
 * @see template_preprocess_views_portland_alerts()
 *
 * @ingroup themeable
 */
#}
{# 'd-none' below because the javascript file will change to 'd-flex' if it should be shown #}
{% set alert_classes = [
  'portland-alert',
  'card',
  'mb-2',
  dismissible == 1 ? 'd-none' : '',
] %}

{% set header_attribute = create_attribute() %}
{% set header_classes = [
  'card-header',
  'd-flex',
  'align-items-center',
  'font-weight-bold',
  type == '10' ? 'bg-danger' : '',
  type == '10' ? 'text-white' : '',
  type == '20' ? 'bg-warning' : '',
  type == '20' ? 'text-dark' : '',
  type == '30' ? 'bg-secondary' :'',
  type == '30' ? 'text-white' :'',
] %}


{% set icon_attribute = create_attribute() %}
{% set icon_classes = [
  'fa',
  type == '10' ? 'fa-exclamation-circle' : '',
  type == '20' ? 'fa-exclamation-triangle' : '',
  type == '30' ? 'fa-info-circle' :'',
] %}

{% set link_attribute = create_attribute() %}
{% set link_classes = [
  'mt-4',
  'btn',
  'btn-block',
  'col-md-8',
  type == '10' ? 'btn-danger' : '',
  type == '20' ? 'btn-warning' : '',
  type == '30' ? 'btn-outline-secondary' :'',
] %}

<div{{ attributes.addClass(classes).addClass(alert_classes) }}  data-nid="{{ nid }}" data-changed="{{ changed_timestamp }}" role="alert">
  <div{{ header_attribute.addClass(header_classes) }}>
    <i{{ icon_attribute.addClass(icon_classes) }}></i>
    <span class="ml-2 flex-grow-1">
      {{ changed }}
    </span>
    {% if dismissible == 1 %}
      <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    {% endif %}
  </div>
  <div class="card-body">
    <div class="card-title">
      {% if title %}
        <h3>{{ title }}</h3>
      {% endif %}
    </div>
    <div>
      {{ text }}
    </div>
    {% if link_url %}
      <div class="d-flex justify-content-around">
        <a{{ link_attribute.addClass(link_classes).setAttribute('href', link_url) }}>
          {{ link_text }}
        </a>
      </div>
    {% endif %}
  </div>
</div>
