{% set alert_classes = [
  'alert',
  'alert-' ~ type|clean_class,
  dismissable ? 'portland-alert' : '',
] %}

{% set button_attribute = create_attribute() %}
{% set button_classes = [
  'btn',
  'btn-' ~ type|clean_class,
] %}

<div{{ attributes.addClass(classes).addClass(alert_classes) }} role="alert">
  <div class="row">
    <div class="col">
      {% if title %}
      <strong data-nid="{{ nid }}" data-changed="{{ changed_timestamp }}">{{ title }}</strong>
      {% endif %}
      {% if dismissable == true %}
      <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      {% endif %}
    </div>
  </div>
  <div class="row">
    <div class="col">
      {{ text }}
    </div>
    <div class="col-auto d-flex flex-column align-self-end align-items-end">
      {% if link_url %}
      <a{{ button_attribute.addClass(button_classes).setAttribute('href', link_url) }}>
        {{ link_text }}
      </a>
      {% endif %}
      Updated {{ changed|date('g:i a M j, Y') }}
    </div>
</div>
