{#
/**
 * @file
 * Default theme implementation for displaying an alert.
 *
 * Available variables:
 * - dismissible: Whether this alert should have a close button and all associated functionality.
 * - type: What type of alert this is. Should be one of:
 *     10 - danger
 *     20 - warning
 *     30 - information
 * - nid: The id for the alert content so its dismissal can be tracked.
 * - changed_timestamp: The UNIX timestamp so dismissal can be evaluated.
 * - title: The title for the alert.
 * - text: The text to show in the alert.
 * - link_url: The URL for an associated action link.
 * - link_text: The text to show in the action link.
 * - changed: The text to show for the updated text.
 *
 * @see template_preprocess_views_portland_alerts()
 *
 * @ingroup themeable
 */
#}
{# 'd-none' below because the javascript file will change to 'd-flex' if it should be shown #}
{% set alert_classes = [
  'portland-alert',
  'rounded-0',
  'container',
  'alert',
  dismissible == 1 ? 'd-none' : '',
] %}

{% set header_attribute = create_attribute() %}
{% set header_classes = [
  'rounded-0',
  'd-flex',
  'align-items-center',
  'justify-content-between',
] %}

{% set title_attribute = create_attribute() %}
{% set title_classes = [
  'font-weight-bold',
  'h5',
  'alert-heading',
] %}

{% set icon_attribute = create_attribute() %}
{% set icon_classes = [
  'fa',
  'fa-exclamation-triangle',
  'mr-2',
  'text-warning',
] %}

{% set dismiss_attribute = create_attribute() %}
{% set dismiss_classes = [
  'text-body',
] %}

{% set dismiss_icon_attribute = create_attribute() %}
{% set dismiss_icon_classes = [
  'fa',
  'fa-window-close',
  'mr-2',
] %}

{% set link_attribute = create_attribute() %}
{% set link_classes = [
  'mt-2',
  'btn',
  'btn-outline-primary',
] %}


<div>
  <div{{ attributes.addClass(classes).addClass(alert_classes) }} data-nid="{{ nid }}" data-changed="{{ changed_timestamp }}" role="alert" aria-live="polite">
    <div{{ header_attribute.addClass(header_classes) }}>
      {# <i{{ icon_attribute.addClass(icon_classes) }}></i> #}
      {% if title %}
        <span{{ title_attribute.addClass(title_classes) }}>{{ title }}</span>
      {% endif %}
      {% if dismissible == 1 %}
        <span>
          <button type="button" class="close" data-dismiss="alert" aria-label="Dismiss notification">
            <span{{ dismiss_attribute.addClass(dismiss_classes) }} aria-hidden="true">
              <i{{ dismiss_icon_attribute.addClass(dismiss_icon_classes) }}></i>
              Dismiss
            </span>
          </button>
        </span>
      {% endif %}
    </div>
    <div class="mb-0">
      {{ text }}
    </div>
    {% if link_url %}
      <a{{ link_attribute.addClass(link_classes).setAttribute('href', link_url) }}>
        {{ link_text }}
      </a>
    {% endif %}
    <div>
      <small>{{ changed }}</small>
    </div>
  </div>
</div>
