{#
/**
 * @file
 * Display Suite Card with Image Right Template.
 *
 * Available variables:
 * - outer_wrapper: outer wrapper element
 * - first_wrapper: wrapper element around first region
 * - second_wrapper: wrapper element around second region
 * - third_wrapper: wrapper element around third region
 * - attributes: layout attributes
 * - first_attributes: attributes for first region
 * - second_attributes: attributes for second region
 * - first: content of first region
 * - second: content of second region
 */
#}
{% set first = first|render %}
{% set second = second|render %}

{% set margin = margin|default('4') %}
{%
  set card_classes = card_classes|default([
    'card',
  ])
%}

{%
  set first_classes = first_classes|default([
    'card-img-top',
  ])
%}
{%
  set second_classes = second_classes|default([
    'card-body',
  ])
%}

{%
  set badge_classes = badge_classes|default([
    'badge',
    'badge-danger',
  ])
%}

<{{outer_wrapper}}{{attributes.addClass(card_classes).setAttribute('data-card-id', node.id)}}>
  {{ title_suffix.contextual_links }}

  {% if first %}
    <{{first_wrapper}}{{first_attributes.addClass(first_classes)}}>
      {{ first }}
    </{{first_wrapper}}>
  {% endif %}

  {% if second %}
    <{{second_wrapper}}{{second_attributes.addClass(second_classes)}}>
      {% if node and not node.isPublished() %}
        {% set published_attributes = create_attribute() %}
        <span{{published_attributes.addClass(badge_classes)}}>{{ 'unpublished'|t|capitalize }}</span>
      {% endif %}
      {{ second }}
    </{{second_wrapper}}>
  {% endif %}

</{{outer_wrapper}}>
