{% set type = type|default('primary') %}
{% set classes = [
  'council-agenda-session',
] %}

<div class="{{ classes | join(' ') }}">
  {% if title %}<h2 class="council-agenda-session__title">{{ title }}</h2>{% endif %}
  {% if datetime %}{{ datetime }}{% endif %}
  {% if status %}{{ status }}{% endif %}
  {% if agendaItems %}{{ agendaItems }}{% endif %}
</div>
