{#
/**
 * @file
 * Default theme implementation to display a three column bricks layout.
 *
 * Available variables:
 * - content: The content for this layout.
 * - attributes: HTML attributes for the layout <div>.
 *
 * @ingroup themeable
 */
#}
{% set layout_classes = layout_classes|default(['row']) %}
{% set first_aside_classes = first_aside_classes|default(['col']) %}
{% set main_classes = main_classes|default(['col']) %}
{% set second_aside_classes = second_aside_classes|default(['col']) %}

{% if content %}
  <div{{ attributes.addClass(layout_classes) }}>
      <section {{ region_attributes.first_aside.addClass('layout__region').addClass(first_aside_classes) }}>
        {{ content.first_aside }}
      </section>

      <section {{ region_attributes.main.addClass('layout__region').addClass(main_classes) }}>
        {{ content.main }}
      </section>

      <section {{ region_attributes.second_aside.addClass('layout__region').addClass(second_aside_classes) }}>
        {{ content.second_aside }}
      </section>
  </div>
{% endif %}
