{% set type = type|default('primary') %}
{% set classes = [
  '{{ dashCase name }}',
  '{{ dashCase name }}--type-' ~ type,
  isDark ?? '{{ dashCase name }}--dark',
] %}

<div class="\{{ classes | join(' ') }}">
  <h2 class="{{ dashCase name }}__text">\{{ text }}</h2>
</div>
