{#
/**
 * @file
 * Theme override for the service mode reference field.
 *
 * This is an override of field.html.twig for the service mode field. See that
 * template for documentation about its details and overrides.
 *
 * @see field.html.twig
 */
#}
<ul class="nav nav-tabs" id="serviceModes" role="tablist">
  {% for item in items if key|first != '#' %}
    <li class="nav-item" role="presentation">
      <a role="tab" href="#pane-{{ loop.index }}" id="tab-{{ loop.index }}" data-toggle="tab"
        {% if loop.first != true %} tabindex="-1" aria-selected="false"{% endif %}
        {% if loop.first %} aria-selected="true"{% endif %} 
        aria-controls="pane-{{ loop.index }}"
        class="nav-link{% if loop.first %} active{% endif %}">
        {{ item.content['#paragraph'].field_service_modes.entity.name.value }}
      </a>
    </li>
  {% endfor %}
</ul>

{% if multiple %}
    <div id="serviceModesContent" class="tab-content mb-3">
        {% for item in items if key|first != '#' %}
            <section role="tabpanel" id="pane-{{ loop.index }}" aria-labelledby="tab-{{ loop.index }}"
                {% if loop.first %} aria-hidden="true"{% endif %}
                class="tab-pane fade{% if loop.first %} show active{% endif %}">{{ item.content }}</section>
        {% endfor %}
    </div>
{% else %}
    {% for item in items %}
        <div class="tab-content mb-3" id="serviceModesContent">{{ item.content }}</div>
    {% endfor %}
{% endif %}
