{# DEFAULTS #}
{% set level = level|default('1') %}
{% set style = style|default(false) %}
{# CLASSES #}
{% set classes = [
    style ? "h#{style}" : (level ? "h#{level}"),
]|merge(classes|default([]))

%}
{# TWIG #}
{% if url %}
  {% set text %}
    <a href="{{ url }}">{{ text }}</a>
  {% endset %}
{% endif %}
<h{{ level }} class="{{ classes|join(' ')|trim }}">{{ text }}</h{{ level }}>
