{# DEFAULTS #}
{% set level = level|default('1') %}
{% set override = style|default(false) %}
{# CLASSES #}
{% set classes = [
    'cloudy-heading',
    override ? "cloudy-heading--override cloudy-heading--level-#{override} cloudy-h#{override}" : (level ? "cloudy-heading--level-#{level} cloudy-h#{level}"),
  ]
%}
{# TWIG #}
{% if url %}
  {% set text %}
    <a href="{{ url }}">{{ text }}</a>
  {% endset %}
{% endif %}
<h{{ level }} class="{{ classes|join(' ')|trim }}">{{ text }}</h{{ level }}>
