{# DEFAULTS #}
{% set level = level|default('1') %}
{# CLASSES #}
{% set classes = [
    'cloudy-heading',
    level ? "cloudy-heading--level-#{level} cloudy-h#{level}"
  ]
%}
{# TWIG #}
{% if url %}
  {% set text %}
    <a href="{{ url }}">{{ text }}</a>
  {% endset %}
{% endif %}
<h{{ level }} class="{{ classes|join(' ') }}">{{ text }}</h{{ level }}>
