{# DEFAULTS #}
{% set level = level|default('1') %}
{% set override = style|default(false) %}
{# CLASSES #}
{% set classes = [
    override ? "h#{override}" : (level ? "h#{level}"),
  ]
%}
{# TWIG #}
{% if url %}
  {% set text %}
    <a href="{{ url }}">{{ text }}</a>
  {% endset %}
{% endif %}
<h{{ level }} class="{{ classes|join(' ')|trim }}">{{ text }}</h{{ level }}>
