{% set level = heading.level|default(3) %}
{% set style = heading.style|default(5) %}

{% set classes = classes|default([
  'cloudy-contact-item'
]) %}

<div{{ attributes.addClass(classes|join('')) }}>
  {{ title_prefix }}
  {% if heading.text %}
    {% include "@components/heading/heading.twig" with {
      level: level,
      style: style,
      text: heading.text,
      classes: title ? ['mb-0'] : ''
    } only %}
  {% endif %}
  {{ title_suffix }}
  {% if title %}
    <span class="d-block mb-4">{{ title }}</span>
  {% endif %}
  <div class="cloudy-contact__resource">
    {% if email %}
      <div class="cloudy-contact-item__resource-wrapper">
        {% include "@components/link/link.twig" with {
          background: false,
          standalone: false,
          icon: {
            name: 'email',
          },
          text: email,
          url: 'mailto:' ~ email
        } only %}
          {% if email_help %}
          <span class="d-block ml-6">{{ email_help }}</span>
        {% endif %}
      </div>
    {% endif %}
    {% if display_311 %}
      <div class="cloudy-contact-item__resource-wrapper">
        {% include "@components/link/link.twig" with {
          background: false,
          standalone: false,
          icon: {
            name: 'phone'
          },
          text: '311',
          url: 'tel:311'
        } only %}
        <span class="pl-1">City of Portland general information hotline</span>
      </div>
    {% endif %}
    {% if phone %}
      <div class="cloudy-contact-item__resource-wrapper">
        {% include "@components/link/link.twig" with {
          background: false,
          standalone: false,
          icon: {
            name: 'phone',
          },
          text: phone|replace({'+1-': '', '+1': '', }),
          url: 'tel:' ~ phone
        } only %}
        {% if phone_help %}
          <span class="d-block ml-6">{{ phone_help }}</span>
        {% endif %}
      </div>
    {% endif %}
    {% if tty %}
      <div class="cloudy-contact-item__resource-wrapper">
        {% include "@components/link/link.twig" with {
          background: false,
          standalone: false,
          icon: {
            name: 'tty',
          },
          text: tty|replace({'+1-': '', '+1': '', }),
          url: 'tel:' ~ tty
        } only %}
        <span class="pl-1">TTY</span>
      </div>
    {% endif %}
    {% if oregon_relay %}
      <div class="cloudy-contact-item__resource-wrapper">
        {% include "@components/link/link.twig" with {
          background: false,
          standalone: false,
          icon: {
            name: 'oregon-relay',
          },
          text: '711',
          url: 'tel:711'
        } only %}
        <span class="pl-1">Oregon Relay Service</span>
      </div>
    {% endif %}
    {% if fax %}
      <div class="cloudy-contact-item__resource-wrapper">
        {% apply spaceless %}
          {% include '@elements/icon/icon.twig' with {
            name: 'fax',
            size: 'xs'
          } only %}
          <span>{{ fax }}</span>
        {% endapply %}
      </div>
    {% endif %}
    {% if social.facebook or social.twitter or social.instagram or social.youtube.url or social.linkedin.url or social.nextdoor.url %}
      {% include "@components/heading/heading.twig" with {
        level,
        style,
        text: "Follow on Social Media"|t,
        classes: email or phone ? ['mt-8']
      } only %}
      {% if social.facebook %}
        <div class="cloudy-contact-item__resource-wrapper">
          {% apply spaceless %}
            {% include "@components/link/link.twig" with {
              background: false,
              standalone: false,
              icon: {
                name: 'facebook',
              },
              text: social.facebook,
              url: "http://facebook.com/#{social.facebook}"
            } only %}
          {% endapply %}
        </div>
      {% endif %}
      {% if social.twitter %}
        <div class="cloudy-contact-item__resource-wrapper">
          {% apply spaceless %}
            {% include "@components/link/link.twig" with {
              background: false,
              standalone: false,
              icon: {
                name: 'twitter',
              },
              text: social.twitter,
              url: "http://twitter.com/#{social.twitter}"
            } only %}
          {% endapply %}
        </div>
      {% endif %}
      {% if social.instagram %}
        <div class="cloudy-contact-item__resource-wrapper">
          {% apply spaceless %}
            {% include "@components/link/link.twig" with {
              background: false,
              standalone: false,
              icon: {
                name: 'instagram',
              },
              text: social.instagram,
              url: "http://instagram.com/#{social.instagram}"
            } only %}
          {% endapply %}
        </div>
      {% endif %}
      {% if social.linkedin.url and social.linkedin.text %}
        <div class="cloudy-contact-item__resource-wrapper">
          {% apply spaceless %}
            {% include "@components/link/link.twig" with {
              background: false,
              standalone: false,
              icon: {
                name: 'linkedin'
              },
              text: social.linkedin.text,
              url: social.linkedin.url
            } only %}
          {% endapply %}
        </div>
      {% endif %}
      {% if social.youtube.url and social.youtube.text %}
        <div class="cloudy-contact-item__resource-wrapper">
          {% apply spaceless %}
            {% include "@components/link/link.twig" with {
              background: false,
              standalone: false,
              icon: {
                name: 'youtube'
              },
              text: social.youtube.text,
              url: social.youtube.url
            } only %}
          {% endapply %}
        </div>
      {% endif %}
      {% if social.nextdoor.url and social.nextdoor.text %}
        <div class="cloudy-contact-item__resource-wrapper">
          {% apply spaceless %}
            {% include "@components/link/link.twig" with {
              background: false,
              standalone: false,
              icon: {
                name: 'nextdoor',
              },
              text: social.nextdoor.text,
              url: social.nextdoor.url
            } only %}
          {% endapply %}
        </div>
      {% endif %}
    {% endif %}
  </div>
</div>
