{% set level = heading.level|default(3) %}
{% set style = heading.style|default(5) %}

{% set classes = classes|default([
  'cloudy-contact-item'
]) %}

<div class="{{ classes|join(' ')|trim }}">
  {{ title_prefix }}
  {% if heading.text %}
    {% include "@components/heading/heading.twig" with {
      level: level,
      style: style,
      text: heading.text,
    } only %}
  {% endif %}
  {{ title_suffix }}
  {% if title %}
    <span class="d-block mb-4">{{ title }}</span>
  {% endif %}
  <div class="cloudy-contact__resource">
    {% if contact_link.url and contact_link.text %}
      <div class="cloudy-contact-item__resource-wrapper">
        {% apply spaceless %}
        <a class="btn btn-cta-outline" href="{{ contact_link.url }}">{{ contact_link.text }}</a>
        {% endapply %}
      </div>
    {% endif %}
    {% if email %}
      <div class="cloudy-contact-item__resource-wrapper">
        {% include "@components/link/link.twig" with {
          ariaLabel: "Email"|t ~ ' ' ~ email,
          background: false,
          standalone: false,
          icon: {
            ariaHidden: true,
            name: 'email',
          },
          text: email,
          url: 'mailto:' ~ email
        } only %}
          {% if email_help %}
          <span class="d-block ms-6">{{ email_help }}</span>
        {% endif %}
      </div>
    {% endif %}
    {% if display_311 %}
      <div class="cloudy-contact-item__resource-wrapper">
        {% include "@components/link/link.twig" with {
          ariaDescribedBy: 'contact-311-info',
          ariaLabel: "Phone"|t ~ ' 311',
          background: false,
          standalone: false,
          icon: {
            ariaHidden: true,
            name: 'phone'
          },
          text: '311',
          url: 'tel:311'
        } only %}
        <span class="ps-1" id="contact-311-info">{{ 'Information and Customer Service'|t }}</span>
      </div>
    {% endif %}
    {% if phone %}
      <div class="cloudy-contact-item__resource-wrapper">
        {% include "@components/link/link.twig" with {
          ariaLabel: "Phone"|t ~ ' ' ~ phone,
          background: false,
          standalone: false,
          icon: {
            ariaHidden: true,
            name: 'phone',
          },
          text: phone|replace({'+1-': '', '+1': '', }),
          url: 'tel:' ~ phone
        } only %}
        {% if phone_help %}
          <span class="d-block ms-6 text-pre-line">{{ phone_help }}</span>
        {% endif %}
      </div>
    {% endif %}
    {% if tty %}
      <div class="cloudy-contact-item__resource-wrapper">
        {% include "@components/link/link.twig" with {
          ariaLabel: "TTY"|t ~ ' ' ~ tty,
          background: false,
          standalone: false,
          icon: {
            ariaHidden: true,
            name: 'tty',
          },
          text: tty|replace({'+1-': '', '+1': '', }),
          url: 'tel:' ~ tty
        } only %}
        <span class="ps-1" aria-hidden="true">{{ 'TTY'|t }}</span>
      </div>
    {% endif %}
    {% if oregon_relay %}
      <div class="cloudy-contact-item__resource-wrapper">
        {% include "@components/link/link.twig" with {
          ariaDescribedBy: 'contact-oregon-relay-info',
          ariaLabel: "TTY"|t ~ ' 711',
          background: false,
          standalone: false,
          icon: {
            ariaHidden: true,
            name: 'oregon-relay',
          },
          text: '711',
          url: 'tel:711'
        } only %}
        <span class="ps-1" id="contact-oregon-relay-info">{{ 'Oregon Relay Service'|t }}</span>
      </div>
    {% endif %}
    {% if fax %}
      <div class="cloudy-contact-item__resource-wrapper">
        {% apply spaceless %}
          {% include '@components/icon/icon.twig' with {
            ariaHidden: true,
            name: 'fax',
            size: 'xs'
          } only %}
          <span class="visually-hidden">{{ 'Fax'|t }}</span>
          <span>{{ fax }}</span>
        {% endapply %}
      </div>
    {% endif %}
    {% if social.facebook or social.twitter or social.instagram or social.youtube.url or social.linkedin.url or social.nextdoor.url %}
      {# Don't show social media heading if contact only has social media #}
      {% if contact_link.url or email or display_311 or phone or tty or oregon_relay or fax %}
        {% include "@components/heading/heading.twig" with {
          level,
          style,
          text: "Follow on Social Media"|t,
          classes: ['mt-8']
        } only %}
      {% endif %}
      {% if social.facebook %}
        <div class="cloudy-contact-item__resource-wrapper">
          {% apply spaceless %}
            {% include "@components/link/link.twig" with {
              ariaLabel: "Facebook"|t ~ ' ' ~ social.facebook,
              background: false,
              standalone: false,
              icon: {
                ariaHidden: true,
                name: 'facebook'
              },
              text: social.facebook,
              url: "https://www.facebook.com/#{social.facebook}"
            } only %}
          {% endapply %}
        </div>
      {% endif %}
      {% if social.twitter %}
        <div class="cloudy-contact-item__resource-wrapper">
          {% apply spaceless %}
            {% include "@components/link/link.twig" with {
              ariaLabel: "X (formerly Twitter)"|t ~ ' ' ~ social.twitter,
              background: false,
              standalone: false,
              icon: {
                ariaHidden: true,
                name: 'x-twitter'
              },
              text: social.twitter,
              url: "https://x.com/#{social.twitter}"
            } only %}
          {% endapply %}
        </div>
      {% endif %}
      {% if social.instagram %}
        <div class="cloudy-contact-item__resource-wrapper">
          {% apply spaceless %}
            {% include "@components/link/link.twig" with {
              ariaLabel: "Instagram"|t ~ ' ' ~ social.instagram,
              background: false,
              standalone: false,
              icon: {
                ariaHidden: true,
                name: 'instagram'
              },
              text: social.instagram,
              url: "https://www.instagram.com/#{social.instagram}"
            } only %}
          {% endapply %}
        </div>
      {% endif %}
      {% if social.bluesky.url and social.bluesky.text %}
        <div class="cloudy-contact-item__resource-wrapper">
          {% apply spaceless %}
            {% include "@components/link/link.twig" with {
              ariaLabel: "Bluesky"|t ~ ' ' ~ social.bluesky.text,
              background: false,
              standalone: false,
              icon: {
                ariaHidden: true,
                name: 'bluesky'
              },
              text: social.bluesky.text,
              url: social.bluesky.url
            } only %}
          {% endapply %}
        </div>
      {% endif %}
      {% if social.linkedin.url and social.linkedin.text %}
        <div class="cloudy-contact-item__resource-wrapper">
          {% apply spaceless %}
            {% include "@components/link/link.twig" with {
              ariaLabel: 'LinkedIn'|t ~ ' ' ~ social.linkedin.text,
              background: false,
              standalone: false,
              icon: {
                ariaHidden: true,
                name: 'linkedin'
              },
              text: social.linkedin.text,
              url: social.linkedin.url
            } only %}
          {% endapply %}
        </div>
      {% endif %}
      {% if social.youtube.url and social.youtube.text %}
        <div class="cloudy-contact-item__resource-wrapper">
          {% apply spaceless %}
            {% include "@components/link/link.twig" with {
              ariaLabel: 'YouTube'|t ~ ' ' ~ social.youtube.text,
              background: false,
              standalone: false,
              icon: {
                ariaHidden: true,
                name: 'youtube'
              },
              text: social.youtube.text,
              url: social.youtube.url
            } only %}
          {% endapply %}
        </div>
      {% endif %}
      {% if social.nextdoor.url and social.nextdoor.text %}
        <div class="cloudy-contact-item__resource-wrapper">
          {% apply spaceless %}
            {% include "@components/link/link.twig" with {
              ariaLabel: 'Nextdoor'|t ~ ' ' ~ social.nextdoor.text,
              background: false,
              standalone: false,
              icon: {
                ariaHidden: true,
                name: 'nextdoor'
              },
              text: social.nextdoor.text,
              url: social.nextdoor.url
            } only %}
          {% endapply %}
        </div>
      {% endif %}
    {% endif %}
  </div>
</div>
