<h4>{{ label }}</h4>
<p>
{% if content.field_email['#items'].0.value %}
  <a href="mailto:{{ content.field_email['#items'].0.value }}" class="cloudy-link cloudy-link--has-icon">{{ content.field_email['#items'].0.value }}</a><br>
{% endif %}
{% if content.field_phone['#items'].0.value %}
  <a href="tel:{{ content.field_phone['#items'].0.value }}" class="cloudy-link">{{ content.field_phone['#items'].0.value }}</a><br>
  {% if content.field_phone_help_text['#items'].0.value %}
    <span>
      <em>{{ content.field_phone_help_text['#items'].0.value }}</em>
    </span><br>
  {% endif %}
{% endif %}
</p>
