{#
/**
 * @file
 * Default theme implementation to display a one-column layout.
 *
 * Available variables:
 * - content: The content for this layout.
 * - attributes: HTML attributes for the layout <div>.
 *
 * @ingroup themeable
 */
#}

{% set overline = null %}

{% set marquee_primary_left %}
  <p class="lead">
    {{ content.field_summary.0 }}
  </p>
{% endset %}

{% set marquee_primary_right %}
  {{ content.field_featured_media }}
{% endset %}

{% set marquee_secondary_left %}
  {{ content.field_location }}
  {{ content.field_address }}
{% endset %}

{% set marquee_secondary_right %}
  {{ content.field_email }}
  {{ content.field_phone }}
  {{ content.field_facebook }}
  {{ content.field_twitter }}
  {{ content.field_instagram }}
{% endset %}

{% set body_header %}
  {{ content.group_site_menu_entity_view_1 }}
{% endset %}

{% set body_body %}
  {{ content.field_featured_content }}
  {{ content.field_featured_groups }}
{% endset %}

{% include "@layouts/group-default/group-default.twig" with {
  overline: overline,
  marquee_primary_left: marquee_primary_left,
  marquee_primary_right: marquee_primary_right,
  marquee_secondary_left: marquee_secondary_left,
  marquee_secondary_right: marquee_secondary_right,
  body_header: body_header,
  body_body: body_body,
  body_footer: body_footer,
} %}
