{% set service_label = node.type.entity.label %}

<div class="row">
  <div class="cloudy-content col-lg-8 col-md-12">
    <article {{ attributes }}>
      {% include '@components/badge/badge.twig' with {
        text: service_label,
        mb: 4
      } only %}
      {{ content.field_summary }}
      {{ content.field_featured_media }}
      {# {{ drupal_block('views_block:content_translations-block_content_language_switcher') }} #}
      {{ drupal_entity('block', 'views_block__content_translations_block_content_language_switch', check_access=false) }}
      <div {{ content_attributes.addClass('node__content', 'clearfix') }}>
        {# content allows us to place TOC #}
        {{
          content|without(
            'field_featured_media',
            'field_summary',
            'field_contact',
            'field_location',
            'field_online_application',
            'field_address',
            'field_related_content',
            'field_topics',
          )
        }}
      </div>
    </article>
  </div>
  <div class="cloudy-side col-lg-4 col-md-12 mt-6 mt-lg-0">
    {% set view_parent = drupal_view('page_menu', 'block_parent_to_pages_menu') %}
    {% if view_parent|length > 0 %}
      {{ view_parent }}
    {% endif %}
    {% set view_page = drupal_view('page_menu', 'block_siblings_to_parent_menu') %}
    {% if view_page|length > 0 %}
      {{ view_page }}
    {% endif %}
    {{ content.field_online_application }}
    {{ content.field_contact }}
    {{ content.field_location }}
    {{ content.field_address }}
    {{ content.field_related_content }}
    {% set view_news = drupal_block('views_block:news_on_content-block_content_news') %}
    {% if view_news|length > 0 %}
      {{ view_news }}
    {% endif %}
    {% set view_events = drupal_block('views_block:events_on_content-block_1') %}
    {% if view_events|length > 0 %}
      {{ view_events }}
    {% endif %}
    {{ content.field_topics }}
    {% set view_translations = drupal_block('views_block:content_translations-block_language_switcher') %}
    {% if view_translations|length > 0 %}
      {{ view_translations }}
    {% endif %}
  </div>
</div>
