<div class="row">
  <div class="cloudy-content col-lg-8 col-md-12">
    <article{{ attributes }}>
      <p class="cloudy-lead-text">
        {{ content.field_summary.0 }}
      </p>
      <div{{ content_attributes.addClass('node__content', 'clearfix') }}>
        {# content allows us to place TOC #}
        {{ content|without(
          'field_editor_experience',
          'field_body_content',
          'field_service_mode',
          'field_summary',
          'field_contact',
          'field_location',
          'field_online_application',
          'field_address',
          'field_related_content',
          'field_topics') }}
        {# check to see if the old service mode experience or new body content experience is in use #}
        {% if content.field_editor_experience.0|render|striptags == "body" %}
          {{ content.field_body_content }}
        {% elseif content.field_editor_experience.0|render|striptags == "modes" %}
          {{ content.field_service_mode }}
        {% endif %}
      </div>
    </article>
  </div>
  <div class="cloudy-side col-lg-4 col-md-12">
    {% set view_parent = drupal_view_result('page_menu','block_parent_to_pages_menu')|length %}
    {% if view_parent > 0 %}
      {{ drupal_view('page_menu','block_parent_to_pages_menu') }}
    {% endif %}
    {% set view_page = drupal_view_result('page_menu','block_siblings_to_parent_menu')|length %}
    {% if view_page > 0 %}
      {{ drupal_view('page_menu','block_siblings_to_parent_menu') }}
    {% endif %}
    {{ content.field_online_application }}
    {{ content.field_contact }}
    {{ content.field_location }}
    {{ content.field_address }}
    {{ content.field_related_content }}
    {% set view_news = drupal_block('views_block:news_on_content-block_2')|length %}
    {% if view_news > 0 %}
      {{ drupal_block('views_block:news_on_content-block_2') }}
    {% endif %}
    {% set view_events = drupal_block('views_block:events_on_content-block_1')|length %}
    {% if view_events > 0 %}
      {{ drupal_block('views_block:events_on_content-block_1') }}
    {% endif %}
    {{ content.field_topics }}
  </div>
</div>
