<div class="row cloudy-content">
  <div class="col-lg-8 col-md-12">
    <article{{ attributes }}>
      {{ content.field_external_resource_type }}
      {{ content.field_featured_media }}
      <p class="cloudy-lead-text">
        {{ content.field_summary.0 }}
      </p>
      <div{{ content_attributes.addClass('node__content', 'clearfix') }}>
        {{ content|without('field_summary','field_external_resource_type','field_featured_media','field_display_groups','field_topics') }}
        <p>{% trans %}You are seeing this page as a logged in user on Portland.gov. Anonymous users are automatically redirected to the link above.{% endtrans %}</p>
      </div>
    </article>
  </div>
  <div class="cloudy-side col-lg-4 col-md-12">
    {{ content.field_topics }}
    {{ content.field_display_groups }}
  </div>
</div>
