{#
/**
 * @file
 * Portland content completion custom block.
 */
#}
  {%
    set classes = [
      'content-completion-block',
      'message'
    ]
  %}

  <div {{attributes.addClass(classes)}}>
    <p>
      <span class="fas fa-lg fa-info-circle fa-fw"></span>
      <span class="message__heading">Content completion summary</span>
    </p>

    <table>
      <thead>
        <tr>
          <th>Group Name</th>
          <th>Total Nodes</th>
          <th>Published Nodes</th>
          <th>% Published</th>
        </tr>
      </thead>
      <tbody>
        {% for row in completion_table %}
        <tr>
          <td>{{ row.label }}</td>
          <td>{{ row.Total }}</td>
          <td>{{ row.Published }}</td>
          <td>{{ row.Complete }}%</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
<p>
	<a href="/admin/reports/portland/content-completion">View sitewide report</a>
</p>

  </div>
