{#
/**
 * @file
 * Portland content completion custom block.
 */
#}
  {%
    set classes = [
      'content-completion-block',
      'message'
    ]
  %}

  <div {{attributes.addClass(classes)}}>
    <p>
      <span class="fas fa-lg fa-info-circle fa-fw"></span>
      <span class="message__heading">Content completion summary</span>
    </p>

    <p class="message__description">
      <em>This block is only visible to members of the Publisher role.</em>
      <a href="/admin/reports/portland/content-completion">View sitewide report</a>
    </p>

    <table>
      <thead>
        <tr>
          <th>Group Name</th>
          <th>Parent Group</th>
          <th>Total</th>
          <th>Published</th>
          <th>% Published</th>
        </tr>
      </thead>
      <tbody>
        {% for row in completion_table %}
        <tr>
          <td>{{ row.label }}</td>
          <td><a href="/group/{{ row.ParentId }}">{{ row.Parent }}</a></td>
          <td>{{ row.Total }}</td>
          <td>{{ row.Published }}</td>
          <td>{% if row.Total > 0 %}{{ row.Complete }}%{% endif %}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
