{#
/**
 * @file
 * Portland content completion custom block.
 */
#}
  {%
    set classes = [
      'content-completion-block',
      'message'
    ]
  %}

  <div {{attributes.addClass(classes)}}>
    <table>
      <thead>
        <tr>
          <th>Group Name</th>
          <th>Total Nodes</th>
          <th>Published Nodes</th>
          <th>% Published</th>
        </tr>
      </thead>
      <tbody>
        {% for row in completion_table %}
        <tr>
          <td><a href="/group/{{ row.id }}">{{ row.label }}</a></td>
          <td>{{ row.Total }}</td>
          <td>{{ row.Published }}</td>
          <td>{{ row.Complete }}%</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
