<div
  class="cloudy-notification alert alert-dismissible bg-light text-secondary d-none"
  role="alert"
  aria-live="polite"
  data-nid="{{ node.id() }}"
  data-changed="{{ node.revision_timestamp ? node.revision_timestamp.value : '' }}">
    <span class="fw-semibold">{{ label }}</span>
    {{ content }}
    <button
      type="button"
      class="btn btn-close m-0"
      aria-label="{{ 'Dismiss notification'|t }}"
      data-bs-dismiss="alert"></button>
</div>
