{% set classes = [
  'council-document',
  'council-document--type-' ~ type,
] %}

<div class="{{ classes | join(' ') }}">
  <h5><span class="council-document__type">{{ type }}</span>
  <span class="council-document__title"><a href="{{ url }}">{{ title }}</a></span></h5>
  {% if introducedBy or bureaus %}
    <div class="row">
      {% if introducedBy %}<div class="council-document__introduced-by col-md-6 col-sm-12">Introduced by: {{ introducedBy }}</div>{% endif %}
      {% if bureaus %}<div class="council-document__bureaus col-md-6 col-sm-12">Bureau: {{ bureaus }}</div>{% endif %}
    </div>
  {% endif %}
</div>
