{% set classes = [
  'council-document',
  'council-document--type-' ~ type,
  isDark ?? 'council-document--dark',
] %}

<div class="{{ classes | join(' ') }}">
  <h4><span class="council-document__type">{{ type }}</span>
  <span class="council-document__title">{{ title }}</span></h4>
  {% if introducedBy %}<div class="council-document__introduced-by">Introduced by: {{ introducedBy }}</div>{% endif %}
  {% if bureaus %}<div class="council-document__bureaus">Bureaus: {{ bureaus }}</div>{% endif %}
</div>
