<div class="teaser">
  <h3>
    <a href="{{ url }}" rel="bookmark">
      {{ label }}</a>
  </h3>
  {% if node.field_summary.value %}
    <div>
      <p>{{ node.field_summary.value }}</p>
    </div>
  {% endif %}
  {% if node.field_topics.value or node.field_audience.value %}
    {% spaceless %}
      <div{{attributes.addClass('teaser__tags','order-4')}}>
        <span class="sr-only">Tagged in</span>
        {% for i, topic in node.field_topics %}
          {% if node.field_topics[i].entity %}
            {% set topic = {
                url: path('entity.taxonomy_term.canonical', {'taxonomy_term': node.field_topics[i].entity.id}),
                title: node.field_topics[i].entity.name.value,
              }%}
            <a href="{{ topic.url }}" class="teaser__tag">
              {{ topic.title }}</a>
          {% endif %}
        {% endfor %}
        {% for i, audience in node.field_audience %}
          {% if node.field_audience[i].entity %}
            {% set audience = {
                url: path('entity.taxonomy_term.canonical', {'taxonomy_term': node.field_audience[i].entity.id}),
                title: node.field_audience[i].entity.name.value,
              }%}
            <a href="{{ audience.url }}" class="teaser__tag">
              {{ audience.title }}</a>
          {% endif %}
        {% endfor %}
      </div>
    {% endspaceless %}
  {% endif %}
</div>
