<div class="mb-2">
  <div class="event__date">
    <span class="d-flex align-items-center">
    {% if content.field_end_date|render|striptags|trim is not empty %}
      {{ content.field_start_date.0 }}
      <span class="datetime mx-1" aria-label="{{ 'through'|t }}">&ndash;</span>
      {{ content.field_end_date.0 }}
    {% else %}
      {{ content.field_start_date.0 }}
    {% endif %}
    </span>
  </div>
  <h3 class="h4 mb-0"><a href="{{ url }}">{{ label }}</a></h3>
  <div>
    {{ content.field_event_status }}
    {{ content.field_event_type.0 }}
  </div>
  <div class="event_time">
    <span class="d-flex align-items-center">
      {% if content.field_all_day|render|striptags|trim is not empty %}
        {{ content.all_day.0 }}
      {% elseif content.field_end_time|render|striptags|trim is not empty %}
        {{ content.field_start_time.0 }}
        <span class="datetime mx-1" aria-label="{{ 'to'|t }}">&ndash;</span>
        {{ content.field_end_time.0 }}
      {% else %}
        {{ content.field_start_time.0 }}
      {% endif %}
    </span>
  </div>
  <div>{{ content.field_location.0 }}</div>
  <div>{{ content.field_is_online.0 }}</div>
</div>
