<div class="row">
  <div class="cloudy-content col-lg-8 col-md-12">
    <article{{ attributes }}>
      {% include "@layouts/stack/stack.twig" with {
        layout_spacing: 4,
        item_spacing: 2,
        items: [content.field_event_status, content.field_event_type]
      } %}
      {{ content.field_summary }}
      {{ content.field_featured_media }}
      <div class="mt-8 mb-8">
        {{ content.group_date }}
      </div>
      <div class="mb-8">
        {{ content.field_is_online }}
        {% if node.field_is_online.value %}
          {{ content.field_web_conference_link }}
        {% endif %}
    </div>
      {{ drupal_entity('block', 'views_block__content_translations_block_content_language_switch', check_access=false) }}
      <div{{ content_attributes.addClass('node__content', 'clearfix') }}>
        {{ content|without(
          'field_summary',
          'field_event_type',
          'field_event_status',
          'field_location',
          'field_featured_media',
          'field_is_online',
          'field_web_conference_link',
          'group_date',
          'field_all_day',
          'field_start_time',
          'field_end_time',
          'field_contact',
          'field_related_content',
          'field_topics',
          'field_display_groups',
          'field_neighborhood') }}
      </div>
    </article>
  </div>
  <div class="cloudy-side col-lg-4 col-md-12">
    {{ content.field_location }}
    {{ content.field_contact }}
    {{ content.field_related_content }}
    {{ content.field_topics }}
    {{ content.field_neighborhood }}
    {% set view_news = drupal_block('views_block:related_events_and_news-backref_related_news') %}
    {% if view_news|length > 0 %}
      {{ view_news }}
    {% endif %}
    {% set view_events = drupal_block('views_block:related_events_and_news-backref_related_events') %}
    {% if view_events|length > 0 %}
      {{ view_events }}
    {% endif %}
    {# ? Is this view block redundant? #}
    {% set view_related_events = drupal_block('views_block:related_events_and_news-related_events') %}
    {% if view_related_events|length > 0 %}
      {{ view_related_events }}
    {% endif %}
    {% set view_translations = drupal_block('views_block:content_translations-block_language_switcher') %}
    {% if view_translations|length > 0 %}
      {{ view_translations }}
    {% endif %}
  </div>
</div>
