<div class="row">
  <div class="cloudy-content col-lg-8 col-md-12">
    <article{{ attributes }}>
      {% include "@layouts/stack/stack.twig" with {
        layout_spacing: 4,
        item_spacing: 2,
        items: [content.field_event_status, content.field_event_type]
      } %}
      {{ content.field_summary }}
      {{ content.field_featured_media }}
        <div class="mb-4">
          {{ content.group_date }}
          {% if content.field_all_day.0|render|trim is not empty or content.field_start_time.0 is not empty or content.field_end_time.0 is not empty %}
            <div class="event_time d-flex">
              {% if content.field_all_day.0|render|trim is not empty %}
                  {{ content.field_all_day }}
                {% elseif content.field_start_time.0 is not empty and content.field_end_time.0 is not empty %}
                  {{ content.field_start_time }}
                  <span class="mx-1" aria-label="{{ 'to'|t }}">&ndash;</span>
                  {{ content.field_end_time }}
                {% elseif content.field_start_time.0 is empty and content.field_end_time.0 is not empty %}
                  <span class="mr-1">{{ 'ends'|t|capitalize }} </span>
                  {{ content.field_end_time }}
                {% else %}
                  {{ content.field_start_time }}
                {% endif %}
            </div>
          {% endif %}
          {# Hide link from CSM-15 until form is ready to publish.
          <div class="event-ada-link d-flex">
            <a href="/oehr/request-ada-accommodation?request_what=event_accommodations&name={{ label|render|striptags|trim|url_encode }}&date={{ content.field_start_date.0|render|striptags|trim|url_encode }}&location={{ content.field_location.0['#node'].title.value|render|striptags|trim|url_encode }}&host={{ content.field_display_groups.0['#title']|render|striptags|trim|url_encode }}&url={{ url('<current>')|render|url_encode }}&autocomplete=yes">Request ADA Accommodation</a>
          </div> #}
        </div>
      {{ content.field_is_online }}
      {{ content.field_web_conference_link }}
      {% set view_lang_switcher = drupal_block('views_block:content_translations-block_content_language_switcher')|length %}
      {% if view_lang_switcher > 0 %}
        {{ drupal_block('views_block:content_translations-block_content_language_switcher') }}
      {% endif %}
      <div{{ content_attributes.addClass('node__content', 'clearfix') }}>
        {{ content|without(
          'field_summary',
          'field_event_type',
          'field_event_status',
          'field_location',
          'field_featured_media',
          'field_is_online',
          'field_web_conference_link',
          'group_date',
          'field_all_day',
          'field_start_time',
          'field_end_time',
          'field_contact',
          'field_related_content',
          'field_topics',
          'field_display_groups',
          'field_neighborhood') }}
      </div>
    </article>
  </div>
  <div class="cloudy-side col-lg-4 col-md-12">
    {{ content.field_location }}
    {{ content.field_contact }}
    {{ content.field_related_content }}
    {{ content.field_topics }}
    {{ content.field_neighborhood }}
    {% set view_news = drupal_block('views_block:related_events_and_news-backref_related_news')|length %}
    {% if view_news > 0 %}
      {{ drupal_block('views_block:related_events_and_news-backref_related_news') }}
    {% endif %}
    {% set view_events = drupal_block('views_block:related_events_and_news-backref_related_events')|length %}
    {% if view_events > 0 %}
      {{ drupal_block('views_block:related_events_and_news-backref_related_events') }}
    {% endif %}
    {# ? Is this view block redundant? #}
    {% set view_related_events = drupal_block('views_block:related_events_and_news-related_events')|length %}
    {% if view_related_events > 0 %}
      {{ drupal_block('views_block:related_events_and_news-related_events') }}
    {% endif %}
    {% set view_translations = drupal_block('views_block:content_translations-block_language_switcher')|length %}
    {% if view_translations > 0 %}
      {{ drupal_block('views_block:content_translations-block_language_switcher') }}
    {% endif %}
  </div>
</div>
