<div class="row">
  <div class="col-lg-8 col-md-12">
    <article{{ attributes }}>
      <p class="lead">
        {{ content.field_summary.0 }}
      </p>
      <div{{ content_attributes.addClass('node__content', 'clearfix') }}>
        {{ content|without('field_summary','field_contact','field_related_content','field_topics','field_display_groups','field_neighborhood') }}
      </div>
    </article>
  </div>
  <div class="col-lg-4 col-md-12">
    {% if content.field_contact|render|striptags %}
      <div class="mb-4">
        <h2>Contact</h2>
        {{ content.field_contact }}
      </div>
    {% endif %}
    {% if content.field_related_content|render|striptags %}
      <div class="mb-4">
        <h2>Related</h2>
        {{ content.field_related_content }}
      </div>
    {% endif %}
    {% if content.field_display_groups|render|striptags %}
      <div class="mb-4">
        <h2>Offered by</h2>
        {{ content.field_display_groups }}
      </div>
    {% endif %}
    {% if content.field_topics|render|striptags %}
      <div class="mb-4">
        <h2>Topics</h2>
        {{ content.field_topics }}
      </div>
    {% endif %}
    {% if content.field_neighborhood|render|striptags %}
      <div class="mb-4">
        <h2>Neighborhoods</h2>
        {{ content.field_neighborhood }}
      </div>
    {% endif %}
  </div>
</div>