{# Template for Featured Events #}
<div class="row position-relative">
  <div class="col order-2 order-md-1 position-static">
    <h3 class="h4"><a href="{{ url }}" class="stretched-link">{{ label }}</a></h3>
    <p>{{ content.field_summary.0 }}</p>
    <div class="d-flex flex-wrap mb-2">
      {{ content.group_date }}
      {% if content.field_event_status|render|striptags %}
        <span class="pr-4 text-danger font-weight-bold">{{ content.field_event_status.0 }}</span>
      {% endif %}
      {% if content.field_event_type|render|striptags %}
       <span class="pr-4">{{ content.field_event_type.0 }}</span>
      {% endif %}
      {% if content.field_is_online|render|striptags %}
       <span>{{ content.field_is_online }}</span>
      {% endif %}
    </div>
  </div>
  {% if content.field_featured_media.0 %}
    <div class="col-12 col-md-6 mb-4 mb-lg-0 order-1 order-md-2 d-flex align-items-center">
      {{ content.field_featured_media.0 }}
    </div>
  {% endif %}
</div>
<hr class="mt-0 mb-2">
