<div class="group-default">
  <div class="group-default__marquee">
    {{ overline }}
    <div class="row group-default__row">
      {% if marquee_primary_left|trim|length %}
        <div class="col group-default__marquee-left">
          {{ marquee_primary_left }}
        </div>
      {% endif %}
      <div class="col-lg-4 group-default__marquee-right">
        <div class="row">
          {% if marquee_secondary_left|trim|length %}
            <div class="col-lg-12 col-md-6">
              {{ marquee_secondary_left }}
            </div>
          {% endif %}
          {% if marquee_secondary_right|trim|length %}
            <div class="col-lg-12 col-md-6">
              {{ marquee_secondary_right }}
            </div>
          {% endif %}
        </div>
    </div>
  </div>
  {{ body_header }}
  {{ body_body }}
  {{ body_footer }}
</div>
