{#If content is provided for the right secondary column but not the left one, the following logic will move it over#}
{% if not marquee_secondary_left|trim|length and marquee_secondary_right|trim|length %}
  {% set marquee_secondary_left = marquee_secondary_right %}
  {% set marquee_secondary_right = "" %}
{% endif %}

<div class="group-default">
  <div class="group-default__marquee">
    {{ overline }}
    {% if marquee_primary_left|trim|length or marquee_primary_right|trim|length %}
      <div class="row group-default__row">
        <div class="col-lg-6">
          {{ marquee_primary_left }}
        </div>
        <div class="col-lg-6">
          {{ marquee_primary_right }}
        </div>
      </div>
    {% endif %}
    {% if marquee_secondary_left|trim|length or marquee_secondary_right|trim|length %}
      <div class="row group-default__row">
        <div class="col col-xs-6">
          {{ marquee_secondary_left }}
        </div>
        <div class="col col-xs-6">
          {{ marquee_secondary_right }}
        </div>
      </div>
    {% endif %}
  </div>
  {{ body_header }}
  {{ body_body }}
  {{ body_footer }}
</div>
