<div class="group-default">
  <div class="group-default__marquee">
    {{ overline }}
    <div class="row group-default__row">
      <div class="col-lg-6">
        {{ marquee_primary_left }}
      </div>
      <div class="col-lg-6">
        {{ marquee_primary_right }}
      </div>
    </div>
    {% if marquee_secondary_left|length > 3 or marquee_secondary_right|length > 3 %} {# null fields come throu as a render array with length 3 from Drupal #}
      <div class="row group-default__row">
        <div class="col col-xs-6">
          {{ marquee_secondary_left }}
        </div>
        <div class="col col-xs-6">
          {{ marquee_secondary_right }}
        </div>
      </div>
    {% endif %}
  </div>
  {{ body_header }}
  {{ body_body }}
  {{ body_footer }}
</div>
