{{ overline }}
<div class="row">
  <div class="col-lg-7 col-xl-8">
    {{ marquee_primary_left }}
  </div>
  <div class="col-lg-5 col-xl-4">
    {{ marquee_primary_right }}
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    {{ marquee_secondary_left }}
  </div>
  <div class="col-sm-6">
    {{ marquee_secondary_right }}
  </div>
</div>
{{ body_header }}
{{ body_body }}
{{ body_footer }}
