<div class="group-default">
  <div class="group-default__marquee">
    {{ overline }}
    {% if marquee_primary_left|trim|length and not marquee_primary_right|trim|length %}
      <div class="row group-default__row">
        <div class="col">
          {{ marquee_primary_left }}
        </div>
      </div>
    {% elseif marquee_primary_left|trim|length and marquee_primary_right|trim|length %}
      <div class="row group-default__row">
        <div class="col-lg-8 group-default__marquee-left">
          {{ marquee_primary_left }}
        </div>
        <div class="col-lg-4 group-default__marquee-right">
          {{ marquee_primary_right }}
        </div>
      </div>
    {% endif %}
    {% if marquee_secondary_left|trim|length or marquee_secondary_right|trim|length %}
      <div class="row group-default__row">
        {% if marquee_secondary_left|trim|length %}
          <div class="col col-xs-6">
            {{ marquee_secondary_left }}
          </div>
        {% endif %}
        {% if marquee_secondary_right|trim|length %}
          <div class="col col-xs-6">
            {{ marquee_secondary_right }}
          </div>
        {% endif %}
      </div>
    {% endif %}
  </div>
  {{ body_header }}
  {{ body_body }}
  {{ body_footer }}
</div>
