{#
/**
 * @file
 * Cloudy main with sidebar layout
 *
 *
 * Available region variables:
 * - Primary
 * - Secondary
 *
 */
#}

{%
  set classes = [
    'layout',
    'layout--cloudy-main-with-sidebar',
    'row',
  ]
%}
{% if content %}
  <div{{ attributes.addClass(classes) }}>
    {% if content.primary %}
      <div {{ region_attributes.primary.addClass('layout__region', 'layout__region--main', 'col-lg-8', 'col-sm-12') }}>
        {{ content.primary }}
      </div>
    {% endif %}
    {% if content.secondary %}
      <div {{ region_attributes.secondary.addClass('layout__region', 'layout__region--main', 'cloudy-side', 'col-lg-4', 'col-sm-12') }}>
        {{ content.secondary }}
      </div>
    {% endif %}
  </div>
{% endif %}
