{#
/**
 * @file
 * Cloudy elected official homepage
 *
 *
 * Available region variables:
 * - Overline
 * - Portrait
 * - Meta
 * - Contact
 * - Main
 *
 */
#}
{% set group_label = content["#bundle"]|replace({'_': ' '})|title %}

<div class="row">
  <div class="col">
        {% include '@components/badge/badge.twig' with {
      text: group_label,
      mb: 4
    } only %}
  </div>
</div>
<div class="row">
  <div class="elected--portrait col-lg-3 col-md-4 col-sm-12 mb-4">
    {{ content.portrait }}
  </div>
  <div class="elected--meta col-lg-5 col-md-8 col-sm-12">
    {% set contact_entity = content.portrait.field_contact|render|trim %}
    {% if contact_entity is not empty %}{# We have a related contact entity, therfore do not show deprecated social media fields  #}
      {{ content.meta|without('field_facebook', 'field_twitter', 'field_instagram') }}
    {% else %}
      {{ content.meta }}{# In this case, we do not have a related contact entity reference — show deprecated social media fields #}
    {% endif %}
  </div>
  <div class="elected--contact col-lg-4 col-md-12 col-sm-12">
    {% if contact_entity is not empty %}{# We have a related contact entity, therfore do not show fields that are rendered there (phone and email) #}
      {{ content.contact|without('field_phone', 'field_email') }}
    {% else %}
      {{ content.contact }}{# In this case, we do not have a related contact entity reference — show phone and email #}
    {% endif %}
  </div>
  </div>
</div>
<div class="row">
  <div class="elected--main-content col-sm-12">
    {{ content.main }}
  </div>
</div>
