{#
/**
 * @file
 * Cloudy Layout for 3 columns with menu, side, and main regions
 *
 * Available variables:
 * - content: The content for this layout.
 * - attributes: HTML attributes for the layout <div>.
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
    'layout',
    'layout--cloudy-three-column',
    'row',
  ]
%}
{% if content %}
  <div{{ attributes.addClass(classes) }}>
    {% if content.main %}
      <div {{ region_attributes.main.addClass('layout__region', 'layout__region--main', 'col-md-6', 'col-sm-12', 'order-md-2', 'order-sm-1') }}>
        {{ content.main }}
      </div>
    {% endif %}
    {% if content.side %}
      <div {{ region_attributes.side.addClass('layout__region', 'layout__region--side', 'col-md-3', 'col-sm-12', 'order-md-3', 'order-sm-2', 'border-left') }}>
        {{ content.side }}
      </div>
    {% endif %}
    {% if content.menu %}
      <div {{ region_attributes.menu.addClass('layout__region', 'layout__region--menu', 'col-md-3', 'col-sm-12', 'order-md-1', 'order-sm-3', 'border-right') }}>
        {{ content.menu }}
      </div>
    {% endif %}
  </div>
{% endif %}
