{#
/**
 * @file
 * Cloudy elected official homepage
 *
 *
 * Available region variables:
 * - Overline
 * - Portrait
 * - Meta
 * - Contact
 * - Main
 *
 */
#}
{%
  set classes = [
    'layout',
    'layout--cloudy-elected-official',
    'row',
  ]
%}

{% if content %}
  <div{{ attributes.addClass(classes) }}>
    {% if content.portrait %}
      <div {{ region_attributes.portrait.addClass('layout__region', 'layout__region--portrait', 'elected--portrait', 'col-lg-2', 'col-md-4', 'mb-4') }}>
        {{ content.portrait }}
      </div>
    {% endif %}
    {% if content.meta %}
      <div {{ region_attributes.meta.addClass('layout__region', 'layout__region--meta', 'elected--meta', 'col-lg-5', 'col-md-8', 'col-sm-12') }}>
          {{ content.meta }}
      </div>
    {% endif %}
    {# TODO: Refactor the name of this region ans it will now hold more than contact info.
       Any refactor is going to need to replace the blocks in this region for the default
       As well as any customized elected pages. #}
    {% if content.contact %}
      <div {{ region_attributes.contact.addClass('layout__region', 'layout__region--contact', 'elected--contact', 'col-lg-5', 'col-md-12', 'col-sm-12') }}>
        {{ content.contact }}
      </div>
    {% endif %}
    {% if content.main %}
      <div {{ region_attributes.main.addClass('layout__region', 'layout__region--main', 'elected--main', 'col-12') }}>
        {{ content.main }}
      </div>
  {% endif %}
  </div>
{% endif %}