{#
/**
 * @file
 * Default theme implementation to display a one-column layout.
 *
 * Available variables:
 * - content: The content for this layout.
 * - attributes: HTML attributes for the layout <div>.
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
  'layout',
  'layout--onecol',
]
%}
{% if content %}
  <div{{ attributes.addClass(classes) }}>
    <div {{ region_attributes.content.addClass('layout__region', 'layout__region--content') }}>
      <div class="row">
        <div class="col-lg-8">
          {{ content.field_official_organization_name }}
          {{ content.field_summary }}
        </div>
        <div class="col-lg-4">
          {{ content.field_featured_media }}
        </div>
      </div>
      <div class="row justify-content-around">
        <div class="col-lg-3">
          {{ content.field_location }}
          {{ content.field_address }}
        </div>
        <div class="col-lg-3">
          {{ content.field_phone }}
          {{ content.field_facebook }}
          {{ content.field_twitter }}
          {{ content.field_instagram }}
        </div>
      </div>
      {{ content.group_site_menu_entity_view_1 }}
      {{ content.field_featured_groups }}
      {{ content.field_featured_content }}
    </div>
  </div>
{% endif %}


