{% embed "@layouts/two-column.twig" with {
  "row_classes": [
    "flex-col",
    "md:flex-row",
    "mb-8",
    "-mx-2"
  ],
  "left_classes": [
    "order-2",
    "order-md-1",
    "md:w-3/4",
    "my-2",
    "px-2"
  ],
  "right_classes": [
    "order-1",
    "order-md-2",
    "md:w-1/4",
    "my-2",
    "px-2"
  ]
} %}
  {% block left %}
    {{ top_left }}
  {% endblock %}
  {% block right %}
    {{ top_right }}
  {% endblock %}
{% endembed %}

<div>
  <h2>{{ "contact"|t|title }}</h2>
  {% embed "@layouts/three-column.twig" with {
    "row_classes": [
      "flex-col",
      "flex-lg-row",
      "mb-8",
      "-mx-2"
    ]
  } %}
    {% block left %}
      {{ center_left }}
    {% endblock %}
    {% block center %}
      {{ center_center }}
    {% endblock %}
    {% block right %}
      {{ center_right }}
    {% endblock %}
  {% endembed %}
</div>

{% embed "@layouts/one-column.twig" with {
  "row_classes": [
    "mb-8",
    "-mx-2"
  ]
} %}
  {% block center %}
    {{ bottom_center }}
  {% endblock %}
{% endembed %}
