{#
/**
 * @file
 * Portland.gov theme implementation to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template normally located in the
 * core/modules/system directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 * - logo: The url of the logo image, as defined in theme settings.
 * - site_name: The name of the site. This is empty when displaying the site
 *   name has been disabled in the theme settings.
 * - site_slogan: The slogan of the site. This is empty when displaying the site
 *   slogan has been disabled in theme settings.

 * Page content (in order of occurrence in the default page.html.twig):
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 */
#}
{% set global_admin = page.global_admin|render %}
{% if global_admin %}
  {{ page.global_admin }}
{% endif %}
<section>
  {{ page.pre_header }}
</section>
<a href="#main" class="visually-hidden focusable skip-link">
    {{ 'Skip to main content'|t }}
</a>
<header id="header" class="header" aria-label="{{ 'Site header'|t}}" role="banner">
  <nav class="navbar navbar-dark navbar-expand-lg" id="navbar-main">
    <div class="container">
      {{ page.header }}
      {% if page.primary_menu or page.header_form %}
        <button class="navbar-toggler navbar-toggler-right border-0" type="button" data-toggle="collapse" data-target="#CollapsingNavbar" aria-controls="CollapsingNavbar" aria-expanded="false" aria-label="{{ 'Toggle navigation'|t }}">{{ 'Menu'|t }}</button>
        <div class="collapse navbar-collapse justify-content-end h-100" id="CollapsingNavbar">
          {{ page.primary_menu }}
          {% set header_form = page.header_form|render %}
          {% if header_form %}
            <div class="form-inline navbar-form">
              {{ page.header_form }}
            </div>
          {% endif %}
        </div>
      {% endif %}
    </div>
  </nav>
</header>
{% set tabs = page.tabs|render %}
{% if tabs %}
  <div class="bg-light" role="navigation">
    {{ tabs }}
  </div>
{% endif %}
{% set messages = page.messages|render %}
{% if messages %}
  {{ page.messages }}
{% endif %}
{% set pre_content = page.pre_content|render %}
{% if pre_content %}
  <section class="container">
    {{ page.pre_content }}
  </section>
{% endif %}
<main class="mt-4 main-content container row-offcanvas row-offcanvas-left" id="content" role="main">
  {{ page.content }}
</main>
<footer class="site-footer bg-light text-dark">
  <div class="container">
    <div class="row">
      {% if page.footer_first or page.footer_second %}
        <div class="col-sm-6">
          {{ page.footer_first }}
        </div>
        <div class="col-sm-6">
          {{ page.footer_second }}
        </div>
      {% endif %}
    </div>
  </div>
</footer>
