{% set classes = classes|default([
    'cloudy-tray',
    'cloudy-tray--tools',
    'col-lg-3'
  ])
%}

{% set header_attribute = create_attribute() %}
{% set header_classes = header_classes|default([
    'cloudy-tray__head'
  ])
%}

{% set overlay_attribute = create_attribute() %}
{% set overlay_classes = overlay_classes|default([
    'cloudy-overlay'
  ])
%}

{% if content %}
  {% spaceless %}
    <div class="d-flex d-lg-none flex-column w-100 order-1">
      <button
        role="button"
        id="btn-open"
        class="btn btn-lg align-self-end"
        data-toggle="class"
        data-target="body, .cloudy-tray, .cloudy-overlay"
        data-classes="is-active"
        aria-controls="cloudy-tray"
        aria-pressed="false"
        aria-expanded="false"
        aria-label="{{ 'Open filters'|t }}">
          <i class="fas fa-sliders-h fa-sm"></i>
          {% set current_path = path('<current>') %}
          {% if '/events' in current_path|render %}
            <span>{{ 'Search events'|t }}</span>
          {% else %}
            <span>{{ 'Filters'|t }}</span>
          {% endif %}
      </button>
    </div>
    <div {{ attributes.addClass(classes)}} aria-labelledby="btn-open">
      <div {{ header_attribute.addClass(header_classes) }}>
        <button
          role="button"
          id="btn-close"
          class="btn btn-sm btn-close align-self-start text-dark text-uppercase"
          data-toggle="class"
          data-target="body, .cloudy-tray, .cloudy-overlay"
          data-classes="is-active"
          aria-controls="cloudy-tray"
          aria-pressed="false"
          aria-expanded="false"
          aria-label="{{ 'Close filters'|t }}">
          <i class="fas fa-times"></i>
          <span>{{ 'Close'|t }}</span>
        </button>
      </div>
      {{ content }}
    </div>
    <div {{ overlay_attribute.addClass(overlay_classes) }}></div
  {% endspaceless %}
{% endif %}
