<div class="row">
  <div class="cloudy-content col-lg-8 col-md-12">
    <article{{ attributes }}>
      <div{{ content_attributes.addClass('node__content', 'clearfix') }}>
        {% if node.field_is_reservable.value == 1 %}
            <div class="location--reservable">{{ 'reservable'|t|capitalize }}</div>
          {% endif %}
          {{ content|without('field_is_reservable') }}
      </div>
    </article>
  </div>
  <div class="cloudy-side col-lg-4 col-md-12 mt-6 mt-lg-0">
    {% set view_services = drupal_block('views_block:services_and_pages_on_location-block_services_at_location') %}
    {% if view_services|length > 0 %}
      {{ view_services }}
    {% endif %}
    {% set view_related = drupal_block('views_block:services_and_pages_on_location-block_pages_on_location') %}
    {% if view_related|length > 0 %}
      {{ view_related }}
    {% endif %}
    {% set view_news = drupal_block('views_block:news_on_content-block_location_news') %}
    {% if view_news|length > 0 %}
      {{ view_news }}
    {% endif %}
    {% set view_events = drupal_block('views_block:events_on_content-block_2') %}
    {% if view_events|length > 0 %}
      {{ view_events }}
    {% endif %}
  </div>
</div>
