{%
  set classes = [
    'node',
    'node--type-' ~ node.bundle|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
  ]
%}
{{ attach_library('classy/node') }}
<div{{ attributes.addClass(classes) }}>
  <div{{ title_attributes.addClass('room--title') }}>
    {{ label }}
  </div>
  {{ content }}
</div>
