<div class="row">
  <div class="cloudy-content col-lg-8">
    <article{{ attributes.addClass(classes) }}>
      <div{{ content_attributes.addClass('node__content', 'clearfix') }}>
        {{ content.field_park_location_type }}
        {{ content.field_featured_media }}
        {{ content.field_summary }}
        {{ content.toc_js }}
        {% set view_within = drupal_block('views_block:within_park_facility-block_park_children') %}
        {% if view_within|length > 0 %}
          {{ view_within }}
        {% endif %}
        {{ content|without(
          'toc_js',
          'field_park_location_type',
          'field_featured_media',
          'field_summary',
          'field_location',
          'field_located_within',
          'field_contact',
          'field_neighborhood',
          'field_city_section',
          'field_hours_of_operation',
          'field_twitter',
          'field_instagram',
          'field_facebook',
          'field_park_amenities_activities',
          'field_documents'
          ) }}
      </div>
    </article>
  </div>
  <div class="cloudy-side col">
    {{ content.field_location }}
    {{ content.field_located_within }}
    {% set view_services = drupal_block('views_block:services_and_pages_on_location-block_services_at_location') %}
    {% if view_services|length > 0 %}
      {{ view_services }}
    {% endif %}
    {% set view_related = drupal_block('views_block:services_and_pages_on_location-block_pages_on_location') %}
    {% if view_related|length > 0 %}
      {{ view_related }}
    {% endif %}
    {{ content.field_hours_of_operation }}
    {% set view_events = drupal_block('views_block:events_on_content-block_2') %}
    {% if view_events|length > 0 %}
      {{ view_events }}
    {% endif %}
    {{ content.field_contact }}
    {{ content.field_twitter }}
    {{ content.field_facebook }}
    {{ content.field_instagram }}
    {% set view_news = drupal_block('views_block:news_on_content-block_location_news') %}
    {% if view_news|length > 0 %}
      {{ view_news }}
    {% endif %}
    {% set view_upcoming_construction = drupal_block('views_block:construction_projects_on_content-block_upcoming_at_location') %}
    {% if view_upcoming_construction|length > 0 %}
      {{ view_upcoming_construction }}
    {% endif %}
    {% set view_past_construction = drupal_block('views_block:construction_projects_on_content-block_past_at_location') %}
    {% if view_past_construction|length > 0 %}
      {{ view_past_construction }}
    {% endif %}
    {{ content.field_park_amenities_activities }}
    {% set view_park_policy = drupal_block('views_block:within_park_facility-block_park_policy') %}
    {% if view_park_policy|length > 0 %}
      {{ view_park_policy }}
    {% endif %}
    {{ content.field_documents }}
    {{ content.field_neighborhood }}
    {{ content.field_city_section }}
  </div>
</div>
