{%
  set classes = [
    'node',
    'node--type-' ~ node.bundle|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
  ]
%}
{{ attach_library('classy/node') }}
<div class="row">
  <div class="col-lg-8 col-md-12">
    <article{{ attributes.addClass(classes) }}>
      <header>
        {{ title_prefix }}
        {% if not page %}
          <h2{{ title_attributes.addClass('node__title') }}>
            <a href="{{ url }}" rel="bookmark">{{ label }}</a>
          </h2>
        {% endif %}
        {{ title_suffix }}
      </header>
      <div{{ content_attributes.addClass('node__content', 'clearfix') }}>
        {{ content|without('field_location','field_neighborhood','field_city_section','field_hours_of_operation','field_park_amenities_activities') }}
      </div>
    </article>
  </div>
  <div class="cloudy-side col-lg-4 col-md-12">
    {{ content.field_location }}
    {{ content.field_neighborhood }}
    {{ content.field_city_section }}
    {{ content.field_hours_of_operation }}
    {{ content.field_park_amenities_activities }}
    {% set view_services = drupal_block('views_block:services_and_pages_on_location-block_services_at_location')|length %}
    {% if view_services > 0 %}
      {{ drupal_block('views_block:services_and_pages_on_location-block_services_at_location') }}
    {% endif %}
    {% set view_related = drupal_block('views_block:services_and_pages_on_location-block_pages_on_location')|length %}
    {% if view_related > 0 %}
      {{ drupal_block('views_block:services_and_pages_on_location-block_pages_on_location') }}
    {% endif %}
    {% set view_news = drupal_block('views_block:news_on_content-block_1')|length %}
    {% if view_news > 0 %}
      {{ drupal_block('views_block:news_on_content-block_1') }}
    {% endif %}
    {% set view_events = drupal_block('views_block:events_on_content-block_2')|length %}
    {% if view_events > 0 %}
      {{ drupal_block('views_block:events_on_content-block_2') }}
    {% endif %}
  </div>
</div>