{%
  set classes = [
    'node',
    'node--type-' ~ node.bundle|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
    'mb-3',
  ]
%}
{{ attach_library('classy/node') }}
<div{{ attributes.addClass(classes) }}>
  <div{{ title_attributes.addClass('location--title') }}><a href="{{ url }}" rel="bookmark">{{ label }}</a></div>
  {% spaceless %}
    {% if node.field_location[0].entity.field_address_or_entrance.address_line1 %}
      {{ node.field_location[0].entity.field_address_or_entrance.address_line1 }}
    {% endif %}
    {% if node.field_location[0].entity.field_address_or_entrance.address_line2 %}
      {{ node.field_location[0].entity.field_address_or_entrance.address_line2 }}
    {% endif %}
    {% if node.field_location[0].entity.field_address_or_entrance.locality and node.field_location[0].entity.field_address_or_entrance.locality != "Portland"%}
      {{ node.field_location[0].entity.field_address_or_entrance.locality }}
      {% if node.field_location[0].entity.field_address_or_entrance.administrative_area %}, {{ node.field_location[0].entity.field_address_or_entrance.administrative_area }}{% endif %}
      {% if node.field_location[0].entity.field_address_or_entrance.postal_code %}{{ node.field_location[0].entity.field_address_or_entrance.postal_code }}{% endif %}
    {% endif %}
  {% endspaceless %}
  {% if node.field_location[0].entity.field_geolocation is empty %}
    <div class="get-directions-link"><a href="https://www.google.com/maps/dir/{{ node.field_location[0].entity.field_address_or_entrance.address_line1 }} {{ node.field_location[0].entity.field_address_or_entrance.address_line2 }} {{ node.field_location[0].entity.field_address_or_entrance.locality }} {{ node.field_location[0].entity.field_address_or_entrance.administrative_area }} {{ node.field_location[0].entity.field_address_or_entrance.postal_code }}" target="_blank">Get Directions</a></div>
  {% else %}
    <div class="get-directions-link"><a href="https://www.google.com/maps/dir/{{ node.field_location[0].entity.field_geolocation.lat }},{{ node.field_location[0].entity.field_geolocation.lon }}" target="_blank">Get Directions</a></div>
  {% endif %}
  {{ content|without('field_location') }}
</div>