<div class="row">
  <div class="cloudy-content col-lg-8 col-md-12">
    <article{{ attributes }}>
      <div{{ content_attributes.addClass('node__content', 'clearfix') }}>
        {% if node.field_emergency_closure.value == 1 %}
          <div class="d-flex flex-column align-items-start">
            {% include "@components/badge/badge.twig" with {
              classes: [
                'mb-2',
              ],
              text: "Emergency closure",
              type: "red",
            } only %}
            <a href="/emergency-closures">Emergency closure information</a>
          </div>
        {% endif %}
        {{ content|without('field_geolocation','field_emergency_closure','field_display_groups') }}
      </div>
    </article>
  </div>
  <div class="cloudy-side col-lg-4 col-md-12">
    {% set view_services = drupal_block('views_block:services_and_pages_on_location-block_services_at_location')|length %}
    {% if view_services > 0 %}
      {{ drupal_block('views_block:services_and_pages_on_location-block_services_at_location') }}
    {% endif %}
    {% set view_related = drupal_block('views_block:services_and_pages_on_location-block_pages_on_location')|length %}
    {% if view_related > 0 %}
      {{ drupal_block('views_block:services_and_pages_on_location-block_pages_on_location') }}
    {% endif %}
    {% set view_news = drupal_block('views_block:news_on_content-block_1')|length %}
    {% if view_news > 0 %}
      {{ drupal_block('views_block:news_on_content-block_1') }}
    {% endif %}
    {% set view_events = drupal_block('views_block:events_on_content-block_2')|length %}
    {% if view_events > 0 %}
      {{ drupal_block('views_block:events_on_content-block_2') }}
    {% endif %}
  </div>
</div>
