{{ devel_breakpoint() }}
{%
  set classes = [
    'node',
    'node--type-' ~ node.bundle|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
    'mb-4',
  ]
%}
{{ attach_library('classy/node') }}
<div{{ attributes.addClass(classes) }}>
  {% spaceless %}
  <address class="mb-2" translate="no">
  <div class="location--title">{{ label }}</div>
    {% if node.field_location[0].entity.field_address_or_entrance.address_line1 %}
      {{ node.field_location[0].entity.field_address_or_entrance.address_line1 }}
      <br>
    {% endif %}
    {% if node.field_floor.value %}
      {{ node.field_floor.value }}
      <br>
    {% endif %}
    {% if node.field_location[0].entity.field_address_or_entrance.locality %}
      {{ node.field_location[0].entity.field_address_or_entrance.locality }}{% if node.field_location[0].entity.field_address_or_entrance.administrative_area %}, {{ node.field_location[0].entity.field_address_or_entrance.administrative_area }}{% endif %}{% if node.field_location[0].entity.field_address_or_entrance.postal_code %} {{ node.field_location[0].entity.field_address_or_entrance.postal_code }}{% endif %}
    {% endif %}
  </address>
  {% endspaceless %}
  {% if node.field_emergency_closure.value == 1 %}
    <div class="d-flex flex-column align-items-start">
      {% include "@components/badge/badge.twig" with {
        classes: [
          'mb-2',
        ],
        text: "Emergency closure",
        type: "red",
      } only %}
      <a href="/emergency-closures">Emergency closure information</a>
    </div>
  {% else %}
    {% if node.field_location[0].entity.field_geolocation is empty %}
      <div class="get-directions-link"><a href="https://www.google.com/maps/dir/{{ node.field_location[0].entity.field_address_or_entrance.address_line1 }} {{ node.field_location[0].entity.field_address_or_entrance.address_line2 }} {{ node.field_location[0].entity.field_address_or_entrance.locality }} {{ node.field_location[0].entity.field_address_or_entrance.administrative_area }} {{ node.field_location[0].entity.field_address_or_entrance.postal_code }}" target="_blank">Get Directions</a></div>
    {% else %}
      <div class="get-directions-link"><a href="https://www.google.com/maps/dir/{{ node.field_location[0].entity.field_geolocation.lat }},{{ node.field_location[0].entity.field_geolocation.lon }}" target="_blank">Get Directions</a></div>
    {% endif %}
    {{ content|without('field_location','field_floor','field_emergency_closure') }}
    <div class="more-information"><a href="{{ url }}" rel="bookmark">More about this location</a></div>
  {% endif %}
</div>
