<div class="service-location">
  <div{{ title_attributes.addClass('service-location---title') }}>
    <a href="{{ url }}" rel="bookmark">{{ label }}</a>
  </div>
  {% if content.field_floor.value %}{{ content.field_floor.value}}<br>{% endif %}
  {% if content.field_location %}{{ content.field_location }}{% endif %}
  {% if content.field_open_hours %}{{ content.field_open_hours}}{% endif %}
</div>
