<div class="row">
  <div class="cloudy-content col-lg-8 col-md-12">
    <article{{ attributes }}>
      <div{{ content_attributes.addClass('node__content', 'clearfix') }}>
        {% spaceless %}
          {{ content.field_service_location_type }}
          <address class="mb-4" translate="no">
            <div class="location--title">{{ label }}</div>
            {% if node.field_location[0].entity.field_address_or_entrance.address_line1 %}
              {{ node.field_location[0].entity.field_address_or_entrance.address_line1 }}
              <br>
            {% endif %}
            {% if node.field_floor.value %}
              {{ node.field_floor.value }}
              <br>
            {% endif %}
            {% if node.field_location[0].entity.field_address_or_entrance.locality %}
              {{ node.field_location[0].entity.field_address_or_entrance.locality }}{% if node.field_location[0].entity.field_address_or_entrance.administrative_area %}, {{ node.field_location[0].entity.field_address_or_entrance.administrative_area }}{% endif %}{% if node.field_location[0].entity.field_address_or_entrance.postal_code %} {{ node.field_location[0].entity.field_address_or_entrance.postal_code }}{% endif %}
            {% endif %}
          </address>
        {% endspaceless %}
        {% if node.field_emergency_closure.value == 1 %}
          {{ content.field_emergency_closure }}
          <a class="d-block mb-4" href="/emergency-closures">Emergency closure information</a>
        {% endif %}
        {{ content|without('field_service_location_type', 'field_location','field_floor','field_emergency_closure') }}
        <div class="more-information">
          <a href="{{ url }}" rel="bookmark">More about this location</a>
        </div>
      </div>
    </article>
  </div>
  <div class="cloudy-side col-lg-4 col-md-12">
    {% set view_services = drupal_block('views_block:services_and_pages_on_location-block_services_at_location')|length %}
    {% if view_services > 0 %}
      {{ drupal_block('views_block:services_and_pages_on_location-block_services_at_location') }}
    {% endif %}
    {% set view_related = drupal_block('views_block:services_and_pages_on_location-block_pages_on_location')|length %}
    {% if view_related > 0 %}
      {{ drupal_block('views_block:services_and_pages_on_location-block_pages_on_location') }}
    {% endif %}
    {% set view_news = drupal_block('views_block:news_on_content-block_1')|length %}
    {% if view_news > 0 %}
      {{ drupal_block('views_block:news_on_content-block_1') }}
    {% endif %}
    {% set view_events = drupal_block('views_block:events_on_content-block_2')|length %}
    {% if view_events > 0 %}
      {{ drupal_block('views_block:events_on_content-block_2') }}
    {% endif %}
  </div>
</div>
