{#
/**
 * @file
 * Override of the teaser display of a service location. Used when a service is referenced inside another node.
 *
 */
#}
<h4{{ title_attributes.addClass('service-location') }}>
  <a href="{{ url }}" rel="bookmark">{{ label }}</a>
</h4>
{{ content.field_building }}
{{ content.field_floor}}
<p>{{ content.field_open_hours}}</p>
<p>{{ content.field_get_directions}}</p>
