<div class="location">
  <h2{{ title_attributes.addClass('service-location h4') }}>
    <a href="{{ url }}" rel="bookmark">{{ label }}</a>
  </h2>
  {{ content.field_open_hours}}
  {{ content.field_floor}}
  {{ content.field_location }}
</div>
