{% block global_admin %}
  {% if global_admin %}
    {{ global_admin }}
  {% endif %}
{% endblock %}
{% block pre_header %}
  {{ pre_header }}
{% endblock %}
<a href="#main" class="sr-only">
    {{ 'Skip to main content' }}
</a>
<header id="header" class="header" aria-label="{{ 'Site header' }}" role="banner">
  <nav class="flex items-center justify-between flex-wrap bg-gray-200 p-6">
    <div class="flex items-center flex-shrink-0 text-white mr-6">
      {% block header_brand %}
        {{ header_brand }}
      {% endblock %}
    </div>
    <div class="block lg:hidden">
      <button class="navbar-toggler navbar-toggler-right border-0" type="button" data-toggle="collapse" data-target="#CollapsingNavbar" aria-controls="CollapsingNavbar" aria-expanded="false" aria-label="{{ 'Toggle navigation' }}">{{ 'Menu' }}</button>
    </div>
    <div id="CollapsingNavbar" class="hidden lg:visible w-full block flex-grow lg:flex lg:items-center lg:w-auto">
      <div class="text-sm lg:flex-grow">
        {% block header_menu %}
          {{ header_menu }}
        {% endblock %}
      </div>
      <div>
        {% block header_form %}
          {{ header_form }}
        {% endblock %}
      </div>
    </div>
  </nav>
</header>
{% block tabs %}
  <section class="bg-gray-200" role="navigation" id="tabs">
    {% if tabs %}
      {{ tabs }}
    {% endif %}
  </section>
{% endblock %}
{% block messages %}
  {% if messages %}
    {{ messages }}
  {% endif %}
{% endblock %}
<section class="container mx-auto px-2">
  {% block pre_content %}
    {{ pre_content }}
  {% endblock %}
</section>
{%
  set main_classes = [
    'row-offcanvas',
    'row-offcanvas-left',
    not is_front ? 'container',
    'mx-auto',
    'px-2'
  ]
%}
<main id="content" role="main" class="{{ main_classes|join(' ') }}">
  {% block main %}
    {{ main }}
  {% endblock %}
</main>
<footer class="gb-gray-400">
  <div class="container mx-auto px-2">
    <div class="flex flex-col md:flex-row">
      <div class="w-full md:w-1/2" id="footer_first">
        {% block footer_first %}
          {{ footer_first }}
        {% endblock %}
      </div>
      <div class="w-full md:w-1/2" id="footer_second">
        {% block footer_second %}
          {{ footer_second }}
        {% endblock %}
      </div>
    </div>
  </div>
</footer>
