{# TODO: Figure out why this component won't hook up #}
{# {% include "@components/council-agenda-session/council-agenda-session.twig" with {
  "title": content.field_session_title.0["#markup"],
  "datetime": field_session_start_datetime.0,
  "status": field_session_status,
  "agendaItems": field_agenda_items,
} only %} #}
{% set type = type|default('primary') %}
{% set classes = [
  'council-agenda-session',
] %}

<div class="{{ classes | join(' ') }}">
  <h2 class="council-agenda-session__title">{{ content.field_session_title }}</h2>
  {{ content.field_session_start_datetime }}
  {{ content.field_session_status }}
  {{ content.field_agenda_items }}
</div>