{% set classes = [
  'morsel',
  image ? 'morsel--image-featured'
] %}

<div class="{{ classes|join(' ')|trim }}">
  {% if image %}
    <div class="morsel__image">
      {{ image }}
    </div>
  {% endif %}
  <div class="morsel__body">
    {% if is_draft %}
      {% include "@components/badge/badge.twig" with {
        text: "unpublished",
        type: "danger",
        classes: ['mb-2'],
      } only %}
    {% endif %}
    {% if overline %}
      {% include "@components/overline/overline.twig" with {
        text: overline,
      } only %}
    {% endif %}
    <h2><a href="{{ url }}">{{ heading }}</a></h2>
    {% if posted_on %}
      <div class="morsel__posted-on">
        <div class="sr-only">Posted on</div>
        {{ posted_on }}
      </div>
    {% endif %}
    {% if date_start %}
      <div class="morsel__dates">
        {% include '@elements/icon/fa.twig' with {
          name: 'calendar',
        } only %}
        <time datetime="{{ date_start }}">{{ date_start }}</time>
        {% if date_end %}
          <span aria-label="through"> – </span>
          <time datetime="{{ date_end }}">{{ date_end }}</time>
        {% endif %}
      </div>
    {% endif %}
    {% if time_start %}
      <div class="morsel__times">
        {% include '@elements/icon/fa.twig' with {
          name: 'clock',
        } only %}
        <time datetime="{{ time_start }}">{{ time_start }}</time>
        {% if time_end %}
          <span aria-label="through"> – </span>
          <time datetime="{{ time_end }}">{{ time_end }}</time>
        {% endif %}
      </div>
    {% endif %}
    {% if text %}
      <p class="morsel__text">{{ text }}</p>
    {% endif %}
  </div>
</div>
