{% set heading_level = heading.level|default(3) %}
{% set is_draft = is_draft|default(false) %}
{% set layout_classes = [
  'morsel',
  layout_mt ? 'mt-' ~ layout_mt,
  layout_mb ? 'mb-' ~ layout_mb,
  is_draft ? 'morsel--is-draft',
  image ? 'morsel--image-featured'
] %}

{% spaceless %}
  <div class="{{ layout_classes|join(' ')|trim }}">
    <div class="d-flex flex-column align-items-start">
      {% block prehead %}
        {% if is_draft %}
          {% include '@components/badge/badge.twig' with {
            text: 'unpublished'|t|capitalize,
            color: 'danger',
            mb: 2
          } only %}
        {% endif %}
        {% include '@components/heading/heading.twig' with {
          url: heading.url,
          level: heading.level,
          style: heading.style_override,
          text: heading.text,
          classes: ['order-1', 'mb-2']
        } only %}
        {% if type %}
          {{ type }}
        {% endif %}
        {% if items %}
          {% include '@layouts/stack/stack.twig' with {
            layout_classes: ['order-0'],
            layout_spacing: 2,
            item_spacing: 2
          } %}
        {% endif %}
      {% endblock %}
    </div>
    <div class="row no-gutters">
      <div class="col-12 col-md">
        {% if
          node.field_updated_on[0].value > node.field_published_on[0].value %}
          {{ updated_on }}
        {% elseif posted_on %}
          {{ posted_on }}
        {% endif %}
        {% if group_date %}
          {{ group_date }}
        {% endif %}
        {% if group_time %}
          <div class="morsel__time">
            {{ group_time }}
          </div>
        {% endif %}
        {% if is_online %}
          <div class="morsel__online">
            {{ is_online }}
          </div>
        {% endif %}
        {% if text %}
          <div class="morsel__text">
            {{ text }}
          </div>
        {% endif %}
        {% if location %}
          {# location component should be passed through here #}
          <div class="morsel__location">
            {{ location }}
          </div>
        {% endif %}
      </div>
      {% if image %}
        <div class="morsel__image col-12 col-md-4">
          {{ image }}
        </div>
      {% endif %}
    </div>
  </div>
{% endspaceless %}
