{# DEFAULTS #}
{% set headingLevel = heading.level|default(3) %}
{# CLASSES #}
{% set classes = [
  'morsel',
  is_draft ? 'morsel--is-draft',
  image ? 'morsel--image-featured',
  updated_on ? 'morsel--updated',
] %}
{# TWIG #}
<div class="{{ classes|join(' ')|trim }}">
  {% if image %}
    <div class="morsel__image">
      <div class="morsel__image-inner">
        {{ image }}
      </div>
    </div>
  {% endif %}
  <div class="morsel__body">
    {% if is_draft %}
      {% include "@components/badge/badge.twig" with {
        text: "unpublished",
        type: "danger",
        classes: ['mb-2'],
      } only %}
    {% endif %}
    {% if updated_on and (updated_on|render|striptags|date('U') > posted_on|render|striptags|date('U')) %}
      <div class="morsel__date">
        {% if type %}<span class="morsel__type">{{ type }}</span>{% endif %} Updated {{ updated_on|render|striptags|date('U')|format_date('month_day_year') }}
      </div>
    {% else %}
      <div class="morsel__date">
        {% if type %}<span class="morsel__type">{{ type }}</span>{% endif %} <span class="sr-only">Posted on</span>{{ posted_on|render|striptags|date('U')|format_date('month_day_year') }}
      </div>
    {% endif %}
    <div class="morsel__heading">
      {% include "@components/heading/heading.twig" with {
        url: url,
        level: headingLevel,
        style: heading.style_override,
        text: heading.text
      } only %}
    </div>
    {% if text %}
      <p class="morsel__text">{{ text }}</p>
    {% endif %}
  </div>
</div>
