{# DEFAULTS #}
{% set headingLevel = heading.level|default(3) %}
{# CLASSES #}
{% set classes = [
  'morsel',
  is_draft ? 'morsel--is-draft',
  image ? 'morsel--image-featured',
  (updated_on and posted_on and (updated_on|striptags|date('U') > posted_on|striptags|date('U'))) ? 'morsel--updated',
] %}
{# TWIG #}
<div class="{{ classes|join(' ')|trim }}">
  {% if image %}
    <div class="morsel__image">
      <div class="morsel__image-inner">
        {{ image }}
      </div>
    </div>
  {% endif %}
  <div class="morsel__body">
    {% if is_draft %}
      {% include "@components/badge/badge.twig" with {
        text: "unpublished",
        type: "danger",
        classes: ['mb-2'],
      } only %}
    {% endif %}
    {% if type %}
      {% include "@components/overline/overline.twig" with {
        text: type
      } only %}
    {% endif %}

    <div class="morsel__heading">
      {% include "@components/heading/heading.twig" with {
        url: url,
        level: headingLevel,
        style: heading.style_override,
        text: heading.text
      } only %}
      {% if popular and popular|render == "On" %}
        <div class="morsel__popular">
          {% include "@components/badge/badge.twig" with {
            text: "Popular",
            type: "info",
          } only %}
        </div>
    {% endif %}
    </div>
    {% if updated_on and posted_on and (updated_on|striptags|date('U') > posted_on|striptags|date('U')) %}
      <div class="morsel__date">{% if updated_on %}<span class="font-weight-bold">Updated</span> {{ updated_on }}{% endif %}</div>
    {% elseif posted_on %}
      <div class="morsel__date">{% if posted_on %}<span class="sr-only">Posted on</span>{{ posted_on }}{% endif %}</div>
    {% endif %}
    {% if group_date %} {# Removing the extra div; it wants to print that div even with group_date is only space #}
      {{ group_date }}
    {% endif %}
    {% if group_time %}
      <div class="morsel__time">{{ group_time }}</div>
    {% endif %}
    {% if status %}
      <div class="morsel__status">{{ status }}</div> {# TODO need a more robust status; change style by status #}
    {% endif %}
    {% if is_online %}
      <div class="morsel__online">{{ is_online }}</div>
    {% endif %}
    {% if text %}
      <div class="morsel__text">{{ text }}</div>
    {% endif %}
    {% if location %}{# location component should be passed through here #}
      <div class="morsel__location">
        {{ location }}
      </div>
    {% endif %}
  </div>
</div>
