{# DEFAULTS #}
{% set headingLevel = heading.level|default(3) %}
{% set all_day = all_day|default('All day') %}
{# CLASSES #}
{% set classes = [
  'morsel',
  is_draft ? 'morsel--is-draft',
  image ? 'morsel--image-featured',
  (updated_on and posted_on and (updated_on|striptags|date('U') > posted_on|striptags|date('U'))) ? 'morsel--updated',
] %}
{# TWIG #}
{% spaceless %}
  <div class="{{ classes|join(' ')|trim }}">
    {% if image %}
      <div class="morsel__image">
        <div class="morsel__image-inner">
          {{ image }}
        </div>
      </div>
    {% endif %}
    <div class="morsel__body">
      {% if is_draft %}
        {% include "@components/badge/badge.twig" with {
          text: "unpublished",
          type: "danger",
          classes: ['mb-2'],
        } only %}
      {% endif %}
      <div class="morsel__heading">
        {% include "@components/heading/heading.twig" with {
          url: heading.url,
          level: headingLevel,
          style: heading.style_override,
          text: heading.text
        } only %}
      </div>
      {% if updated_on and posted_on and (updated_on|striptags|date('U') > posted_on|striptags|date('U')) %}
        <div class="morsel__date">
          {% if updated_on %}
            <span class="font-weight-bold">Updated</span> {{ updated_on }}
          {% endif %}
        </div>
      {% else %}
        <div class="morsel__date">
          {% if posted_on %}
            <span class="sr-only">Posted on</span>{{ posted_on }}
          {% endif %}
        </div>
      {% endif %}
      <div class="morsel__date">
        {% if show_display_date %}
          {{ display_date }}
        {% elseif start_date and end_date %}
          <span class="font-weight-bold">{{ start_date }}</span>
          <span class="datetime mx-1" aria-label="{{ 'through'|t }}">&ndash;</span>
          <span class="font-weight-bold">{{ end_date }}</span>
        {% else %}
          <span class="font-weight-bold">{{ start_date }}</span>
        {% endif %}
      </div>
      <div class="morsel__date">
        {% if is_all_day %}
          {{ all_day|t }}
        {% elseif start_time and end_time %}
          {{ start_time }}
          <span class="datetime mx-1" aria-label="{{ 'to'|t }}">&ndash;</span>
          {{ end_time }}
        {% else %}
          {{ start_time }}
        {% endif %}
      </div>
      {% if location_name %}
        <div class="morsel__location">
          {% include "@components/location/location.twig" with {
            placename: location_name,
            address: location_address,
            address2: location_address2,
            zone: location_zone,
            url: location.url,
            links: [
              {
                icon: {
                  name: 'map-pin',
                },
                text: 'Get Directions',
                url: 'https://www.google.com/maps/dir/' ~ location_lat_lon,
              },
              {
                icon: {
                name: 'information',
              },
                text: 'More about this location',
                url: location_url,
              },
            ]
          } %}
        </div>
      {% endif %}
      {% if text %}
        <div class="morsel__text">{{ text }}</div>
      {% endif %}
      <div class="morsel__meta">
        {% if type %}
          {% include "@components/badge/badge.twig" with {
            text: type,
            type: "default",
            classes: ['mb-2'],
          } only %}
        {% endif %}
        {% if status %}
          {% include "@components/badge/badge.twig" with {
            text: status,
            type: "danger",
            classes: ['mb-2'],
          } only %}
        {% endif %}
        {% if is_online %}
          {% include "@components/badge/badge.twig" with {
            text: 'online ' ~ type,
            type: "info",
            classes: ['mb-2'],
          } only %}
        {% endif %}
      </div>
    </div>
  </div>
{% endspaceless %}
