<div class="morsel">
  <div class="morsel__body">
    {% if is_draft %}
      {# @todo replace the below badge usage with the cloudy baddge component once available#}
      <span class="badge badge-danger">{{ 'unpublished'|t|capitalize }}</span>
    {% endif %}
    {# @todo replace the below badge usage with the cloudy baddge component once available#}
    <div class="badge badge-pill badge-light">{{ type }}</div>
    <h2><a href="{{ url }}">{{ title }}</a></h2>
    {% if posted_on %}
      <div class="morsel__posted-on">
        <div class="sr-only">Posted on</div>
        <time datetime="{{ posted_on }}">{{ posted_on }}</time>
      </div>
    {% endif %}
    {% if date_start %}
      <div class="morsel__dates">
        {% include '@elements/icon/fa.twig' with {
          name: 'calendar'
        } only %}
        <time datetime="{{ date_start }}">{{ date_start }}</time>
        {% if date_end %}
          <span aria-label="through"> – </span>
          <time datetime="{{ date_end }}">{{ date_end }}</time>
        {% endif %}
      </div>
    {% endif %}
    {% if time_start %}
      <div class="morsel__times">
        {% include '@elements/icon/fa.twig' with {
          name: 'clock'
        } only %}
        <time datetime="{{ time_start }}">{{ time_start }}</time>
        {% if time_end %}
          <span aria-label="through"> – </span>
          <time datetime="{{ time_end }}">{{ time_end }}</time>
        {% endif %}
      </div>
    {% endif %}
    {% if text %}
      <p class="morsel__text">{{ text }}</p>
    {% endif %}
  </div>
</div>
