{% set classes = [
  'drawer',
  'col-lg-3',
] %}

{#{% if not attributes %}#}
{#  {% set attributes = create_attribute() %}#}
{#{% endif %}#}

{% spaceless %}
  <button role="button"
          id="btn-open"
          class="btn btn-lg align-self-start drawer__trigger"
          data-toggle="class"
          data-target="body .drawer"
          data-classes="is-active"
          aria-controls="cloudy-tray"
          aria-pressed="false"
          aria-expanded="false"
          aria-label="{{ 'More'|t }}"
  >
    <i class="fas fa-sliders-h fa-sm"></i>
    <span>{{ 'More'|t }}</span>
  </button>
{#  <div {{ attributes.addClass(classes)}} aria-labelledby="btn-open">#}
  <div class="{{ classes|join(' ') }}" aria-labelledby="btn-open">
    <div class="drawer__head">
      <button
        role="button"
        id="btn-close"
        class="btn btn-sm btn-close align-self-end text-dark text-uppercase"
        data-toggle="class"
        data-target="body, .drawer"
        data-classes="is-active"
        aria-controls="cloudy-tray"
        aria-pressed="false"
        aria-expanded="false"
        aria-label="{{ 'Close filters'|t }}">
        {% include "@elements/icon/fa.twig" with {
          name: "times",
        } only %}
        <span>{{ 'Close'|t }}</span>
      </button>
    </div>
    {{ content }}
  </div>
  <div class="drawer__overlay"></div>
{% endspaceless %}
