{% set position = position|default('left') %}
{# Drawer open button text and aria-label #}
{% set open_text = open_text|default('Open') %}
{% set open_info = open_info|default('Open Drawer') %}
{# Drawer close button text and aria-label #}
{% set close_text = close_text|default('Close') %}
{% set close_info = close_info|default('Close Drawer') %}
{#Sets a random id for the drawer, prevents js handler clashes when two drawers are on the same page#}
{% set drawer_id = 'drawer--' ~ random() %}

{% set drawer_classes = [
  drawer_id,
  'drawer',
  'drawer--position-' ~ position,
  'col-lg-4',
] %}

{% set open_classes = [
  'drawer__open',
  'drawer__open--position-' ~ position,
  'btn btn-lg',
] %}

{% set close_classes = [
  'drawer__close',
  'drawer__close--position-' ~ position,
  'btn btn-sm',
] %}

{% spaceless %}
  <button
    role="button"
    class="{{ open_classes|join(' ') }}"
    data-target=".{{ drawer_id }}"
    aria-label="{{ open_info|t }}"
    aria-pressed="false"
    aria-expanded="false"
  >
    {% include "@elements/icon/icon.twig" with {
      name: "filter",
    } only %}
    <span>{{ open_text|t }}</span>
  </button>
  <div
    class="{{ drawer_classes|join(' ') }}"
    aria-labelledby="drawer__open"
  >
    <div class="drawer__head">
      <button
        role="button"
        class="{{ close_classes|join(' ') }}"
        data-target=".{{ drawer_id }}"
        aria-pressed="false"
        aria-label="{{ close_info|t }}">
        {% include "@elements/icon/icon.twig" with {
          name: 'close',
          size: 'xs'
        } only %}
        <span>{{ close_text|t }}</span>
      </button>
    </div>
    {{ content }}
  </div>
  <div
    class="drawer__overlay"
    data-target=".{{ drawer_id }}"
  >
  </div>
{% endspaceless %}
