{% set position = position|default('left') %}
{% set trigger_text = trigger_text|default('Menu') %}
{#Sets a random id for the drawer, prevents js handler clashes when two drawers are on the same page#}
{% set drawer_id = 'drawer--' ~ random() %}

{% set classes = [
  'drawer',
  'drawer--position-' ~ position,
  drawer_id,
  'col-lg-3',
] %}

{% set trigger_classes = [
  'drawer__trigger',
  'drawer__trigger--position-' ~ position,
  "btn btn-lg align-self-start"
] %}

{% spaceless %}
  <button role="button"
          id="btn-open"
          class="{{ trigger_classes|join(' ') }}"
          data-toggle="class"
          data-target=".{{ drawer_id }}"
          data-classes="is-active"
          aria-controls="cloudy-tray"
          aria-pressed="false"
          aria-expanded="false"
          aria-label="{{ 'More'|t }}"
  >
    <i class="fas fa-sliders-h fa-sm"></i>
    <span>{{ trigger_text|t }}</span>
  </button>
{#  <div {{ attributes.addClass(classes)}} aria-labelledby="btn-open">#}
  <div class="{{ classes|join(' ') }}" aria-labelledby="btn-open">
    <div class="drawer__head">
      <button
        role="button"
        id="btn-close"
        class="btn btn-sm btn-close align-self-end text-dark text-uppercase"
        data-toggle="class"
        data-target=".{{ drawer_id }}"
        data-classes="is-active"
        aria-controls="cloudy-tray"
        aria-pressed="false"
        aria-expanded="false"
        aria-label="{{ 'Close filters'|t }}">
        {% include "@elements/icon/fa.twig" with {
          name: "times",
        } only %}
        <span>{{ 'Close'|t }}</span>
      </button>
    </div>
    {{ content }}
  </div>
  <div class="drawer__overlay"></div>
{% endspaceless %}
