{% extends 'paragraph.html.twig' %}
{% block content %}
{% if (content.field_document.0) %}
  {% if (content.field_document.0['#media'].isPublished() is same as(FALSE)) %}
    <span class="badge badge-danger document-unpublished">{{ 'unpublished'|t|capitalize }}</span>
  {% endif %}
  <a href="{{ fileUrl }}"><i class="fas fa-{{ fontawesomeIcon }}"></i>{{ paragraph.field_document.entity.getName() }}</a> ({{ fileSize }})
{% endif %}
{% endblock %}
