{% set margin = margin|default('1') %}
{%
  set card_classes = classes|default([
    'card',
    'my-' ~ margin,
  ])
%}

{% spaceless %}
  <div{{ attributes.addClass(card_classes) }}>
    {# Body #}
    {% block body %}
      {% set body_attributes = create_attribute() %}
      {%
        set body_classes = body_classes|default([
          'card-body',
        ])
      %}
      <div{{ body_attributes.addClass(body_classes) }}>
        {# Badge #}
        {% if type is not empty %}
          {% block badge %}
            {% set badge_attributes = create_attribute() %}
            {%
              set badge_classes = badge_classes|default([
                'badge',
                'badge-pill',
                'badge-light',
              ])
            %}
            <div class="card-badge">
              <span{{ badge_attributes.addClass(badge_classes) }}>
                {{ type }}
              </span>
            </div>
          {% endblock %}
        {% endif %}
        {# Title #}
        {% if label is not empty %}
          {% block title %}
            {%
              set heading_classes = heading_classes|default([
                'card-title',
              ])
            %}
            <h3{{ heading_attributes.addClass(heading_classes) }}>
              <a href="{{ url }}" rel="bookmark">{{ label }}</a>
            </h3>
          {% endblock %}
        {% endif %}
        {# Meta #}
        {% block meta %}
          {% set meta_attributes = create_attribute() %}
        {% endblock %}
        {# Description #}
        {% if description is not empty %}
          {% block description %}
            {{ description }}
          {% endblock %}
        {% endif %}
      </div>
    {% endblock %}
  </div>
{% endspaceless %}
