{% set meta_attributes = create_attribute() %}
{% set margin = margin|default('1') %}
{%
  set meta_classes = classes|default([
    'my-' ~ margin,
  ])
%}

{% spaceless %}
  {% if start_date or end_date or all_day or start_time or end_time %}
    <div{{ meta_attributes.addClass(meta_classes) }}>
      {# Date #}
      {% if start_date %}
        <div class="event--date">
          {{ start_date }}
          {% if end_date %}
            <span class="px-1">{{ "to"|t }}</span>
            {{ end_date }}
          {% endif %}
        </div>
      {% endif %}
      {# Time #}
      {% if node.field_all_day.value %}
        <div class="event--time">
          <time>{{ "All day"|t }}</time>
        </div>
      {% elseif start_time %}
        <div class="event--time">
          <time>{{ start_time }}</time>
          {% if end_time %}
            <span class="px-1">{{ "to"|t }}</span>
            <time>{{ end_time }}</time>
          {% endif %}
        </div>
      {% endif %}
    </div>
  {% endif %}
{% endspaceless %}
