{# CLASSES #}
{% set classes = [
  'cloudy-chain-link',
]
%}
{# TWIG #}
<div class="{{ classes|join(' ')|trim }}">
  <div class="cloudy-chain-link__thumbnail">
    <a href="{{ url }}"><img src="{{ img }}" alt="" /></a>
  </div>
  <div class="cloudy-chain-link__summary">
    <h5><a href="{{ url }}">{{ title }}</a></h5>
  </div>
</div>
