{% set type = type|default('primary') %}
{% set classes = [
  'contact',
] %}
<div class="{{ classes | join(' ') }}">
  <div class="contact__name">{{ name }}</div>
  <div class="contact__title">{{ title }}</div>
  <div class="contact__email">{{ email }}</div>
  <div class="contact__phone">{{ phone }}</div>
  <div class="contact__fax">{{ fax }}</div>
</div>