{#
/**
 * @file
 * Default theme implementation to display a two-column layout.
 *
 * Available variables:
 * - content: The content for this layout.
 * - attributes: HTML attributes for the layout <div>.
 *
 * @ingroup themeable
 */
#}
{%
  set layout_classes = layout_classes|default([
    'row',
  ])
%}

{%
  set first_classes = first_classes|default([
    'col-lg-8',
    'col-md-12',
  ])
%}

{%
  set second_classes = [
    'col-lg-4',
    'col-md-12',
  ] | merge(second_classes|default([]))
%}

<div class="{{ layout_classes|join(' ') }}">
  {% if content_first is not empty %}
    <section class="{{ first_classes|join(' ') }}">
      {{ content_first }}
    </section>
  {% endif %}
  {% if content_second is not empty %}
    <section class="{{ second_classes|join(' ') }}">
      {{ content_second }}
    </section>
  {% endif %}
</div>
