<div class="card border-0 bg-transparent flex-row align-items-center">
  <div class="flex-shrink-0 me-4 rounded-circle overflow-hidden">
    {{ content.field_person_image }}
  </div>
  <div class="card-body p-0 d-flex flex-column">
    <span class="h5 card-title mb-0 text-primary"><a class="stretched-link" href="{{ url }}">{{ content.field_name.0 }}</a></span>
    <span class="h6 mb-0 fw-normal card-subtitle">{{ content.field_council_district.0 }} {{ content.field_group_subtype.0 }}</span>
  </div>
</div>
