<div class="change-set">
  {{ title_prefix }}
    <h3 class="h5">
      <a href="{{ url }}" rel="bookmark">{{ label }}</a>
    </h3>
  {{ title_suffix }}
  {{ content.field_council_document }}
  {{ content.field_effective_date }}
  {{ content.field_effective_notes }}
</div>
