<div class="change-set">
  {{ title_prefix }}
    <h2{{ title_attributes }}>
      <a href="{{ url }}" rel="bookmark">{{ label }}</a>
    </h2>
  {{ title_suffix }}
  {{ content.field_council_document }}
  {{ content.field_effective_date }}
  {{ content.field_effective_notes }}
  {{ content.field_code_charter_policy_effect }}
</div>