{#
/**
 * @file
 * Webform confirmation page override to add survey link.
 *
 * Available variables:
 * - progress: Progress bar.
 * - message: Confirmation message.
 * - back_url: URL to the previous webform submission.
 *
 * @see template_preprocess_webform_confirmation()
 *
 * @ingroup themeable
 */
#}
{{ attach_library('webform/webform.confirmation') }}

{% if progress %}
  {{ progress }}
{% endif %}

<div{{ attributes.addClass('webform-confirmation') }}>

  {% if message %}
    <div class="webform-confirmation__message">{{ message }}</div>
  {% endif %}

  {% if back %}
    <div class="webform-confirmation__back">
      <a href="{{ back_url }}" rel="prev"{{ back_attributes }}>{{ back_label }}</a>
    </div>
  {% endif %}

  {% if not webform.getThirdPartySetting('portland', 'disable_demographic_form_prompt') %}
    <hr />
    <p>Please take a moment to complete a brief survey to help the City measure how well we are serving the community. Completing this survey is optional and anonymous. <em>Your responses will not be associated with the information you provided on this form.</em></p>
    <a class="btn-cta" href="/311/demographic-survey?purpose=311&report_form_title={{ webform.label|url_encode }}&report_form_id={{ webform.id|url_encode }}">Take a voluntary survey</a>
  {% endif %}

</div>
