{#
/**
 * @file
 * Webform confirmation page override for TSUP form.
 *
 * Available variables:
 * - progress: Progress bar.
 * - message: Confirmation message.
 * - back_url: URL to the previous webform submission.
 *
 * @see template_preprocess_webform_confirmation()
 *
 * @ingroup themeable
 */
#}
{{ attach_library('webform/webform.confirmation') }}

{% if progress %}
  {{ progress }}
{% endif %}

<div{{ attributes.addClass('webform-confirmation') }}>

  {% if message %}
    <div class="webform-confirmation__message">
      <h2>Thank you for your submission</h2>

      {% if webform_submission.data.permit_type == "simple" %}
        <p>Thank you for your request. We will contact you shortly with the price and next steps.</p>
        <p>To make a change to this request, please submit another Change Request form.</p>
        <p>If you have not heard back from us about this submission within 5 business days, please first check your SPAM folder, and then contact us at <a href="mailto:CPAC@portlandoregon.gov">CPAC@portlandoregon.gov</a> or <a href="tel:+1-503-823-7365">503-823-7365</a>.</p>
      {% elseif webform_submission.data.permit_type == "7day" %}
        <p>Thank you for submitting a 7 Day Non-Metered Parking Use application. You will receive an email with your Item # and a link to the online invoice. Once the invoice has been paid, you will be able to access the PERMIT ID CARD and NO PARKING SIGNS.</p>
        <p>If you have any questions, please contact us at <a href="mailto:CPAC@portlandoregon.gov">CPAC@portlandoregon.gov</a> or <a href="tel:+1-503-823-7365">503-823-7365</a>.</p>
      {% elseif webform_submission.data.permit_type == "complex" %}
        <p>Your Complex TSUP Application has been submitted, we will contact you shortly with a price and payment date. If the application is incomplete, you will be contacted for additional information.</p>
        <p>If you are impacting a Sidewalk or Lane and your work is along a TriMet transit route, you are required to notify them at least five business days in advance of your work. Email TriMet at <a href="mailto:foc@trimet.org">foc@trimet.org</a> or call them at <a href="tel:+1-503-962-4949">503-962-4949</a>.</p>
        <p><strong>Due to processing times and parking enforcement logistics, your permit may not be valid for up to 15 business days. If the application is incomplete, you will be contacted for additional information.</strong></p>
        <p>To cancel or make changes to your application, please submit a Change Request form.. We will do our best to accommodate your change request.</p>
        <p>If you have not heard back from us about this submission within 5 business days, please first check your SPAM folder, and then contact us at <a href="mailto:CPAC@portlandoregon.gov">CPAC@portlandoregon.gov</a> or <a href="tel:+1-503-823-7365">503-823-7365</a>.</p>
      {% elseif webform_submission.data.permit_type == "change_request" %}
        <p>Thank you for your submission, we will do our best to accommodate your change request. A member of our staff should respond to your request within 2 business days.</p>
        <p>To make a change to this request, please submit another Change Request form.</p>
        <p>If you have not heard back from us about this submission within 2 business days, please first check your SPAM folder, and then contact us at <a href="mailto:CPAC@portlandoregon.gov">CPAC@portlandoregon.gov</a> or <a href="tel:+1-503-823-7365">503-823-7365</a>.</p>
      {% elseif webform_submission.data.permit_type == "renewal_request" %}
        <p>Thank you for your renewal request. We will contact you shortly with the price and next steps.</p>
        <p>If you are impacting a Sidewalk or Lane and your work is along a TriMet transit route, you are required to notify them at least five business days in advance of your work. Email TriMet at <a href="mailto:foc@trimet.org">foc@trimet.org</a> or call them at <a href="tel:+1-503-962-4949">503-962-4949</a>.</p>
        <p>To cancel or make changes to your application, please submit a Change Request form. We will do our best to accommodate your change request.</p>
        <p>If you have not heard back from us about this submission within 5 business days, please first check your SPAM folder, and then contact us at <a href="mailto:CPAC@portlandoregon.gov">CPAC@portlandoregon.gov</a> or <a href="tel:+1-503-823-7365">503-823-7365</a>.</p>
      {% endif %}
    </div>
  {% endif %}

  {% if back %}
  <div class="webform-confirmation__back">
    <a href="{{ back_url }}" rel="prev"{{ back_attributes }}>{{ back_label }}</a>
  </div>
  {% endif %}

</div>
