{#
/**
 * @file
 * Webform confirmation page override for TSUP form.
 *
 * Available variables:
 * - progress: Progress bar.
 * - message: Confirmation message.
 * - back_url: URL to the previous webform submission.
 *
 * @see template_preprocess_webform_confirmation()
 *
 * @ingroup themeable
 */
#}
{{ attach_library('webform/webform.confirmation') }}

{% if progress %}
  {{ progress }}
{% endif %}

<div{{ attributes.addClass('webform-confirmation') }}>

  {% if message %}
    <div class="webform-confirmation__message">
      {% if webform_submission.data.permit_type == "simple" %}
        simple
      {% elseif webform_submission.data.permit_type == "7day" %}
        7day
      {% elseif webform_submission.data.permit_type == "complex" %}
        complex
      {% elseif webform_submission.data.permit_type == "existing_permit" %}
        Thank you for your submission, we will do our best to accommodate your change request. A member of our staff should respond to your request within 2 business days.
To make a change to this request, please visit www.tsup.info and use our Change Request form.
If you have not heard back from us about this submission within 2 business days, please first check your SPAM folder, and then contact us at CPAC@portlandoregon.gov or 503-823-7365.
      {% endif %}
    </div>
  {% endif %}

  {% if back %}
  <div class="webform-confirmation__back">
    <a href="{{ back_url }}" rel="prev"{{ back_attributes }}>{{ back_label }}</a>
  </div>
  {% endif %}

</div>
