{#
/**
 * @file
 * Webform confirmation page override for TSUP form.
 *
 * Available variables:
 * - progress: Progress bar.
 * - message: Confirmation message.
 * - back_url: URL to the previous webform submission.
 *
 * @see template_preprocess_webform_confirmation()
 *
 * @ingroup themeable
 */
#}
{{ attach_library('webform/webform.confirmation') }}

{% if progress %}
  {{ progress }}
{% endif %}

<div{{ attributes.addClass('webform-confirmation') }}>

  {% if message %}
    <div class="webform-confirmation__message">{{ message }}</div>
  {% endif %}

  <hr />

  {% if webform.id != "report_demographics" %}
    <p>Please take a moment to <a href="/311/demographic-survey?report_form_id={{ webform.id }}">complete a brief survey</a> to help the City measure how well we are serving the community. Completing this form is optional, voluntary, and anonymous. Thank you!</p>
  {% endif %}

  {% if back %}
  <div class="webform-confirmation__back">
    <a href="{{ back_url }}" rel="prev"{{ back_attributes }}>{{ back_label }}</a>
  </div>
  {% endif %}

</div>
