<div class="row">
  <div class="cloudy-content col-lg-8 col-md-12">
    <article{{ attributes }}>
      <div{{ content_attributes.addClass('node__content', 'clearfix') }}>
        {{ content }}
      </div>
    </article>
  </div>
  <div class="cloudy-side col-lg-4 col-md-12">
    {% set view_effected_on_codecharterpolicy = drupal_block('views_block:change_sets-effected_on_codecharterpolicy')|length %}
    {% if view_effected_on_codecharterpolicy > 0 %}
      {{ drupal_block('views_block:change_sets-effected_on_codecharterpolicy') }}
    {% endif %}
    {% set view_news = drupal_block('views_block:news_on_content-block_2')|length %}
    {% if view_news > 0 %}
      {{ drupal_block('views_block:news_on_content-block_2') }}
    {% endif %}
    {% set view_events = drupal_block('views_block:events_on_content-block_1')|length %}
    {% if view_events > 0 %}
      {{ drupal_block('views_block:events_on_content-block_1') }}
    {% endif %}
    {# TODO: [POWR-3047] figure out a better way to insert this exposed form on code, charter, policies #}
    <div class="views-exposed-form contextual-region block block-views block-views-exposed-filter-blocksearch-charter-code-policies-search-charter-code-policies mb-6" data-drupal-selector="views-exposed-form-search-charter-code-policies-search-charter-code-policies" id="block-exposedform-search-charter-code-policies" data-block-plugin-id="views_exposed_filter_block:search_charter_code_policies-search_charter_code_policies">
      <h2>Search Code, Charter, Policy</h2>
      <div class="content">
        <form action="/charter-code-policies/search" method="get" id="views-exposed-form-search-charter-code-policies-search-charter-code-policies" accept-charset="UTF-8">
          <div class="form--inline clearfix">
            <div class="js-form-item form-item js-form-type-textfield form-item-search js-form-item-search">
              <label for="edit-search">
                Keywords</label>
              <input data-drupal-selector="edit-search" type="text" id="edit-search" name="search" value="" size="30" maxlength="128" class="form-text form-control">
            </div>
            <div data-drupal-selector="edit-actions" class="form-actions js-form-wrapper form-wrapper" id="edit-actions--4">
              <input data-drupal-selector="edit-submit-search-charter-code-policies" type="submit" id="edit-submit-search-charter-code-policies" value="Search" class="button js-form-submit form-submit">
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
