{% if content.field_is_emergency_ordinance[0]['#markup'] == 'true' %}
  {% set document_type = content.field_is_emergency_ordinance %}
{% else %}
  {% set document_type = content.field_council_document_type %}
{% endif %}

{% set is_draft = node.isPublished() ? false : true %}
{% set layout_mt = 8 %}
{% set layout_mb = 8 %}
{% set heading = {
    url: url,
    text: label,
    level: 2,
    style_override: 3
  } %}
{% set heading_level = heading.level|default(3) %}
{% set text = content.field_full_document_title %}
{% set type = document_type %}
{% set is_draft = is_draft|default(false) %}
{% set layout_classes = [
  'morsel',
  layout_mt ? 'mt-' ~ layout_mt,
  layout_mb ? 'mb-' ~ layout_mb,
  is_draft ? 'morsel--is-draft',
  image ? 'morsel--image-featured'
] %}

{% apply spaceless %}
  <div class="{{ layout_classes|join(' ')|trim }}">
    <div class="d-flex flex-column align-items-start">
      {% block prehead %}
        {% if is_draft %}
          {% include '@components/badge/badge.twig' with {
            text: 'unpublished'|t|capitalize,
            type: 'danger',
            mb: 2
          } only %}
        {% endif %}
        {% include '@components/heading/heading.twig' with {
          url: heading.url,
          level: heading.level,
          style: heading.style_override,
          text: heading.text,
          classes: ['order-1', 'mb-2']
        } only %}
        {% if type %}
          {{ type }}
        {% endif %}
      {% endblock %}
    </div>
    <div class="row g-0">
      <div class="col-12 col-md">
        {% if text %}
          <div class="morsel__text">
            {{ text }}
          </div>
        {% endif %}
      </div>
    </div>
    <div class="row g-0">
      <div class="col-12 col-md">
        <div class="field field--label-inline d-flex">
          <div class="field__label">Disposition</div>
          <div class="field__item">
            {{ content.field_council_document_status.0 }} {{ content.field_amended_by_council[0] }}
          </div>
        </div>
      </div>
    </div>

    {{ content|without('field_council_document_type','field_is_emergency_ordinance','field_full_document_title',
        'field_council_document_status','field_amended_by_council') }}
  </div>
{% endapply %}
