<div class="row">
  <div class="cloudy-content col-lg-8 col-md-12">
    <article {{ attributes }}>
      <div {{ content_attributes.addClass('node__content', 'clearfix') }}>
				{% if content.field_full_document_title.0 %}
					<h2 class="h4">
						{{ content.field_full_document_title.0 }}
					</h2>
				{% endif %}
        {% if content.field_is_emergency_ordinance[0]['#markup']|lower == 'emergency' %}
          {{ content.field_is_emergency_ordinance }}
        {% else %}
          {{ content.field_council_document_type }}
        {% endif %}
        {{ content|without(
          'field_full_document_title',
          'field_is_emergency_ordinance',
          'field_council_document_type',
          'field_introduced_by',
          'field_is_amends_budget',
          'field_is_contract',
          'field_bureau',
          'field_is_code_change',
          'field_prepared_by',
          'field_date_prepared',
          'field_agenda_type',
          'field_is_iga',
          'field_is_portland_policy',
          'field_is_procurement',
          'field_reviewed_by_city_attorney',
          'field_auditor',
          'field_council_clerk',
          'field_date_of_final_disposition',
          'field_disposition_notes',
          'field_file_impact_statement',
          'admin_agenda_items_entity_view_2'
          ) }}
          {% if node.field_council_document_type.target_id == '73' and node.field_council_document_status.target_id == '79' %}
            <p>An ordinance when passed by the Council shall be signed by the Auditor. It shall be carefully filed and preserved
              in the custody of the Auditor (City Charter Chapter 2 Article 1 Section 2-122)</p>
            <p>Passed {% if content.field_amended_by_council.0|render %}as amended {% endif %}by Council <br>
              {{ content.field_date_of_final_disposition.0 }}</p>
            <p>Auditor of the City of Portland<br>
            {{ content.field_auditor.0 }}
            </p>
          {% endif %}
        {{ content.field_file_impact_statement }}
        {{ content.field_finanicial_impact_analysis }}
        {{ content.admin_agenda_items_entity_view_2 }}
      </div>
    </article>
  </div>
  <div class="cloudy-side col-lg-4 col-md-12">
    {% set view_effected_on_doc = drupal_block('views_block:change_sets-effected_on_doc')|length %}
    {% if view_effected_on_doc > 0 %}
      {{ drupal_block('views_block:change_sets-effected_on_doc') }}
    {% endif %}
    {{ content.field_introduced_by }}
    {{ content.field_bureau }}
    {{ content.field_prepared_by }}
    {{ content.field_date_prepared }}
    {{ content.field_requested_council_date }}
    {{ content.field_agenda_type }}
    {{ content.field_requested_start_time }}
    {{ content.field_time_requested }}
    {{ content.field_is_code_change}}
    {{ content.field_is_portland_policy }}
    {{ content.field_is_amends_budget }}
    {{ content.field_is_contract }}
    {{ content.field_is_iga }}
    {{ content.field_is_procurement }}
    {{ content.field_reviewed_by_city_attorney }}
    {{ content.field_disposition_notes }}
  </div>
</div>
