<div class="row">
  <div class="cloudy-content col-lg-8 col-md-12">
    <article{{ attributes }}>
      <div{{ content_attributes.addClass('node__content', 'clearfix') }}>
        <h1>{{ content.field_full_document_title.0 }}</h1>
        <div class="council-document--type">
          {{ content.field_is_emergency_ordinance.0 }}
          {{ content.field_council_document_type.0 }}
        </div>
        {{ content|without(
          'field_full_document_title',
          'field_is_emergency_ordinance',
          'field_council_document_type',
          'field_introduced_by',
          'field_is_amends_budget',
          'field_bureau',
          'field_is_code_change',
          'field_prepared_by',
          'field_date_prepared',
          'field_requested_council_date',
          'field_agenda_type',
          'field_requested_start_time',
          'field_time_requested',
          'field_is_iga',
          'field_is_portland_policy',
          'field_is_procurement',
          'field_reviewed_by_city_attorney'
          ) }}
          TODO: Add conditional logic to only show this on ordinances

          <p>An ordinance when passed by the Council shall be signed by the Auditor. It shall be carefully filed and preserved
            in the custody of the Auditor (City Charter Chapter 2 Article 1 Section 2-122)</p>

          Passed by Council

          [date]



          Auditor of the City of Portland

          Mary Hull Caballero

          By Deputy

          Keelan McClymont
      </div>
    </article>
  </div>
  <div class="cloudy-side col-lg-4 col-md-12">
    {{ content.field_introduced_by }}
    {{ content.field_bureau }}
    {{ content.field_prepared_by }}
    {{ content.field_date_prepared }}
    {{ content.field_requested_council_date }}
    {{ content.field_agenda_type }}
    {{ content.field_requested_start_time }}
    {{ content.field_time_requested }}
    {{ content.field_is_code_change}}
    {{ content.field_is_portland_policy }}
    {{ content.field_is_amends_budget }}
    {{ content.field_is_iga }}
    {{ content.field_is_procurement }}
    {{ content.field_reviewed_by_city_attorney }}
  </div>
</div>