<div class="mb-6">
    <h3 class="h5 mt-0 mb-0"><a href="{{ url }}">{{ label }}</a></h3>
    <div class="event__date">
      <span class="d-flex align-items-center">
      {% if content.field_display_date|render|striptags|trim is not empty %}
        {{ content.field_display_date }}
      {% else %}
        {% if content.field_end_date|render|striptags|trim is not empty %}
          {{ content.field_start_date }}
          <span class="datetime mx-1" aria-label="{{ 'through'|t }}">&ndash;</span>
          {{ content.field_end_date }}
        {% else %}
          {{ content.field_start_date }}
        {% endif %}
      {% endif %}
      </span>
    </div>
</div>
