<div class="row">
  <div class="cloudy-content col-lg-8 col-md-12">
    <article{{ attributes.addClass(classes) }}>
      {{ content.field_construction_type }}
      {{ content.field_project_status }}
      <p class="cloudy-lead-text">
        {{ content.field_summary.0 }}
      </p>
      {{ content.field_featured_media }}
      <div class="event__date">
        <span class="d-flex align-items-center">
        {% if content.field_display_date|render|striptags|trim is not empty %}
          {{ content.field_display_date }}
        {% else %}
          {% if content.field_end_date|render|striptags|trim is not empty %}
            {{ content.field_start_date }}
            <span class="datetime mx-1" aria-label="{{ 'through'|t }}">&ndash;</span>
            {{ content.field_end_date }}
          {% else %}
            {{ content.field_start_date }}
          {% endif %}
        {% endif %}
        </span>
      </div>
      {{ content|without(
        'field_summary',
        'field_construction_type',
        'field_project_status',
        'field_featured_media',
        'field_start_date',
        'field_end_date',
        'field_display_date',
        'field_contact',
        'field_related_content',
        'field_topics',
        'field_display_groups',
        'field_neighborhood') }}
    </article>
  </div>
  <div class="cloudy-side col-lg-4 col-md-12">
    {{ content.field_contact }}
    {{ content.field_related_content }}
    {{ content.field_topics }}
    {{ content.field_neighborhood }}
    {% set view_news = drupal_block('views_block:news_on_content-block_2')|length %}
    {% if view_news > 0 %}
      {{ drupal_block('views_block:news_on_content-block_2') }}
    {% endif %}
    {% set view_events = drupal_block('views_block:events_on_content-block_1')|length %}
    {% if view_events > 0 %}
      {{ drupal_block('views_block:events_on_content-block_1') }}
    {% endif %}
  </div>
</div>
