{#
/**
 * @file
 * Theme override to display a Drupal menu using the page menu styling.
 *
 * Available variables:
 * - menu_name: The machine name of the menu.
 * - items: A nested list of menu items. Each menu item contains:
 *   - attributes: HTML attributes for the menu item.
 *   - below: The menu item child items.
 *   - title: The menu link title.
 *   - url: The menu link url, instance of \Drupal\Core\Url
 *   - localized_options: Menu link localized options.
 *   - is_expanded: TRUE if the link has visible children within the current
 *     menu tree.
 *   - is_collapsed: TRUE if the link has children within the current menu tree
 *     that are not currently visible.
 *   - in_active_trail: TRUE if the link is in the active trail.
 */
#}
{% import _self as menus %}

{#
  We call a macro which calls itself to render the full tree.
  @see https://twig.symfony.com/doc/1.x/tags/macro.html
#}
{{ menus.menu_links(items, attributes, 0) }}

{% macro menu_links(items, attributes, menu_level) %}
  {% import _self as menus %}

  {% set list_classes = [
    'nav',
    'nav-page-menu',
    'flex-column',
  ] %}

  {% if items %}
    <ul{{ attributes.addClass(list_classes) }}>
    {% for item in items %}
      {% set list_item_classes = [
        'nav-item',
        item.in_active_trail ? 'active',
      ] %}

      {% set link_classes = [
        'nav-link',
        item.in_active_trail ? 'active',
      ] %}

      {% set link_attributes = create_attribute({
        'class': link_classes,
      }) %}

      {# only add aria-current if the item is in active trail but has no active children (i.e. is the current page) #}
      {% if (item.below|filter(i => i.in_active_trail)|length == 0) and item.in_active_trail %}
        {% set link_attributes = link_attributes.setAttribute('aria-current', 'page') %}
      {% endif %}

      <li{{ item.attributes.addClass(list_item_classes) }}>
        {{ link(item.title, item.url, link_attributes) }}
        {% if item.below %}
          {{ menus.menu_links(item.below, attributes, menu_level + 1) }}
        {% endif %}
      </li>
    {% endfor %}
    </ul>
  {% endif %}
{% endmacro %}
