{#
/**
 * @file
 * Theme override to display a pager.
 *
 * Available variables:
 * - heading_id: Pagination heading ID.
 * - items: List of pager items.
 *   The list is keyed by the following elements:
 *   - first: Item for the first page; not present on the first page of results.
 *   - previous: Item for the previous page; not present on the first page
 *     of results.
 *   - next: Item for the next page; not present on the last page of results.
 *   - last: Item for the last page; not present on the last page of results.
 *   - pages: List of pages, keyed by page number.
 *   Sub-sub elements:
 *   items.first, items.previous, items.next, items.last, and each item inside
 *   items.pages contain the following elements:
 *   - href: URL with appropriate query parameters for the item.
 *   - attributes: A keyed list of HTML attributes for the item.
 *   - text: The visible text used for the item link, such as "‹ Previous"
 *     or "Next ›".
 * - current: The page number of the current page.
 * - ellipses: If there are more pages than the quantity allows, then an
 *   ellipsis before or after the listed pages may be present.
 *   - previous: Present if the currently visible list of pages does not start
 *     at the first page.
 *   - next: Present if the visible list of pages ends before the last page.
 *
 * @see template_preprocess_pager()
 */
#}
{% if items %}
  <nav role="navigation" aria-labelledby="{{ heading_id }}">
    <h3 id="{{ heading_id }}" class="visually-hidden">{{ 'Pagination'|t }}</h3>
    <ul class="pagination">
      {# Print first item if we are not on the first page. #}
      {% if items.first %}
        <li class="page-item">
          <a href="{{ items.first.href }}"{{ items.first.attributes|without('href', 'title') }} class="page-link">
            <span class="visually-hidden">{{ 'First page'|t }}</span>
            <span aria-hidden="true">«</span>
          </a>
        </li>
      {% endif %}
      {# Print previous item if we are not on the first page. #}
      {% if items.previous %}
        <li class="page-item">
          <a href="{{ items.previous.href }}" rel="prev"{{ items.previous.attributes|without('href', 'title', 'rel') }} class="page-link">
            <span class="visually-hidden">{{ 'Previous page'|t }}</span>
            <span aria-hidden="true">‹</span>
          </a>
        </li>
      {% endif %}
      {# Add an ellipsis if there are further previous pages. #}
      {% if ellipses.previous %}
        <li class="page-item mx-2" role="presentation">&hellip;</li>
      {% endif %}
      {# Now generate the actual pager piece. #}
      {% for key, item in items.pages %}
        <li class="page-item {{ current == key ? 'active' : '' }}">
          <a href="{{ item.href }}"{{ item.attributes|without('href', 'title') }} class="page-link">
            <span class="visually-hidden">
              {{ current == key ? 'Current page'|t : 'Page'|t }}
            </span>
            {{- key -}}
          </a>
        </li>
      {% endfor %}
      {# Add an ellipsis if there are further next pages. #}
      {% if ellipses.next %}
        <li class="page-item mx-2" role="presentation">&hellip;</li>
      {% endif %}
      {# Print next item if we are not on the last page. #}
      {% if items.next %}
        <li class="page-item">
          <a href="{{ items.next.href }}" rel="next"{{ items.next.attributes|without('href', 'title', 'rel') }} class="page-link">
            <span class="visually-hidden">{{ 'Next page'|t }}</span>
            <span aria-hidden="true">›</span>
          </a>
        </li>
      {% endif %}
      {# Print last item if we are not on the last page. #}
      {% if items.last %}
        <li class="page-item">
          <a href="{{ items.last.href }}"{{ items.last.attributes|without('href', 'title') }} class="page-link">
            <span class="visually-hidden">{{ 'Last page'|t }}</span>
            <span aria-hidden="true">»</span>
          </a>
        </li>
      {% endif %}
    </ul>
  </nav>
{% endif %}
