<div class="mb-4">
  <h3 class="h6"><a href="{{ url }}">{{ label }}</a></h2>
    {% if node.field_updated_on.0.value > node.field_published_on.0.value %}
      <div class="morsel__date">
        {% if type %}<span class="morsel__type">{{ type }}</span>{% endif %} {{ content.field_updated_on }}
      </div>
    {% else %}
      <div class="morsel__date">
        {% if type %}<span class="morsel__type">{{ type }}</span>{% endif %} <span class="sr-only">Posted on</span>{{ content.field_published_on }}
      </div>
    {% endif %}
  </div>
</div>

