<div class="row mb-4">
  {% if content.field_featured_media|render|striptags %}
  <div class="col-lg-8 col-md-12 order-lg-0 order-md-1">
  {% else %}
  <div class="col-lg-12 col-md-12 order-lg-0 order-md-1">
  {% endif %}
    <span class="overline">{{ content.field_news_type.0 }}</span>
    <h3><a href="{{ url }}">{{ label }}</a></h3>
    {% if content.field_updated_on|render %}
      {{ content.field_updated_on }}
    {% else %}
      {{ content.field_published_on }}
    {% endif %}
  </div>
  {% if content.field_featured_media|render %}
  <div class="col-lg-4 col-md-12 order-lg-1 order-md-0">
    {{ content.field_featured_media }}
  </div>
  {% endif %}
</div>
