<div class="row">
  <div class="col-lg-8 col-md-12">
    <article{{ attributes }}>
      {{ content.field_news_type }}
      {{ content.field_featured_media }}
      <p class="lead">
        {{ content.field_summary.0 }}
      </p>

      {{ content.field_published_on }}
      {% if node.field_updated_on.0.value > node.field_published_on.0.value %}
        {{ content.field_updated_on }}
      {% endif %}
      <div{{ content_attributes.addClass('node__content', 'clearfix') }}>
        {{ content|without('field_summary','field_news_type','field_featured_media','field_published_on','field_updated_on','field_contact','field_location','field_related_content','field_topics','field_display_groups') }}
      </div>
    </article>
  </div>
  <div class="cloudy-side col-lg-4 col-md-12">
    {{ content.field_contact }}
    {{ content.field_location }}
    {{ content.field_related_content }}
    {{ content.field_topics }}
    {{ content.field_neighborhood }}
    {% set view_events = drupal_block('views_block:events_on_content-block_1')|length %}
    {% if view_events > 0 %}
      {{ drupal_block('views_block:events_on_content-block_1') }}
    {% endif %}
  </div>
</div>