{# Template for Featured News #}
<div class="row mb-4 pb-3 mx-0 mx-md-4 border-bottom border-bottom-light">
  <div class="col pl-md-0">
    <h3 class="h4 mb-1"><a href="{{ url }}">{{ label }}</a></h3>
    <p>{{ content.field_summary.0 }}</p>
    <p class="d-flex flex-wrap">
      <span class="pr-2">
        {% if node.field_updated_on[0].value > node.field_published_on[0].value %}
          <strong>Updated</strong> {{ content.field_updated_on.0 }}
        {% else %}
          {{ content.field_published_on.0 }}
        {% endif %}
      </span>
      <span>{{ content.field_news_type.0 }}</span>
    </p>
  </div>
  {% if content.field_featured_media.0 %}
    <div class="col-12 col-md-6 pr-md-0 align-middle">
      {{ content.field_featured_media.0 }}
    </div>
  {% endif %}
</div>