<div class="row">
  <div class="col-lg-8 col-md-12">
    <article{{ attributes }}>
      {{ content.field_news_type }}
      <p class="cloudy-lead-text">
        {{ content.field_summary.0 }}
      </p>
      {{ content.field_featured_media }}
      {{ content.field_published_on }}
      {% if node.field_updated_on.0.value > node.field_published_on.0.value %}
        {{ content.field_updated_on }}
      {% endif %}
      <div{{ content_attributes.addClass('node__content', 'clearfix') }}>
        {{ content|without('field_summary','field_news_type','field_featured_media','field_published_on','field_updated_on','field_contact','field_location','field_related_content','field_topics','field_display_groups') }}
      </div>
    </article>
  </div>
  <div class="col-lg-4 col-md-12">
    {% if content.field_contact|render|striptags %}
      <div class="mb-4">
        <h2 class="h4">Contact</h2>
        {{ content.field_contact }}
      </div>
    {% endif %}
    {% if content.field_location|render|striptags %}
      <div class="mb-4">
        <h2 class="h4">Location</h2>
        {{ content.field_location }}
      </div>
    {% endif %}
    {% if content.field_related_content|render|striptags %}
      <div class="mb-4">
        <h2 class="h4">Related</h2>
        {{ content.field_related_content }}
      </div>
    {% endif %}
    {% if content.field_display_groups|render|striptags %}
      <div class="mb-4">
        <h2 class="h4">Offered by</h2>
        {{ content.field_display_groups }}
      </div>
    {% endif %}
    {% if content.field_topics|render|striptags %}
      <div class="mb-4">
        <h2 class="h4">Topics</h2>
        {{ content.field_topics }}
      </div>
    {% endif %}
    {% if content.field_neighborhood|render|striptags %}
      <div class="mb-4">
        <h2 class="h4">Neighborhoods</h2>
        {{ content.field_neighborhood }}
      </div>
    {% endif %}
  </div>
</div>
