<div class="row">
  <div class="col-lg-8 col-md-12">
    <article{{ attributes }}>
      <header>
        {{ title_prefix }}
        {% if not page %}
          <h2{{ title_attributes.addClass('node__title') }}>
            <a href="{{ url }}" rel="bookmark">{{ label }}</a>
          </h2>
        {% endif %}
        {{ title_suffix }}
        {% if display_submitted %}
          <div class="node__meta">
            {{ author_picture }}
            {% block submitted %}
              <span{{ author_attributes }}>
                {% trans %}Submitted by {{ author_name }} on {{ date }}{% endtrans %}
              </span>
            {% endblock %}
            {{ metadata }}
          </div>
        {% endif %}
      </header>
      <div{{ content_attributes.addClass('node__content', 'clearfix') }}>
        {{ content|without('field_contact','field_location','field_related_content','field_topics','field_display_groups') }}
      </div>
    </article>
  </div>
  <div class="col-lg-4 col-md-12">
    {% if content.field_contact|render|striptags %}
      <div class="mb-4">
        <h2>Contact</h2>
        {{ content.field_contact }}
      </div>
    {% endif %}
    {% if content.field_location|render|striptags %}
      <div class="mb-4">
        <h2>Location</h2>
        {{ content.field_location }}
      </div>
    {% endif %}
    {% if content.field_related_content|render|striptags %}
      <div class="mb-4">
        <h2>Related</h2>
        {{ content.field_related_content }}
      </div>
    {% endif %}
    {% if content.field_display_groups|render|striptags %}
      <div class="mb-4">
        <h2>Offered by</h2>
        {{ content.field_display_groups }}
      </div>
    {% endif %}
    {% if content.field_topics|render|striptags %}
      <div class="mb-4">
        <h2>Topics</h2>
        {{ content.field_topics }}
      </div>
    {% endif %}
    {% if content.field_neighborhood|render|striptags %}
      <div class="mb-4">
        <h2>Neighborhoods</h2>
        {{ content.field_neighborhood }}
      </div>
    {% endif %}
  </div>
</div>