{# Template for Featured News #}
<div class="row mb-4 mx-4 pb-2 border-bottom border-bottom-light">
  <div class="col pl-0 order-2 order-md-1">
    <h3 class="h4"><a href="{{ url }}">{{ label }}</a></h3>
    <p>{{ content.field_summary.0 }}</p>
    <p class="d-flex flex-wrap">
      <span class="pr-4">
        {% if node.field_updated_on[0].value > node.field_published_on[0].value %}
          <strong>Updated</strong> {{ content.field_updated_on.0 }}
        {% else %}
          {{ content.field_published_on.0 }}
        {% endif %}
      </span>
      <span>{{ content.field_news_type.0 }}</span>
    </p>
  </div>
  {% if content.field_featured_media.0 %}
    <div class="col-12 col-md-6 px-0 pl-md-4 order-1 order-md-2 d-flex align-items-center">
      {{ content.field_featured_media.0 }}
    </div>
  {% endif %}
</div>
