{#
/**
 * @file
 * Theme override to display a taxonomy term.
 *
 * Available variables:
 * - url: URL of the current term.
 * - name: Name of the current term.
 * - content: Items for the content of the term (fields and description).
 *   Use 'content' to print them all, or print a subset such as
 *   'content.description'. Use the following code to exclude the
 *   printing of a given child element:
 *   @code
 *   {{ content|without('description') }}
 *   @endcode
 * - attributes: HTML attributes for the wrapper.
 * - page: Flag for the full page state.
 * - term: The taxonomy term entity, including:
 *   - id: The ID of the taxonomy term.
 *   - bundle: Machine name of the current vocabulary.
 * - view_mode: View mode, e.g. 'full', 'teaser', etc.
 *
 * @see template_preprocess_taxonomy_term()
 */
#}

{% if not page %}
  {% set vocabulary = term.bundle|join %}
  {% if "community_actions" in vocabulary %}
    {% set vocabulary = "Service Type"|t %}
  {% elseif "topic" in vocabulary %}
    {% set vocabulary = "Topic"|t %}
  {% endif %}
  {% include "@components/morsel/morsel.twig" with {
    heading: {
      text: name.0,
      level: 2,
      style_override: 3,
    },
    url: url,
    text: content.description.0,
    type: vocabulary,
  } %}
  {#
    * TODO we'll need a custom preprocess to get the display name of the vocabulary,
    * 'type: term.bundle' is the machine name
  #}
{% else %}
  {%
    set classes = [
      'taxonomy-term',
      'vocabulary-' ~ term.bundle|clean_class,
    ]
  %}
  <div{{ attributes.setAttribute('id', 'taxonomy-term-' ~ term.id).addClass(classes) }}>
    {{ title_prefix }}
    {{ title_suffix }}
    <div class="content">
      {{ content }}
    </div>
  </div>
{% endif %}
