{% set isDismissible = isDismissible|default(FALSE) %}
{% set type = type|default('info') %}
{% set id = id|default('pl-demo-alert') %}

{% set classes= [
    'alert',
	  'alert--' ~ type,
    isDismissible ? 'alert--dismissible',
]%}

<div class="{{ classes|join(' ') }}"
     data-nid="{{ id }}"
     {% if changed %}
        data-changed="{{ changed }}"
     {% endif %}
     {% if isDismissible is same as(true) %}
        role="alert"
        aria-live="polite"
    {% endif %}>
  <div class="alert__wrapper">
    <h5 class="alert__title">
      {{ title }}
      {% if is_draft %}
        {% include "@components/badge/badge.twig" with {
          "text": "Unpublished",
          "type": "danger",
        } only %}
      {% endif %}
    </h5>
    <div class="alert__body">
      {{ content }}
    </div>
    {% if showTimestamp and changed %}
      <span class="small">
        Last updated: {{ changed|date('g:i a F j, Y') }}
      </span>
    {% endif %}
  </div>
  {% if isDismissible %}
    <button type="button"
            class="alert__close"
            data-dismiss="alert"
            aria-label="Dismiss notification">
      <span aria-hidden="true" class="alert__close-contents">
        {% include "@elements/icon/fa.twig" with {
          name: 'window-close',
        } only %}
        Dismiss
      </span>
    </button>
  {% endif %}
</div>
