{# DEFAULTS #}
{% set type = type|default('info') %}
{% set id = id|default('pl-demo-alert') %}
{% set alertIcon %}
  {% include "@components/icon/icon.twig" with {
    name: type == 'info' ? 'information-alert' : (type == 'warning' ? 'warning-alert' : 'information-alert'),
    size: "s",
  } only %}
{% endset %}
{% set description = type == 'info' ? 'informational alert' : (type == 'warning' ? 'important alert' : 'informational alert') %}
{# CLASSES #}
{% set classes= [
    'cloudy-alert',
	  'alert--' ~ type,
]%}
{# TWIG #}
<div class="{{ classes|join(' ')|trim }}"
   data-nid="{{ id }}"
   {% if changed %}
      data-changed="{{ changed }}"
   {% endif %}
   >
  <div class="container">
    <div class="cloudy-alert__wrapper" aria-description="{{ description }}">
      {{ alertIcon }}
      <div class="cloudy-alert__wrapper-inner">
        <div class="cloudy-alert__title fw-bold">{{ title }}</div><div class="cloudy-alert__body">{{ content }}</div>
        {% if showTimestamp and changed %}
          <span class="small">
          Last updated: {{ changed|date('g:i a F j, Y') }}
        </span>
        {% endif %}
      </div>
    </div>
  </div>
</div>
