{# DEFAULTS #}
{% set type = type|default('info') %}
{% set id = id|default('pl-demo-alert') %}
{% set alertIcon %}
  {% include "@elements/icon/icon.twig" with {
    name: type == 'info' ? 'information' : (type == 'warning' ? 'warning' : 'information'),
    size: "s",
  } only %}
{% endset %}
{# CLASSES #}
{% set classes= [
    'alert',
	  'alert--' ~ type,
]%}
{# TWIG #}
<div class="{{ classes|join(' ')|trim }}"
   data-nid="{{ id }}"
   {% if changed %}
      data-changed="{{ changed }}"
   {% endif %}
   >
  <div class="container">
    {% if is_draft %}
      {% include "@components/badge/badge.twig" with {
        "text": "Unpublished",
        "type": "danger",
      } only %}
    {% endif %}
    <div class="alert__wrapper">
      {{ alertIcon }}
      <div class="alert__wrapper-inner">
        <span class="alert__title font-weight-bold">{{ title }}</span><span class="alert__body">{{ content }}</span>
        {% if showTimestamp and changed %}
          <span class="small">
          Last updated: {{ changed|date('g:i a F j, Y') }}
        </span>
        {% endif %}
      </div>
    </div>
  </div>
</div>
