{% set dismissible = dismissible|default(FALSE) %}
{% set type = type|default('info') %}
{% set id = id|default('pl-demo-alert') %}
{% set changed = changed|default(random(100000000)) %}

{% set classes= [
    'portland-alert',
    'cloudy-alert',
	  'cloudy-alert--' ~ type,
    dismissible ? 'cloudy-alert--dismissable',
]%}

<div class="{{ classes|join(' ') }}"
     data-nid="{{ id }}"
     data-changed="{{ changed }}"
     {% if dismissible is same as(true) %}
        role="alert"
        aria-live="polite"
    {% endif %}>
  <div>
    <span class="cloudy-alert__title h5">
    {{ title }}
  </span>
    <div class="cloudy-alert__body">
      {{ content }}
    </div>
  </div>
  {% if dismissible %}
    <button type="button"
            class="cloudy-alert__close"
            data-dismiss="alert"
            aria-label="Dismiss notification">
      <span aria-hidden="true" class="cloudy-alert__close-contents">
        {% include "@elements/icon/fa.twig" with {
          name: 'window-close',
        } only %}
        Dismiss
      </span>
    </button>
  {% endif %}
</div>
