{% set dismissible = dismissible|default(FALSE) %}
{% set type = type|default('info') %}
{% set id = id|default('1234') %}
{% set changed = changed|default('abcd1234') %}

{% set classes= [
    'portland-alert',
    'cloudy-alert',
	type ? 'cloudy-alert--' ~ type,
    dismissible ? 'd-none',
]%}

<div class="{{ classes|join(' ') }}" data-nid="{{ id }}" data-changed="{{ changed }}" {% if dismissible is same as(true) %}role="alert" aria-live="polite"{% endif %}>
    <div class="cloudy-alert__content">
        <span class="cloudy-alert__title">
            {{ title }}
        </span>
        <div class="cloudy-alert__body">
            {{ content }}
        </div>
    </div>
    {% if dismissible %}
        <button type="button" class="cloudy-alert__close" data-dismiss="alert" aria-label="Dismiss notification">
            <span aria-hidden="true">
                {% include "@elements/icon/fa.twig" with {
                    name: 'window-close',
                } only %}
                Dismiss
            </span>
        </button>
    {% endif %}
</div>