{% set isDismissible = isDismissible|default(FALSE) %}
{% set type = type|default('info') %}
{% set id = id|default('pl-demo-alert') %}

{% set classes= [
    'alert',
    'alert--' ~ type,
    isDismissible ? 'alert--dismissible',
]%}

<div class="{{ classes|join(' ') }}"
  data-nid="{{ id }}"
  {% if changed %}
    data-changed="{{ changed }}"
  {% endif %}
  {% if isDismissible is same as(true) %}
        role="alert"
        aria-live="polite"
    {% endif %}>
  <div class="alert__wrapper">
    <div class="alert__title">
      <div class="font-weight-bold">{{ title }}</div>
      {% if is_draft %}
        {% include "@components/badge/badge.twig" with {
          "text": "Unpublished",
          "type": "danger",
        } only %}
      {% endif %}
      {% if isDismissible %}
        <button type="button"
                class="alert__close"
                data-dismiss="alert"
                aria-label="Dismiss notification">
          <span aria-hidden="true" class="alert__close-contents">
            {% include "@elements/icon/icon.twig" with {
              name: 'close',
              size: 'xs'
            } only %}
            Dismiss
          </span>
        </button>
      {% endif %}
    </div>
    <div class="alert__body">
      {{ content }}
    </div>
    {% if showTimestamp and changed %}
      <span class="small">
        Last updated: {{ changed|date('g:i a F j, Y') }}
      </span>
    {% endif %}
  </div>
</div>
