<div class="d-flex flex-column align-items-start mb-6">
  <h3 class="order-1">
    <a href="{{ url }}" rel="bookmark">
      {{ label }}</a>
  </h3>
  {% if content.field_summary %}
    <div class="order-2">
      {% if content.field_start_date.0 is defined or content.field_end_date.0 is defined %}
        <div class="project-dates h5 mb-1"><i class="fas fa-calendar"></i>
          {% if content.field_start_date.0 %}
            {{ content.field_start_date.0 }}
          {% endif %}
          {% if content.field_end_date.0 %}
            through {{ content.field_end_date.0 }}
          {% endif %}
        </div>
      {% endif %}
      <p>{{ content.field_summary.0 }}</p>
    </div>
  {% endif %}
</div>
