<div class="card mb-4">
  <div class="card-body d-flex flex-column align-items-start">
    <h3 class="order-2">
      <a href="{{ url }}" rel="bookmark">
        {{ label }}</a>
    </h3>
    {% if content.field_summary %}
      <div class="order-3">
        {% if content.field_start_date.0 %}
          <div class="project-dates h5 mb-1"><i class="fas fa-calendar"></i>
            {% if content.field_start_date.0 %}
              {{ content.field_start_date.0 }}
            {% endif %}
            {% if content.field_end_date.0 %}
              through {{ content.field_end_date.0 }}
            {% endif %}
          </div>
        {% endif %}
        <p>{{ content.field_summary.0 }}</p>
      </div>
    {% endif %}
    {% if content.field_project_type %}
      <span class="badge badge-pill badge-light mb-1 order-1 align-self-start">
        <span class="sr-only">{{ 'type is'|t }}</span>
          {{ content.field_project_type }}
      </span>
    {% elseif group.type.entity.label %}
      <span class="badge badge-pill badge-light mb-1 order-1 align-self-start">
        <span class="sr-only">{{ 'type is'|t }}</span>
        {{ group.type.entity.label }}
      </span>
    {% endif %}
  </div>
</div>
