{% embed "@cloudy/components/card.html.twig" with {
  'margin': 3,
  'type': content.field_project_type,
  'description': content.field_summary,
} %}
  {% block meta %}
    <div class="meta">
      {%
        set meta_classes = meta_classes|default([
          'mb-1',
        ])
      %}
      {% set start_date = content.field_start_date.0 %}
      {% set end_date = content.field_end_date.0 %}
      {% if start_date and end_date %}
        <div{{ meta_attributes.addClass(meta_classes, 'event--date') }}>
          <time>{{ start_date }}</time>
          <span class="px-1">{{ "to"|t }}</span>
          <time>{{ end_date }}</time>
        </div>
      {% elseif start_date %}
        <div{{ meta_attributes.addClass(meta_classes, 'event--date') }}>
          <time>{{ start_date }}</time>
        </div>
      {% endif %}
    </div>
  {% endblock %}
{% endembed %}
