{% set is_draft = node.isPublished() ? false : true %}
{% set title = label %}
<div class="col mb-10">
  <div class="card border-2 rounded-0 h-100">
    <a href="{{ url }}">{{ content.field_featured_media }}</a>
    <div class="card-body">
      {% if is_draft %}
        {% include '@components/badge/badge.twig' with {
          text: 'unpublished'|t|capitalize,
          type: 'danger',
          mb: 2
        } only %}
      {% endif %}
      <h3 class="card-title h4 mb-0 text-primary"><a href="{{ url }}" class="streched-link">{{ label }}</a></h3>
      <p class="card-text">
        {{ content|without('field_menu_link_text','field_featured_media') }}
      </p>
    </div>
  </div>
</div>
