{% set item_classes =
  item_classes
    |default([])
    |merge(
      [
        'tile',
        item_alignment ? 'align-items-' ~ item_alignment,
        'text-decoration-none',
        'text-center',
        'p-4',
        'flex-grow-1',
        'nav-link'
      ]
    )
%}

{% set content_classes = content_classes|default(['d-flex', 'flex-column']) %}

<a href="{{ content.url }}" class="{{ item_classes|join(' ')|trim }}">
  {% if image %}
    <div class="mr-4">
      {{ image }}
    </div>
  {% endif %}
  {% block content %}
    <div class="{{ content_classes|join(' ') }}">
      <span class="h5 mb-0">{{ content.field_menu_link_text }}</span>
    </div>
  {% endblock %}
</a>
