{{ drupal_breakpoint() }}
{% set overline %}
  {% set group_label = group.type.entity.label|title %}
  {% if group_label %}
    {% include '@components/badge/badge.twig' with {
      text: group_label,
      mb: 4
    } only %}
  {% endif %}
{% endset %}

{% set contact %}
  {% if content.field_contact[0] %}
    {{ content.field_contact }}
  {% else %}
      {% include '@components/heading/heading.twig' with {
        level: 3,
        style: 5,
        text: "Follow on Social Media"|t,
        classes: ['order-1', 'mb-4']
      } only %}
    {{ content.field_email }}
    {{ content.field_phone }}
    {{ content.field_facebook }}
    {{ content.field_twitter }}
    {{ content.field_instagram }}
    {{ content.field_linkedin_link }}
    {{ content.field_nextdoor_link }}
    {{ content.field_youtube_link }}
  {% endif %}
{% endset %}
{% set location %}
  {{ content.field_location }}
{% endset %}

{% set left %}
  {% if content.field_logo.0|render|trim is not empty %}
    <div class="mb-4">{{ content.field_logo }}</div>
  {% endif %}
  {% if label|trim is not empty %}
    <h1 class="page-title">{{ label }}</h1>
  {% endif %}
  {% if overline|trim is not empty %}
    <div class="mb-4">{{ overline }}</div>
  {% endif %}
  {% if content.field_summary.0|render|trim is not empty and content.field_featured_media.0|render|trim is not empty %}
    <div class="cloudy-lead-text mb-8 mb-md-0">{{ content.field_summary }}</div>
  {% elseif content.field_summary.0|render|trim is not empty %}
    <div class="cloudy-lead-text mb-0">{{ content.field_summary }}</div>
  {% endif %}
{% endset %}

{% set right %}
  {{ content.field_featured_media }}
{% endset %}

{% set body_header %}
  {{ drupal_view('group_site_menu', 'entity_view_1')|render }}
{% endset %}

{% set body_body %}
  {{ content.field_featured_content|render }}
  <h2 class="mb-8">{{ "Contact Us"|t }}</h2>
<div class="row mb-4">
  <div class="col-6">
    {{ contact }}
  </div>
  <div class="col-6">
    {{ location }}
  </div>
</div>

  {{ content.field_featured_groups|render }}
{% endset %}

{% spaceless %}
  {% if left|trim|length or right|trim|length %}
    <div class="row mb-8">
      <div class="col">
        {% if left|trim|length %}
          {{ left }}
        {% endif %}
      </div>
      {% if right|trim|length %}
        <div class="col-sm-12 col-md-6 my-auto">
          {{ right }}
        </div>
      {% endif %}
    </div>
    {% if body_header|striptags|trim is not empty %}
      <div class="row">
        <div class="col-12">{{ body_header }}</div>
      </div>
    {% endif %}

    {% if body_body|striptags|trim is not empty %}
      <div class="row">
        <div class="col-12">{{ body_body }}</div>
      </div>
    {% endif %}
  {% endif %}
{% endspaceless %}
