{% set overline %}
  {% set group_label = group.type.entity.label|title %}
  {% if group_label %}
    {% include '@components/badge/badge.twig' with {
      text: group_label,
      mb: 4
    } only %}
  {% endif %}
{% endset %}

{% set contact %}
  {% if content.field_contact[0] %}
    {{ content.field_contact }}
  {% else %}
    {{ content.field_email }}
    {{ content.field_phone }}
    {{ content.field_facebook }}
    {{ content.field_twitter }}
    {{ content.field_instagram }}
  {% endif %}
{% endset %}

{% set left %}
  {% if content.field_logo.0|render|trim is not empty %}
    <div class="mb-4">{{ content.field_logo }}</div>
  {% endif %}
  {% if label|trim is not empty %}
    <h1 class="page-title">{{ label }}</h1>
  {% endif %}
  {% if overline|trim is not empty %}
    <div class="mb-4">{{ overline }}</div>
  {% endif %}
  {% if content.field_summary.0|render|trim is not empty and content.field_featured_media.0|render|trim is not empty %}
    <div class="cloudy-lead-text mb-8 mb-md-0">{{ content.field_summary }}</div>
  {% elseif content.field_summary.0|render|trim is not empty %}
    <div class="cloudy-lead-text mb-0">{{ content.field_summary }}</div>
  {% endif %}
{% endset %}

{% set right %}
  {{ content.field_featured_media }}
{% endset %}

{% set body_header %}
  {{ content.group_site_menu_entity_view_1 }}
{% endset %}

{% set body_body %}
  {{ content.field_featured_content }}
  {{ content.field_featured_groups }}
{% endset %}

{% spaceless %}
  {% if left|trim|length or right|trim|length %}
    <div class="row mb-8">
      <div class="col">
        {% if left|trim|length %}
          {{ left }}
        {% endif %}
      </div>
      {% if right|trim|length %}
        <div class="col-sm-12 col-md-6 my-auto">
          {{ right }}
        </div>
      {% endif %}
    </div>
    <div class="row">
      <div class="col-12">{{ body_header }}</div>
      <div class="col-12">{{ body_body }}</div>
    </div>
  {% endif %}
{% endspaceless %}
