{% set overline %}
  {% set group_label = group.type.entity.label|title %}
  {% if group_label %}
    {% include '@components/badge/badge.twig' with {
      text: group_label,
      mb: 4
    } only %}
  {% endif %}
{% endset %}

{% set contact %}
  {{ content.field_contact }}
{% endset %}

{% set location %}
  {{ content.field_location }}
{% endset %}

{% set group_menu %}
  {{ drupal_view('group_site_menu', 'entity_view_1')|render }}
{% endset %}

{% set header_left %}
  {% if content.field_logo.0|render|trim is not empty %}
    <div class="mb-4">{{ content.field_logo }}</div>
  {% endif %}
  {% if label|trim is not empty %}
    <h1 class="page-title">{{ label }}</h1>
  {% endif %}
  {% if overline|trim is not empty %}
    <div class="mb-4">{{ overline }}</div>
  {% endif %}
  {% if content.field_summary.0|render|trim is not empty and content.field_featured_media.0|render|trim is not empty %}
    <div class="cloudy-lead-text mb-8 mb-md-0">{{ content.field_summary }}</div>
  {% elseif content.field_summary.0|render|trim is not empty %}
    <div class="cloudy-lead-text mb-0">{{ content.field_summary }}</div>
  {% endif %}
{% endset %}

{% set header_right %}
  {{ content.field_featured_media }}
{% endset %}

{% set body_contact %}
  {% if contact|trim is not empty and location|render|striptags|trim is not empty %}
    <div class="col-12 col-md-8 col-lg-6">
      {{ contact }}
    </div>
    <div class="col-12 col-md-4 col-lg-6">
      {{ location }}
    </div>
  {% elseif contact|trim is not empty and location|trim is empty %}
    <div class="col-12">
      {{ contact }}
    </div>
  {% elseif contact.0|render|striptags|trim is empty and location|trim is not empty %}
    <div class="col-12">
      {{ location }}
    </div>
  {% endif %}
{% endset %}

{% set body_featured_content %}
  {{ content.field_featured_content|render }}
{% endset %}

{% set body_featured_groups %}
  {{ content.field_featured_groups|render }}
{% endset %}

{% spaceless %}
  {% if header_left|trim|length or header_right|trim|length %}
    <div class="row mb-8">
      {% if header_left|trim|length %}
        <div class="col">
          {{ header_left }}
        </div>
      {% endif %}
      {% if header_right|trim|length %}
        <div class="col-sm-12 col-md-6 my-auto">
          {{ header_right }}
        </div>
      {% endif %}
    </div>
    {% if group_menu|striptags|trim is not empty %}
      <div class="row">
        <div class="col-12">{{ group_menu }}</div>
      </div>
    {% endif %}
    {% if body_featured_content|striptags|trim is not empty %}
      <div class="row">
        <div class="col-12">{{ body_featured_content }}</div>
      </div>
    {% endif %}
    {% if body_contact|striptags|trim is not empty %}
      <h2 class="mb-4">{{ "Contact Us"|t }}</h2>
      <div class="row mb-8">
        {{ body_contact }}
      </div>
    {% endif %}
    {% if body_featured_groups|striptags|trim is not empty %}
      <div class="row">
        <div class="col-12">{{ body_featured_groups }}</div>
      </div>
    {% endif %}
  {% endif %}
{% endspaceless %}
