{% set group_label = group.type.entity.label|title %}

{% set overline %}
  {% if group_label %}
    {% include '@components/badge/badge.twig' with {
      text: group_label,
      mb: 4
    } only %}
  {% endif %}
{% endset %}

{% set left %}
  <div class="mb-4">{{ content.field_logo }}</div>
  <h1>{{ drupal_title() }}</h1>
  {{ overline }}
  <div class="mb-4">{{ content.field_summary }}</div>
  <div class="d-flex align-items-center mb-4">
    {# TODO: Add check for social fields #}
    <i class="fab fa-facebook fa-2x mr-4"></i>
    <i class="fab fa-twitter fa-2x mr-4"></i>
    <i class="fab fa-instagram fa-2x mr-4"></i>
    <i class="fab fa-youtube fa-2x mr-4"></i>
    <i class="fab fa-linkedin fa-2x mr-4"></i>
    {% include '@elements/icon/icon.twig' with {
      name: 'nextdoor',
      size: 'xl'
    } only %}
  </div>
{% endset %}

{% set contact %}
  {% if content.field_contact[0] %}
    {{ content.field_contact }}
  {% else %}
    {{ content.field_email }}
    {{ content.field_phone }}
    {{ content.field_facebook }}
    {{ content.field_twitter }}
    {{ content.field_instagram }}
  {% endif %}
{% endset %}

{% set right %}
  {{ content.field_featured_media }}
{% endset %}

{% set body_header %}
  {{ content.group_site_menu_entity_view_1 }}
{% endset %}

{% set body_body %}
  {{ content.field_featured_content }}
  {{ content.field_featured_groups }}
{% endset %}

{# TODO: Add title to first col under logo #}
{# TODO: Featured image vertically centered #}
{# TODO: Scope featured image to b/o home #}
{# TODO: Check page margin bottom I think used to be 5 #}
{# TODO: Current hero images may need recropped due to new image style #}
{% spaceless %}
  <div class="row">
    <div class="col-sm-12 col-md-6">
      {% if left|trim|length %}
        {{ left }}
        {# Add social icons #}
      {% endif %}
    </div>
    <div class="col-sm-12 col-md-6 my-auto">
      {% if right|trim|length %}
        {{ right }}
      {% endif %}
    </div>
  </div>
  <div class="row">
    <div class="col-12">{{ body_header }}</div>
    <div class="col-12">{{ body_body }}</div>
    <div class="col-12">{{ body_footer }}</div>
  </div>
{% endspaceless %}
