<div{{ attributes }}>
  <div class="d-flex flex-column align-items-start mb-6">

    {{ title_prefix }}
    <h2{{ title_attributes }}>
      <a href="{{ url }}" rel="bookmark">{{ label }}</a>
    </h2>
    {{ title_suffix }}

    <div{{ content_attributes }}>
      {{ content }}
    </div>
  </div>
</div>
