<div class="card mb-4">
  <div class="card-body d-flex flex-column align-items-start">
  <h3 class="order-2">
    <a href="{{ url }}" rel="bookmark">
      {{ label }}</a>
  </h3>
  {% if content.field_summary %}
    <div class="order-3">
      <p>{{ content.field_summary.0 }}</p>
    </div>
  {% endif %}
  {% if group.type.entity.label %}
    <div class="badge badge-pill badge-light order-1 align-self-start">
      <span class="sr-only">{{ 'type is'|t }}</span>
        {{ group.type.entity.label }}
    </div>
  {% endif %}
  </div>
</div>
