{#
/**
 * @file
 * Theme override to display embedded code chapters and sections.
 */
#}
{%
  set classes = [
    content.field_code_level.value.0,
    view_mode ? 'node--' ~ view_mode|clean_class,
  ]
%}
{% if content.field_code_level.0|render|striptags|spaceless == "Chapter" %}
    {% set heading_level = "h2" %}
{% else %}
     {% set heading_level = "h3" %}
{% endif %}

<div{{ attributes.addClass(classes) }}>
    <{{ heading_level }}>
        <a href="{{ url }}" rel="bookmark">{{ label }}</a>
    </{{ heading_level }}>
    {{ content|without('field_code_level') }}
</div>
