{# CLASSES #}
{% set classes = [
  'cloudy-contact-items',
] %}
{# TWIG #}
<div class="{{ classes|join(' ')|trim }}">
  {% if heading.text %}
    <div class="cloudy-contact-items__heading">
      {% include "@components/heading/heading.twig" with {
        text: heading.text,
      } only %}
    </div>
  {% endif %}
  <div class="cloudy-contact-items__resources">
    {% for resource in resources %}
      <div class="cloudy-contact-items__resource">
        {% if resource.name %}
          {% include "@components/heading/heading.twig" with {
            text: resource.name,
            level: 5,
          } %}
        {% endif %}
        {% if resource.description %}
          <p>{{ resource.description }}</p>
        {% endif %}
        {% for item in resource.items %}
          {% if item.phone %}
            <div class="cloudy-contact-items__resource-wrapper">
              <a class="cloudy-contact-items__resource-link" href="tel:{{ item.phone }}">{{ item.phone }}</a>
            </div>
          {% endif %}
          {% if item.phone_note %}
            <p class="cloudy-helper-text">{{ item.phone_note }}</p>
          {% endif %}
          {% if item.email %}
            <div class="cloudy-contact-items__resource-wrapper">
              <a class="cloudy-contact-items__resource-link" href="mailto:{{ item.email }}">{{ item.email }}</a>
            </div>
          {% endif %}
          {% if item.email_note %}
            <p class="cloudy-helper-text">{{ item.email_note }}</p>
          {% endif %}
        {% endfor %}
      </div>
    {% endfor %}
  </div>
</div>
