{% set type = type|default('primary') %}
{% set classes = [
  'council-agenda-item',
  'council-agenda-item--type-' ~ type,
] %}

<div class="{{ classes | join(' ') }}">
  <h3>
    {% if number %}<span class="council-agenda-item__number">Agenda Item {{ number }}</span> {% endif %}
    {% if type %}<span class="council-agenda-item__type">{{ type }}</span> {% endif %}
    {% if status %}<span class="council-agenda-item__status">{{ status }}</span> {% endif %}
  </h3>
  {% if time_certain %}
    <div class="council-agenda-item__time_certain">Time Certain: {{ time_certain }}{% if time_requested %} <span class="council-agenda-item__time_requested">Time Requested: {{ time_requested }}</span>{% endif %}</div>
  {% endif %}
  {% if note %}<div class="council-agenda-item__note">{{ note }}</div>{% endif %}
  {% if disposition %}<div class="council-agenda-item__disposition">{{ disposition }}</div>{% endif %}
  {% if council_document %}<div class="council-agenda-item__council_document">{{ council_document }}</div>{% endif %}
  {% if votes %}<div class="council-agenda-item__votes">{{ votes }}</div>{% endif %}
</div>
