{% set classes = [
  'council-agenda-item',
  'council-agenda-item--type-' ~ type
] %}

<div class="{{ classes | join(' ') }}">
  <h4>
    {% if number %}<span class="council-agenda-item__number"> {{ number }}</span>{% endif %}
    {% if type %}<span class="council-agenda-item__type"> {{ type }}</span> {% endif %}

  </h4>
  {% if time_certain %}
    <div class="council-agenda-item__time_certain">{{ time_certain }}
    {% if time_requested %} <span class="council-agenda-item__time_requested"> {{ time_requested }}</span>{% endif %}</div>
  {% endif %}
  {% if "true" in emergency %}
    <span class="council-agenda-item__emergency">
      {% include "@components/badge/badge.twig" with {
        text: "Emergency",
        type: "danger",
      } only %}
    </span>
  {% endif %}
  {% if council_document %}<div class="council-agenda-item__council_document">{{ council_document }}</div>{% endif %}
  {% if note %}<div class="council-agenda-item__note">{{ note }}</div>{% endif %}
  {% if disposition or dispositionNotes %}
    <p class="council-agenda-item__disposition">
    {% if disposition %}{{ disposition }}{% endif %}
    {% if dispositionNotes %}{{ dispositionNotes }}{% endif %}
    </p>
  {% endif %}
  {% if votes %}<div class="council-agenda-item__votes">{{ votes }}</div>{% endif %}
</div>
