<div class="row">
  <div class="col-lg-8 col-md-12">
    <article{{ attributes }}>
      <p class="lead">
        {{ content.field_summary.0 }}
      </p>
      <div{{ content_attributes.addClass('node__content', 'clearfix') }}>
        {{ content|without('field_summary','field_contact','field_location','field_online_application','field_related_content','field_display_groups','field_topics') }}
      </div>
    </article>
  </div>
  <div class="cloudy-side col-lg-4 col-md-12">
    {{ content.field_online_application }}
    {{ content.field_contact }}
    {{ content.field_location }}
    {{ content.field_related_content }}
    {{ content.field_topics }}
    {% set view_news = drupal_block('views_block:news_on_content-block_2')|length %}
    {% if view_news > 0 %}
      {{ drupal_block('views_block:news_on_content-block_2') }}
    {% endif %}
  </div>
</div>