<div class="d-flex flex-column align-items-start mb-4">
  <h2 class="order-2">
    <a href="{{ url }}" rel="bookmark">
      {{ label }}</a>
  </h2>
  {% if node.field_summary.value %}
    <div class="order-3">
      <p>{{ node.field_summary.value }}</p>
    </div>
  {% endif %}
  <div class="badge badge-light mb-1 order-1 align-self-start">
    <span class="sr-only">{{ 'type is'|t }}</span>
    {% if content.field_permit_type %}
      {{ content.field_permit_type }}
    {% else %}
      {{ node.type.entity.label }}
    {% endif %}
  </div>
</div>
